ewlnss-adapter-wsdl/BoltOnOfferService-ws-client/src/main/resources/wsdls/BoltOnOfferService_v3_0.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy"
                  xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                  xmlns:wss="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd"
                  xmlns:xs="http://www.w3.org/2001/XMLSchema"
                  xmlns:ping="http://xmlschema.tmi.telus.com/xsd/Enterprise/BaseTypes/types/ping_v1"
                  xmlns:ex="http://xmlschema.tmi.telus.com/xsd/Enterprise/BaseTypes/Exceptions_v3"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:shttp="http://soa.com/wsdl/http"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:iface="http://telus.com/wsdl/MSO/CampaignMgmt/BoltOnOfferService_3"
                  xmlns:bors="http://xmlschema.tmi.telus.com/srv/MSO/CampaignMgmt/BoltOnOfferServiceRequestResponse_v3"
                  targetNamespace="http://telus.com/wsdl/MSO/CampaignMgmt/BoltOnOfferService_3"><!--	
	Generated File:
		This file was generated by the following xslt:
			http://xmlschema.tmi.telus.com/xsd/common/utils/xmlToWsdl/xmlToWsdl_v4_0.xslt
		Based on a ServiceDefinition.xml file that conforms to the following schema:
			http://xmlschema.tmi.telus.com/xsd/common/utils/xmlToWsdl/ServiceDefinition_v3_2.xsd
				--><wsdl:types>
      <xsd:schema targetNamespace="http://telus.com/wsdl/MSO/CampaignMgmt/BoltOnOfferService_3">
         <xsd:import namespace="http://xmlschema.tmi.telus.com/srv/MSO/CampaignMgmt/BoltOnOfferServiceRequestResponse_v3"
                     schemaLocation="http://xmlschema.tmi.telus.com/srv/MSO/CampaignMgmt/BoltOnOfferServiceRequestResponse_v3_0.xsd"/>
         <xsd:import namespace="http://xmlschema.tmi.telus.com/xsd/Enterprise/BaseTypes/Exceptions_v3"
                     schemaLocation="http://xmlschema.tmi.telus.com/xsd/Enterprise/BaseTypes/Exceptions_v3_0.xsd"/>
         <xsd:import namespace="http://xmlschema.tmi.telus.com/xsd/Enterprise/BaseTypes/types/ping_v1"
                     schemaLocation="http://xmlschema.tmi.telus.com/xsd/Enterprise/BaseTypes/types/ping_v1.xsd"/>
      </xsd:schema>
   </wsdl:types>
   <wsdl:message name="getEligibleOfferList">
      <wsdl:part name="parameters" element="bors:getEligibleOfferList"/>
   </wsdl:message>
   <wsdl:message name="getEligibleOfferListResponse">
      <wsdl:part name="result" element="bors:getEligibleOfferListResponse"/>
   </wsdl:message>
   <wsdl:message name="getActiveOfferList">
      <wsdl:part name="parameters" element="bors:getActiveOfferList"/>
   </wsdl:message>
   <wsdl:message name="getActiveOfferListResponse">
      <wsdl:part name="result" element="bors:getActiveOfferListResponse"/>
   </wsdl:message>
   <wsdl:message name="setOfferOutcomeList">
      <wsdl:part name="parameters" element="bors:setOfferOutcomeList"/>
   </wsdl:message>
   <wsdl:message name="setOfferOutcomeListResponse">
      <wsdl:part name="result" element="bors:setOfferOutcomeListResponse"/>
   </wsdl:message>
   <wsdl:message name="getAssignedOfferList">
      <wsdl:part name="parameters" element="bors:getAssignedOfferList"/>
   </wsdl:message>
   <wsdl:message name="getAssignedOfferListResponse">
      <wsdl:part name="result" element="bors:getAssignedOfferListResponse"/>
   </wsdl:message>
   <wsdl:message name="getBoltOnOfferHistoryList">
      <wsdl:part name="parameters" element="bors:getBoltOnOfferHistoryList"/>
   </wsdl:message>
   <wsdl:message name="getBoltOnOfferHistoryListResponse">
      <wsdl:part name="result" element="bors:getBoltOnOfferHistoryListResponse"/>
   </wsdl:message>
   <wsdl:message name="getShippingAddress">
      <wsdl:part name="parameters" element="bors:getShippingAddress"/>
   </wsdl:message>
   <wsdl:message name="getShippingAddressResponse">
      <wsdl:part name="result" element="bors:getShippingAddressResponse"/>
   </wsdl:message>
   <wsdl:message name="changeOfferTermInformation">
      <wsdl:part name="parameters" element="bors:changeOfferTermInformation"/>
   </wsdl:message>
   <wsdl:message name="changeOfferTermInformationResponse">
      <wsdl:part name="result" element="bors:changeOfferTermInformationResponse"/>
   </wsdl:message>
   <wsdl:message name="transferOffer">
      <wsdl:part name="parameters" element="bors:transferOffer"/>
   </wsdl:message>
   <wsdl:message name="transferOfferResponse">
      <wsdl:part name="result" element="bors:transferOfferResponse"/>
   </wsdl:message>
   <wsdl:message name="addOfferComment">
      <wsdl:part name="parameters" element="bors:addOfferComment"/>
   </wsdl:message>
   <wsdl:message name="addOfferCommentResponse">
      <wsdl:part name="result" element="bors:addOfferCommentResponse"/>
   </wsdl:message>
   <wsdl:message name="modifyOfferInformation">
      <wsdl:part name="parameters" element="bors:modifyOfferInformation"/>
   </wsdl:message>
   <wsdl:message name="modifyOfferInformationResponse">
      <wsdl:part name="result" element="bors:modifyOfferInformationResponse"/>
   </wsdl:message>
   <wsdl:message name="getAvailableServiceInstanceList">
      <wsdl:part name="parameters" element="bors:getAvailableServiceInstanceList"/>
   </wsdl:message>
   <wsdl:message name="getAvailableServiceInstanceListResponse">
      <wsdl:part name="result" element="bors:getAvailableServiceInstanceListResponse"/>
   </wsdl:message>
   <wsdl:message name="registerMigrationOffer">
      <wsdl:part name="parameters" element="bors:registerMigrationOffer"/>
   </wsdl:message>
   <wsdl:message name="registerMigrationOfferResponse">
      <wsdl:part name="result" element="bors:registerMigrationOfferResponse"/>
   </wsdl:message>
   <wsdl:message name="abandonOffer">
      <wsdl:part name="parameters" element="bors:abandonOffer"/>
   </wsdl:message>
   <wsdl:message name="abandonOfferResponse">
      <wsdl:part name="result" element="bors:abandonOfferResponse"/>
   </wsdl:message>
   <wsdl:message name="getMessageList">
      <wsdl:part name="parameters" element="bors:getMessageList"/>
   </wsdl:message>
   <wsdl:message name="getMessageListResponse">
      <wsdl:part name="result" element="bors:getMessageListResponse"/>
   </wsdl:message>
   <wsdl:message name="ping">
      <wsdl:part name="parameters" element="ping:ping"/>
   </wsdl:message>
   <wsdl:message name="pingResponse">
      <wsdl:part name="result" element="ping:pingResponse"/>
   </wsdl:message>
   <wsdl:message name="ServiceException">
      <wsdl:part name="fault" element="ex:ServiceException"/>
   </wsdl:message>
   <wsdl:portType name="BoltOnOfferService_v3_0_PortType">
      <wsdl:operation name="getEligibleOfferList">
         <wsdl:input message="iface:getEligibleOfferList"/>
         <wsdl:output message="iface:getEligibleOfferListResponse"/>
         <wsdl:fault name="ServiceException" message="iface:ServiceException"/>
      </wsdl:operation>
      <wsdl:operation name="getActiveOfferList">
         <wsdl:input message="iface:getActiveOfferList"/>
         <wsdl:output message="iface:getActiveOfferListResponse"/>
         <wsdl:fault name="ServiceException" message="iface:ServiceException"/>
      </wsdl:operation>
      <wsdl:operation name="setOfferOutcomeList">
         <wsdl:input message="iface:setOfferOutcomeList"/>
         <wsdl:output message="iface:setOfferOutcomeListResponse"/>
         <wsdl:fault name="ServiceException" message="iface:ServiceException"/>
      </wsdl:operation>
      <wsdl:operation name="getAssignedOfferList">
         <wsdl:input message="iface:getAssignedOfferList"/>
         <wsdl:output message="iface:getAssignedOfferListResponse"/>
         <wsdl:fault name="ServiceException" message="iface:ServiceException"/>
      </wsdl:operation>
      <wsdl:operation name="getBoltOnOfferHistoryList">
         <wsdl:input message="iface:getBoltOnOfferHistoryList"/>
         <wsdl:output message="iface:getBoltOnOfferHistoryListResponse"/>
         <wsdl:fault name="ServiceException" message="iface:ServiceException"/>
      </wsdl:operation>
      <wsdl:operation name="getShippingAddress">
         <wsdl:input message="iface:getShippingAddress"/>
         <wsdl:output message="iface:getShippingAddressResponse"/>
         <wsdl:fault name="ServiceException" message="iface:ServiceException"/>
      </wsdl:operation>
      <wsdl:operation name="changeOfferTermInformation">
         <wsdl:input message="iface:changeOfferTermInformation"/>
         <wsdl:output message="iface:changeOfferTermInformationResponse"/>
         <wsdl:fault name="ServiceException" message="iface:ServiceException"/>
      </wsdl:operation>
      <wsdl:operation name="transferOffer">
         <wsdl:input message="iface:transferOffer"/>
         <wsdl:output message="iface:transferOfferResponse"/>
         <wsdl:fault name="ServiceException" message="iface:ServiceException"/>
      </wsdl:operation>
      <wsdl:operation name="addOfferComment">
         <wsdl:input message="iface:addOfferComment"/>
         <wsdl:output message="iface:addOfferCommentResponse"/>
         <wsdl:fault name="ServiceException" message="iface:ServiceException"/>
      </wsdl:operation>
      <wsdl:operation name="modifyOfferInformation">
         <wsdl:input message="iface:modifyOfferInformation"/>
         <wsdl:output message="iface:modifyOfferInformationResponse"/>
         <wsdl:fault name="ServiceException" message="iface:ServiceException"/>
      </wsdl:operation>
      <wsdl:operation name="getAvailableServiceInstanceList">
         <wsdl:input message="iface:getAvailableServiceInstanceList"/>
         <wsdl:output message="iface:getAvailableServiceInstanceListResponse"/>
         <wsdl:fault name="ServiceException" message="iface:ServiceException"/>
      </wsdl:operation>
      <wsdl:operation name="registerMigrationOffer">
         <wsdl:input message="iface:registerMigrationOffer"/>
         <wsdl:output message="iface:registerMigrationOfferResponse"/>
         <wsdl:fault name="ServiceException" message="iface:ServiceException"/>
      </wsdl:operation>
      <wsdl:operation name="abandonOffer">
         <wsdl:input message="iface:abandonOffer"/>
         <wsdl:output message="iface:abandonOfferResponse"/>
         <wsdl:fault name="ServiceException" message="iface:ServiceException"/>
      </wsdl:operation>
      <wsdl:operation name="getMessageList">
         <wsdl:input message="iface:getMessageList"/>
         <wsdl:output message="iface:getMessageListResponse"/>
         <wsdl:fault name="ServiceException" message="iface:ServiceException"/>
      </wsdl:operation>
      <wsdl:operation name="ping">
         <wsdl:input message="iface:ping"/>
         <wsdl:output message="iface:pingResponse"/>
         <wsdl:fault name="ServiceException" message="iface:ServiceException"/>
      </wsdl:operation>
   </wsdl:portType>
   <wsdl:binding name="BoltOnOfferService_v3_0_SOAP"
                 type="iface:BoltOnOfferService_v3_0_PortType">
      <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
      <wsdl:operation name="getEligibleOfferList">
         <wsdl:documentation>Retrieves a list of Bolt-On offers, which can be accpeted by a customer. </wsdl:documentation>
         <soap:operation soapAction="getEligibleOfferList"/>
         <wsdl:input>
            <soap:body use="literal" parts="parameters"/>
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal" parts="result"/>
         </wsdl:output>
         <wsdl:fault name="ServiceException">
            <soap:fault name="ServiceException" use="literal"/>
         </wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="getActiveOfferList">
         <wsdl:documentation>Retreives a list of active/current offers under a customer account</wsdl:documentation>
         <soap:operation soapAction="getActiveOfferList"/>
         <wsdl:input>
            <soap:body use="literal" parts="parameters"/>
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal" parts="result"/>
         </wsdl:output>
         <wsdl:fault name="ServiceException">
            <soap:fault name="ServiceException" use="literal"/>
         </wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="setOfferOutcomeList">
         <wsdl:documentation>Sets Bolt-On offer outcome (Accepted, Cancelled, etc.). </wsdl:documentation>
         <soap:operation soapAction="setOfferOutcomeList"/>
         <wsdl:input>
            <soap:body use="literal" parts="parameters"/>
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal" parts="result"/>
         </wsdl:output>
         <wsdl:fault name="ServiceException">
            <soap:fault name="ServiceException" use="literal"/>
         </wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="getAssignedOfferList">
         <wsdl:documentation>Retreives a list of assigned bolt-on offer(s) under a customer account. </wsdl:documentation>
         <soap:operation soapAction="getAssignedOfferList"/>
         <wsdl:input>
            <soap:body use="literal" parts="parameters"/>
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal" parts="result"/>
         </wsdl:output>
         <wsdl:fault name="ServiceException">
            <soap:fault name="ServiceException" use="literal"/>
         </wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="getBoltOnOfferHistoryList">
         <wsdl:documentation>Retreives a list of bolt-on offers with all activities histo</wsdl:documentation>
         <soap:operation soapAction="getBoltOnOfferHistoryList"/>
         <wsdl:input>
            <soap:body use="literal" parts="parameters"/>
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal" parts="result"/>
         </wsdl:output>
         <wsdl:fault name="ServiceException">
            <soap:fault name="ServiceException" use="literal"/>
         </wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="getShippingAddress">
         <wsdl:documentation>Retrieves shipping address information associated with a Bolt-On offer in a customer account</wsdl:documentation>
         <soap:operation soapAction="getShippingAddress"/>
         <wsdl:input>
            <soap:body use="literal" parts="parameters"/>
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal" parts="result"/>
         </wsdl:output>
         <wsdl:fault name="ServiceException">
            <soap:fault name="ServiceException" use="literal"/>
         </wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="changeOfferTermInformation">
         <wsdl:documentation>Modifies term informatoin including remaining term and tab balance for a customer's bolt-on offer</wsdl:documentation>
         <soap:operation soapAction="changeOfferTermInformation"/>
         <wsdl:input>
            <soap:body use="literal" parts="parameters"/>
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal" parts="result"/>
         </wsdl:output>
         <wsdl:fault name="ServiceException">
            <soap:fault name="ServiceException" use="literal"/>
         </wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="transferOffer">
         <wsdl:documentation>Transfers Bolt-On offer from one customer to another customer</wsdl:documentation>
         <soap:operation soapAction="transferOffer"/>
         <wsdl:input>
            <soap:body use="literal" parts="parameters"/>
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal" parts="result"/>
         </wsdl:output>
         <wsdl:fault name="ServiceException">
            <soap:fault name="ServiceException" use="literal"/>
         </wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="addOfferComment">
         <wsdl:documentation>Adds a comment to a Bolt-On offer that the customer has. </wsdl:documentation>
         <soap:operation soapAction="addOfferComment"/>
         <wsdl:input>
            <soap:body use="literal" parts="parameters"/>
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal" parts="result"/>
         </wsdl:output>
         <wsdl:fault name="ServiceException">
            <soap:fault name="ServiceException" use="literal"/>
         </wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="modifyOfferInformation">
         <wsdl:documentation>Modify existing information of a bolt-on offer associated with a customer accoun</wsdl:documentation>
         <soap:operation soapAction="modifyOfferInformation"/>
         <wsdl:input>
            <soap:body use="literal" parts="parameters"/>
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal" parts="result"/>
         </wsdl:output>
         <wsdl:fault name="ServiceException">
            <soap:fault name="ServiceException" use="literal"/>
         </wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="getAvailableServiceInstanceList">
         <wsdl:documentation>Get a list of available service instances associated with the customer accoun</wsdl:documentation>
         <soap:operation soapAction="getAvailableServiceInstanceList"/>
         <wsdl:input>
            <soap:body use="literal" parts="parameters"/>
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal" parts="result"/>
         </wsdl:output>
         <wsdl:fault name="ServiceException">
            <soap:fault name="ServiceException" use="literal"/>
         </wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="registerMigrationOffer">
         <wsdl:documentation>Register a migration offer in a customer account. </wsdl:documentation>
         <soap:operation soapAction="registerMigrationOffer"/>
         <wsdl:input>
            <soap:body use="literal" parts="parameters"/>
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal" parts="result"/>
         </wsdl:output>
         <wsdl:fault name="ServiceException">
            <soap:fault name="ServiceException" use="literal"/>
         </wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="abandonOffer">
         <wsdl:documentation>Abandon offer evaluation for a customer account, then evaluation cache will be refreshed. </wsdl:documentation>
         <soap:operation soapAction="abandonOffer"/>
         <wsdl:input>
            <soap:body use="literal" parts="parameters"/>
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal" parts="result"/>
         </wsdl:output>
         <wsdl:fault name="ServiceException">
            <soap:fault name="ServiceException" use="literal"/>
         </wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="getMessageList">
         <wsdl:documentation>Get a list of messages eligible for a customer account.</wsdl:documentation>
         <soap:operation soapAction="getMessageList"/>
         <wsdl:input>
            <soap:body use="literal" parts="parameters"/>
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal" parts="result"/>
         </wsdl:output>
         <wsdl:fault name="ServiceException">
            <soap:fault name="ServiceException" use="literal"/>
         </wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="ping">
         <wsdl:documentation/>
         <soap:operation soapAction="ping"/>
         <wsdl:input>
            <soap:body parts="parameters" use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:body parts="result" use="literal"/>
         </wsdl:output>
         <wsdl:fault name="ServiceException">
            <soap:fault name="ServiceException" use="literal"/>
         </wsdl:fault>
      </wsdl:operation>
   </wsdl:binding>
   <wsdl:service name="BoltOnOfferService_v3_0">
      <wsdl:port name="BoltOnOfferServicePort" binding="iface:BoltOnOfferService_v3_0_SOAP">
      	<soap:address location="https://soa-mp-laird-pt.tsl.telus.com:443/MSO/CampaignMgmt/Offer/BoltOnOfferService_v3_0_vs0"/>
      </wsdl:port>
   </wsdl:service>
</wsdl:definitions>