ewlnss-adapter-wsdl/EnterpriseCreditProfileManagementService-ws-client/src/main/resources/wsdls/EnterpriseCreditProfileManagementService_v1_3.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy"
                  xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                  xmlns:wss="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd"
                  xmlns:xs="http://www.w3.org/2001/XMLSchema"
                  xmlns:ping="http://xmlschema.tmi.telus.com/xsd/Enterprise/BaseTypes/types/ping_v1"
                  xmlns:ex="http://xmlschema.tmi.telus.com/xsd/common/exceptions/Exceptions_v1_0"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:iface="http://telus.com/wsdl/CMO/OrderMgmt/EnterpriseCreditProfileManagementService_1"
                  xmlns:ecp="http://xmlschema.tmi.telus.com/srv/CMO/OrderMgmt/EnterpriseCreditProfileManagementServiceRequestResponse_v1"
                  name="EnterpriseCreditProfileManagementService_v1_3.wsdl"
                  targetNamespace="http://telus.com/wsdl/CMO/OrderMgmt/EnterpriseCreditProfileManagementService_1"><!--	Generated File:
			This file was generated by the following xslt:
				http://xmlschema.tmi.telus.com/xsd/common/utils/xmlToWsdl/xmlToWsdl_v2_8.xslt
			Based on a ServiceDefinition.xml file that conforms to the following schema:
				http://xmlschema.tmi.telus.com/xsd/common/utils/xmlToWsdl/ServiceDefinition_v3_0.xsd
			--><wsdl:documentation>Provides operation(s) to update Wireline and/or Wireless credit profiles for given customerId or BAN.</wsdl:documentation>
   <wsdl:types>
      <xsd:schema targetNamespace="http://telus.com/wsdl/CMO/OrderMgmt/EnterpriseCreditProfileManagementService_1">
         <xsd:import namespace="http://xmlschema.tmi.telus.com/srv/CMO/OrderMgmt/EnterpriseCreditProfileManagementServiceRequestResponse_v1"
                     schemaLocation="http://xmlschema.tmi.telus.com/srv/CMO/OrderMgmt/EnterpriseCreditProfileManagementServiceRequestResponse_v1_3.xsd"/>
         <xsd:import namespace="http://xmlschema.tmi.telus.com/xsd/common/exceptions/Exceptions_v1_0"
                     schemaLocation="http://xmlschema.tmi.telus.com/xsd/common/exceptions/Exceptions_v1_0.xsd"/>
         <xsd:import namespace="http://xmlschema.tmi.telus.com/xsd/Enterprise/BaseTypes/types/ping_v1"
                     schemaLocation="http://xmlschema.tmi.telus.com/xsd/Enterprise/BaseTypes/types/ping_v1.xsd"/>
      </xsd:schema>
   </wsdl:types>
   <wsdl:message name="updateCreditProfile">
      <wsdl:part name="parameters" element="ecp:updateCreditProfile"/>
   </wsdl:message>
   <wsdl:message name="updateCreditProfileResponse">
      <wsdl:part name="result" element="ecp:updateCreditProfileResponse"/>
   </wsdl:message>
   <wsdl:message name="ping">
      <wsdl:part name="parameters" element="ping:ping"/>
   </wsdl:message>
   <wsdl:message name="pingResponse">
      <wsdl:part name="result" element="ping:pingResponse"/>
   </wsdl:message>
   <wsdl:message name="ServiceException">
      <wsdl:part name="fault" element="ex:ServiceException"/>
   </wsdl:message>
   <wsdl:message name="PolicyException">
      <wsdl:part name="fault" element="ex:PolicyException"/>
   </wsdl:message>
   <wsdl:portType name="EnterpriseCreditProfileManagementService_v1_3_PortType">
      <wsdl:operation name="updateCreditProfile">
         <wsdl:input message="iface:updateCreditProfile"/>
         <wsdl:output message="iface:updateCreditProfileResponse"/>
         <wsdl:fault name="ServiceException" message="iface:ServiceException"/>
         <wsdl:fault name="PolicyException" message="iface:PolicyException"/>
      </wsdl:operation>
      <wsdl:operation name="ping">
         <wsdl:input message="iface:ping"/>
         <wsdl:output message="iface:pingResponse"/>
         <wsdl:fault name="ServiceException" message="iface:ServiceException"/>
         <wsdl:fault name="PolicyException" message="iface:PolicyException"/>
      </wsdl:operation>
   </wsdl:portType>
   <wsdl:binding name="EnterpriseCreditProfileManagementService_v1_3_SOAP"
                 type="iface:EnterpriseCreditProfileManagementService_v1_3_PortType">
      <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
      <wsdl:operation name="updateCreditProfile">
         <wsdl:documentation>Updates credit profiles in both Wireless and Wireline systems based on the information provided by the client. Credit profile to be updated can be searched by customerId or BAN provided. Only identification element is required to identify the customer or BAN. For the remaining elements, please pass only the element that needs to be updated. As an example, if SIN needs to be updated then populate creditIdentification with SIN details only. Only In case of creditValue and creditAddress, whole object needs to be passed even if there is a change in single element within these objects. Non-present field will be treated as remove.
		RTCA Program changes: 
		   FR573186: Remove logic to validate Credit Value during Credit Profile Update
		   FR582163: Add Guarantor information in Credit Profile
		   Upgrade Ref ODS to Ref PDS for all operations.
		   Update credit value and fraud indicator, Any change in these attributes triggers a new credit assessment.
		IO Phase 2 (CR581482):
		   Add optional RemoveCreditIdentificationInfo complex type to indicate removal of credit ids ( Driving License, SIN, Health Card, Passport and Provincial Id ). This will expire the indicated credit id in the WLN system and set the credit id to empty value in WLS system.
		   Service will no longer accept empty value or zero( or zeros ) for credit ids. It will throw policy exception with the appropriate error code.
		   As a result of update or remove of credit ids, WLN system will rebuild the linked customers based upon remaining credit ids.
		RTCA 1.5:
		   Add optional attribute "Province of Current Residence" part of credit profile
		</wsdl:documentation>
         <soap:operation soapAction="updateCreditProfile"/>
         <wsdl:input>
            <soap:body use="literal" parts="parameters"/>
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal" parts="result"/>
         </wsdl:output>
         <wsdl:fault name="ServiceException">
            <soap:fault name="ServiceException" use="literal"/>
         </wsdl:fault>
         <wsdl:fault name="PolicyException">
            <soap:fault name="PolicyException" use="literal"/>
         </wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="ping">
         <wsdl:documentation/>
         <soap:operation soapAction="ping"/>
         <wsdl:input>
            <soap:body parts="parameters" use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:body parts="result" use="literal"/>
         </wsdl:output>
         <wsdl:fault name="ServiceException">
            <soap:fault name="ServiceException" use="literal"/>
         </wsdl:fault>
         <wsdl:fault name="PolicyException">
            <soap:fault name="PolicyException" use="literal"/>
         </wsdl:fault>
      </wsdl:operation>
   </wsdl:binding>
   <wsdl:service name="EnterpriseCreditProfileManagementService_v1_3">
      <wsdl:port name="EnterpriseCreditProfileManagementServicePort"
                 binding="iface:EnterpriseCreditProfileManagementService_v1_3_SOAP">
         <soap:address location="https://cm-creditmgmt-west-dv01.tsl.telus.com/CMO/OrderMgmt/EnterpriseCreditProfileManagement/EnterpriseCreditProfileManagementService_v1_3"/>
      </wsdl:port>
   </wsdl:service>
</wsdl:definitions>