ewlnss-adapter-wsdl/WLNCreditProfileManagementService-ws-client/src/main/resources/wsdls/WLNCreditProfileManagementService_v2_0.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy"
                  xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                  xmlns:wss="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd"
                  xmlns:xs="http://www.w3.org/2001/XMLSchema"
                  xmlns:ping="http://xmlschema.tmi.telus.com/xsd/Enterprise/BaseTypes/types/ping_v1"
                  xmlns:ex="http://xmlschema.tmi.telus.com/xsd/common/exceptions/Exceptions_v1_0"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:iface="http://telus.com/wsdl/CMO/OrderMgmt/WLNCreditProfileManagementService_2"
                  xmlns:cp="http://xmlschema.tmi.telus.com/srv/CMO/OrderMgmt/WLNCreditProfileManagementServiceRequestResponse_v2"
                  name="WLNCreditProfileManagementService_v2_0.wsdl"
                  targetNamespace="http://telus.com/wsdl/CMO/OrderMgmt/WLNCreditProfileManagementService_2"><!--	Generated File:
			This file was generated by the following xslt:
				http://xmlschema.tmi.telus.com/xsd/common/utils/xmlToWsdl/xmlToWsdl_v2_8.xslt
			Based on a ServiceDefinition.xml file that conforms to the following schema:
				http://xmlschema.tmi.telus.com/xsd/common/utils/xmlToWsdl/ServiceDefinition_v3_0.xsd
			--><wsdl:documentation>Provides operations to manage Wireline Credit Profile.</wsdl:documentation>
   <wsdl:types>
      <xsd:schema targetNamespace="http://telus.com/wsdl/CMO/OrderMgmt/WLNCreditProfileManagementService_2">
         <xsd:import namespace="http://xmlschema.tmi.telus.com/srv/CMO/OrderMgmt/WLNCreditProfileManagementServiceRequestResponse_v2"
                     schemaLocation="http://xmlschema.tmi.telus.com/srv/CMO/OrderMgmt/WLNCreditProfileManagementServiceRequestResponse_v2_0.xsd"/>
         <xsd:import namespace="http://xmlschema.tmi.telus.com/xsd/common/exceptions/Exceptions_v1_0"
                     schemaLocation="http://xmlschema.tmi.telus.com/xsd/common/exceptions/Exceptions_v1_0.xsd"/>
         <xsd:import namespace="http://xmlschema.tmi.telus.com/xsd/Enterprise/BaseTypes/types/ping_v1"
                     schemaLocation="http://xmlschema.tmi.telus.com/xsd/Enterprise/BaseTypes/types/ping_v1.xsd"/>
      </xsd:schema>
   </wsdl:types>
   <wsdl:message name="getCreditProfileByCustomerId">
      <wsdl:part name="parameters" element="cp:getCreditProfileByCustomerId"/>
   </wsdl:message>
   <wsdl:message name="getCreditProfileByCustomerIdResponse">
      <wsdl:part name="result" element="cp:getCreditProfileByCustomerIdResponse"/>
   </wsdl:message>
   <wsdl:message name="searchCreditProfileByCreditId">
      <wsdl:part name="parameters" element="cp:searchCreditProfileByCreditId"/>
   </wsdl:message>
   <wsdl:message name="searchCreditProfileByCreditIdResponse">
      <wsdl:part name="result" element="cp:searchCreditProfileByCreditIdResponse"/>
   </wsdl:message>
   <wsdl:message name="expireCreditProfileByCustomerId">
      <wsdl:part name="parameters" element="cp:expireCreditProfileByCustomerId"/>
   </wsdl:message>
   <wsdl:message name="expireCreditProfileByCustomerIdResponse">
      <wsdl:part name="result" element="cp:expireCreditProfileByCustomerIdResponse"/>
   </wsdl:message>
   <wsdl:message name="searchCreditProfileByCreditAndCustomerData">
      <wsdl:part name="parameters" element="cp:searchCreditProfileByCreditAndCustomerData"/>
   </wsdl:message>
   <wsdl:message name="searchCreditProfileByCreditAndCustomerDataResponse">
      <wsdl:part name="result" element="cp:searchCreditProfileByCreditAndCustomerDataResponse"/>
   </wsdl:message>
   <wsdl:message name="createCreditProfile">
      <wsdl:part name="parameters" element="cp:createCreditProfile"/>
   </wsdl:message>
   <wsdl:message name="createCreditProfileResponse">
      <wsdl:part name="result" element="cp:createCreditProfileResponse"/>
   </wsdl:message>
   <wsdl:message name="unmergeCreditProfile">
      <wsdl:part name="parameters" element="cp:unmergeCreditProfile"/>
   </wsdl:message>
   <wsdl:message name="unmergeCreditProfileResponse">
      <wsdl:part name="result" element="cp:unmergeCreditProfileResponse"/>
   </wsdl:message>
   <wsdl:message name="searchLinkedCreditProfileList">
      <wsdl:part name="parameters" element="cp:searchLinkedCreditProfileList"/>
   </wsdl:message>
   <wsdl:message name="searchLinkedCreditProfileListResponse">
      <wsdl:part name="result" element="cp:searchLinkedCreditProfileListResponse"/>
   </wsdl:message>
   <wsdl:message name="ping">
      <wsdl:part name="parameters" element="ping:ping"/>
   </wsdl:message>
   <wsdl:message name="pingResponse">
      <wsdl:part name="result" element="ping:pingResponse"/>
   </wsdl:message>
   <wsdl:message name="ServiceException">
      <wsdl:part name="fault" element="ex:ServiceException"/>
   </wsdl:message>
   <wsdl:message name="PolicyException">
      <wsdl:part name="fault" element="ex:PolicyException"/>
   </wsdl:message>
   <wsdl:portType name="WLNCreditProfileManagementService_v2_0_PortType">
      <wsdl:operation name="getCreditProfileByCustomerId">
         <wsdl:input message="iface:getCreditProfileByCustomerId"/>
         <wsdl:output message="iface:getCreditProfileByCustomerIdResponse"/>
         <wsdl:fault name="ServiceException" message="iface:ServiceException"/>
         <wsdl:fault name="PolicyException" message="iface:PolicyException"/>
      </wsdl:operation>
      <wsdl:operation name="searchCreditProfileByCreditId">
         <wsdl:input message="iface:searchCreditProfileByCreditId"/>
         <wsdl:output message="iface:searchCreditProfileByCreditIdResponse"/>
         <wsdl:fault name="ServiceException" message="iface:ServiceException"/>
         <wsdl:fault name="PolicyException" message="iface:PolicyException"/>
      </wsdl:operation>
      <wsdl:operation name="expireCreditProfileByCustomerId">
         <wsdl:input message="iface:expireCreditProfileByCustomerId"/>
         <wsdl:output message="iface:expireCreditProfileByCustomerIdResponse"/>
         <wsdl:fault name="ServiceException" message="iface:ServiceException"/>
         <wsdl:fault name="PolicyException" message="iface:PolicyException"/>
      </wsdl:operation>
      <wsdl:operation name="searchCreditProfileByCreditAndCustomerData">
         <wsdl:input message="iface:searchCreditProfileByCreditAndCustomerData"/>
         <wsdl:output message="iface:searchCreditProfileByCreditAndCustomerDataResponse"/>
         <wsdl:fault name="ServiceException" message="iface:ServiceException"/>
         <wsdl:fault name="PolicyException" message="iface:PolicyException"/>
      </wsdl:operation>
      <wsdl:operation name="createCreditProfile">
         <wsdl:input message="iface:createCreditProfile"/>
         <wsdl:output message="iface:createCreditProfileResponse"/>
         <wsdl:fault name="ServiceException" message="iface:ServiceException"/>
         <wsdl:fault name="PolicyException" message="iface:PolicyException"/>
      </wsdl:operation>
      <wsdl:operation name="unmergeCreditProfile">
         <wsdl:input message="iface:unmergeCreditProfile"/>
         <wsdl:output message="iface:unmergeCreditProfileResponse"/>
         <wsdl:fault name="ServiceException" message="iface:ServiceException"/>
         <wsdl:fault name="PolicyException" message="iface:PolicyException"/>
      </wsdl:operation>
      <wsdl:operation name="searchLinkedCreditProfileList">
         <wsdl:input message="iface:searchLinkedCreditProfileList"/>
         <wsdl:output message="iface:searchLinkedCreditProfileListResponse"/>
         <wsdl:fault name="ServiceException" message="iface:ServiceException"/>
         <wsdl:fault name="PolicyException" message="iface:PolicyException"/>
      </wsdl:operation>
      <wsdl:operation name="ping">
         <wsdl:input message="iface:ping"/>
         <wsdl:output message="iface:pingResponse"/>
         <wsdl:fault name="ServiceException" message="iface:ServiceException"/>
         <wsdl:fault name="PolicyException" message="iface:PolicyException"/>
      </wsdl:operation>
   </wsdl:portType>
   <wsdl:binding name="WLNCreditProfileManagementService_v2_0_SOAP"
                 type="iface:WLNCreditProfileManagementService_v2_0_PortType">
      <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
      <wsdl:operation name="getCreditProfileByCustomerId">
         <wsdl:documentation>This service operation retrieves primary credit profile for the customer from Credit Management PDS. All secondary credit profiles will be ignored. Resulting Credit Profile will contain the credit identification fields in clear text.
		RTCA Changes:
		Modify interface to Return Channel that created customer
		Modify interface to add "ByPass Match Indicator"
		RTCA 1.5 Changes:
		   Return "Province of Current Residence" attribute as part of RTCA 1.5
		   Return additional data as part of credit worthiness:
             Last assessment date
			 First assessment date
			 Credit Value Effective Date
			 Credit Report Indicator
		</wsdl:documentation>
         <soap:operation soapAction="getCreditProfileByCustomerId"/>
         <wsdl:input>
            <soap:body use="literal" parts="parameters"/>
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal" parts="result"/>
         </wsdl:output>
         <wsdl:fault name="ServiceException">
            <soap:fault name="ServiceException" use="literal"/>
         </wsdl:fault>
         <wsdl:fault name="PolicyException">
            <soap:fault name="PolicyException" use="literal"/>
         </wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="searchCreditProfileByCreditId">
         <wsdl:documentation>This service operation retrieves primary credit profiles of the customers that matches on any of five identification fields (SIN, Driver License, Passport Number, Provincial ID, and Healthcare Number) either directly or indirectly with the input credit identification provided by the caller. Inputs and outputs for credit identification fields will be in clear text.
		RTCA Changes:
		Modify interface to Return Channel that created customer
		Modify interface to add "ByPass Match Indicator"</wsdl:documentation>
         <soap:operation soapAction="searchCreditProfileByCreditId"/>
         <wsdl:input>
            <soap:body use="literal" parts="parameters"/>
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal" parts="result"/>
         </wsdl:output>
         <wsdl:fault name="ServiceException">
            <soap:fault name="ServiceException" use="literal"/>
         </wsdl:fault>
         <wsdl:fault name="PolicyException">
            <soap:fault name="PolicyException" use="literal"/>
         </wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="expireCreditProfileByCustomerId">
         <wsdl:documentation>Expire primary and secondary Credit Profile relationships for given customer.
		RTCA Changes:
		Upgrade Ref ODS to Ref PDS for all operations.</wsdl:documentation>
         <soap:operation soapAction="expireCreditProfileByCustomerId"/>
         <wsdl:input>
            <soap:body use="literal" parts="parameters"/>
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal" parts="result"/>
         </wsdl:output>
         <wsdl:fault name="ServiceException">
            <soap:fault name="ServiceException" use="literal"/>
         </wsdl:fault>
         <wsdl:fault name="PolicyException">
            <soap:fault name="PolicyException" use="literal"/>
         </wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="searchCreditProfileByCreditAndCustomerData">
         <wsdl:documentation>FR566558: Credit Management service shall provide one new search operation to support the customer search by credit profile data:

Input to the operation shall be a list of customer IDs, birth date, credit IDs (SIN, driver license, passport number, provincial ID, health care number)
Output to the operation shall be a list of credit profile entries from the search result, The list shall include customer ID, birth date, driver license, passport number, provincial ID, health care number

Rules:
If credit IDs are specified, the search shall retrieve a list of credit profiles whose credit IDs match one or more of the credit IDs entered.
If a list of customer IDs are specified, the search shall perform credit profile search for the list of customer IDs only.

Note:
The current recursive search operation which returns a list of "linked" customers matching any of the above five credit IDs cannot be used for this requirement. Special behavior of this recursive search operation: If a Driver License is specified, the service will retrieve a list of customers with matching Driver License. If these customers also have other IDs such as SIN, all customers with matching SIN of these customers will also be retrieved, even though SIN is not entered as the original search criteria.</wsdl:documentation>
         <soap:operation soapAction="searchCreditProfileByCreditAndCustomerData"/>
         <wsdl:input>
            <soap:body use="literal" parts="parameters"/>
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal" parts="result"/>
         </wsdl:output>
         <wsdl:fault name="ServiceException">
            <soap:fault name="ServiceException" use="literal"/>
         </wsdl:fault>
         <wsdl:fault name="PolicyException">
            <soap:fault name="PolicyException" use="literal"/>
         </wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="createCreditProfile">
         <wsdl:documentation> It allows clients to create credit profile for a given customer with the given credit profile data details.
		It takes credit ids in clear text and will encrypt the credit ids before storing to database.
		FR573526: createCreditProfile will also take additional data like customer first name, type for credit assessment trigger
		FR566590: Mandatory check in the Create Credit Profile operation
		FR566828: Add Bypass Match Indicator
		FR573547: Add Guarantor information in Credit Profile
		Assign default credit worthiness
		RTCA 1.5 Changes:
		    Accept "Province of Current Residence" attribute as part of RTCA 1.5
		</wsdl:documentation>
         <soap:operation soapAction="createCreditProfile"/>
         <wsdl:input>
            <soap:body use="literal" parts="parameters"/>
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal" parts="result"/>
         </wsdl:output>
         <wsdl:fault name="ServiceException">
            <soap:fault name="ServiceException" use="literal"/>
         </wsdl:fault>
         <wsdl:fault name="PolicyException">
            <soap:fault name="PolicyException" use="literal"/>
         </wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="unmergeCreditProfile">
         <wsdl:documentation>In a situation when two or more customers share a same primary Credit Profile (CreditProfile1), this service unlink the input customer (Customer1) from CreditProfile1.

	  CreditProfile1 is active.
	  CreditProfile1 has been linked with more than one customer as their primary credit profile; Customer1 is one of those customers.

	  High Level Flow:
	  
	  Check if this customer has primary CreditProfile. Throw
	  ObjectNotFoundException if primary CreditProfile is can not be found.
	  
	  Check if the primary CreditProfile of this customer is "Merged"
	  CreditProfile. Throw CreditProfileMgtSvcException if it's not the case.
	  
	  Disconnect Customer1 and CreditProfile1
	  
	  
	  Expire all primary and secondary links associated with Customer1, by
	  calling {@link CreditProfileDao#unlinkAllCreditProfiles}
	  
	  Create new primary credit profile for Customer1.
	  
	  Create a new "blank" credit profile (CreditProfile2), with credit
	  value "N". Persist by calling CreditProfileDao.insertCreditProfile
	  Link CreditProfile2 as primary credit profile of Customer1 by
	  calling CreditProfileDao.addCreditProfileToCustomer
	  
	  
	  Consolidate guarantor information.
	  
	  If Customer1 was guarantor customer, transfer (expire and create new
	  one) those guarantor records to CreditProfile2. ie. create a
	  CUSTOMER_GUARANTOR record with all data fields same except
	  CREDIT_PROFILE_ID. This is achieved by calling
	  CustomerGuarantorDao#transferUnmergedGuarantor.
	  
	  
	  Maintain credit profile mapping information.
	  
	  Create record in credit profile mapping table to indicate that
	  CreditProfile2 is "unmerged" from CreditProfile1 , by calling
	  CreditProfileDao#insertUnmergeMapping
	  
	  
	  Synchronize credit value of CreditProfile2 into Enabler CM by
	  calling
	  om.telus.credit.adapter.EnablerCmServiceAdapter#updateCreditValue(int, String)}=.
	  (This has to be done last because it cannot be rolled back.)
	  
	  All key fields of CreditProfile2 are blank. i.e. CreditProfile2 has no
	  link to any CreditIdCard record.
	 </wsdl:documentation>
         <soap:operation soapAction="unmergeCreditProfile"/>
         <wsdl:input>
            <soap:body use="literal" parts="parameters"/>
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal" parts="result"/>
         </wsdl:output>
         <wsdl:fault name="ServiceException">
            <soap:fault name="ServiceException" use="literal"/>
         </wsdl:fault>
         <wsdl:fault name="PolicyException">
            <soap:fault name="PolicyException" use="literal"/>
         </wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="searchLinkedCreditProfileList">
         <wsdl:documentation>This service operation searches for customers which are fully and partially linked to the given customer id and returns their credit profiles. It retuns the basic credit profile data and does not include credit worthiness data.
		</wsdl:documentation>
         <soap:operation soapAction="searchLinkedCreditProfileList"/>
         <wsdl:input>
            <soap:body use="literal" parts="parameters"/>
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal" parts="result"/>
         </wsdl:output>
         <wsdl:fault name="ServiceException">
            <soap:fault name="ServiceException" use="literal"/>
         </wsdl:fault>
         <wsdl:fault name="PolicyException">
            <soap:fault name="PolicyException" use="literal"/>
         </wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="ping">
         <wsdl:documentation/>
         <soap:operation soapAction="ping"/>
         <wsdl:input>
            <soap:body parts="parameters" use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:body parts="result" use="literal"/>
         </wsdl:output>
         <wsdl:fault name="ServiceException">
            <soap:fault name="ServiceException" use="literal"/>
         </wsdl:fault>
         <wsdl:fault name="PolicyException">
            <soap:fault name="PolicyException" use="literal"/>
         </wsdl:fault>
      </wsdl:operation>
   </wsdl:binding>
   <wsdl:service name="WLNCreditProfileManagementService_v2_0">
      <wsdl:port name="WLNCreditProfileManagementServicePort"
                 binding="iface:WLNCreditProfileManagementService_v2_0_SOAP">
         <soap:address location="https://cm-creditmgmt-west-dv01.tsl.telus.com/CMO/OrderMgmt/WLNCreditProfileManagement/WLNCreditProfileManagementService_v2_0"/>
      </wsdl:port>
   </wsdl:service>
</wsdl:definitions>