ewlnss-adapter-wsdl/ConsumerDiarySvc-ws-client/src/main/resources/wsdls/ConsumerDiaryService_v1_0.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy"
                  xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                  xmlns:wss="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd"
                  xmlns:xs="http://www.w3.org/2001/XMLSchema"
                  xmlns:ping="http://xmlschema.tmi.telus.com/xsd/Enterprise/BaseTypes/types/ping_v1"
                  xmlns:ex="http://xmlschema.tmi.telus.com/xsd/common/exceptions/Exceptions_v1_0"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:iface="http://telus.com/wsdl/CMO/InformationMgmt/ConsumerDiaryService_1"
                  xmlns:ds="http://xmlschema.tmi.telus.com/srv/CMO/InformationMgmt/ConsumerDiaryServiceRequestResponse_v1"
                  name="ConsumerDiaryService_v1_0.wsdl"
                  targetNamespace="http://telus.com/wsdl/CMO/InformationMgmt/ConsumerDiaryService_1"><!--	Generated File:
			This file was generated by the following xslt:
				http://xmlschema.tmi.telus.com/xsd/common/utils/xmlToWsdl/xmlToWsdl_v2_8.xslt
			Based on a ServiceDefinition.xml file that conforms to the following schema:
				http://xmlschema.tmi.telus.com/xsd/common/utils/xmlToWsdl/ServiceDefinition_v3_0.xsd
			--><wsdl:documentation>Operations to maintain Diary logs in Desktop One</wsdl:documentation>
   <wsdl:types>
      <xsd:schema targetNamespace="http://telus.com/wsdl/CMO/InformationMgmt/ConsumerDiaryService_1">
         <xsd:import namespace="http://xmlschema.tmi.telus.com/srv/CMO/InformationMgmt/ConsumerDiaryServiceRequestResponse_v1"
                     schemaLocation="http://xmlschema.tmi.telus.com/srv/CMO/InformationMgmt/ConsumerDiaryServiceRequestResponse_v1_0.xsd"/>
         <xsd:import namespace="http://xmlschema.tmi.telus.com/xsd/common/exceptions/Exceptions_v1_0"
                     schemaLocation="http://xmlschema.tmi.telus.com/xsd/common/exceptions/Exceptions_v1_0.xsd"/>
         <xsd:import namespace="http://xmlschema.tmi.telus.com/xsd/Enterprise/BaseTypes/types/ping_v1"
                     schemaLocation="http://xmlschema.tmi.telus.com/xsd/Enterprise/BaseTypes/types/ping_v1.xsd"/>
      </xsd:schema>
   </wsdl:types>
   <wsdl:message name="createCustomerEvent">
      <wsdl:part name="parameters" element="ds:createCustomerEvent"/>
   </wsdl:message>
   <wsdl:message name="createCustomerEventResponse">
      <wsdl:part name="result" element="ds:createCustomerEventResponse"/>
   </wsdl:message>
   <wsdl:message name="updateCustomerEventList">
      <wsdl:part name="parameters" element="ds:updateCustomerEventList"/>
   </wsdl:message>
   <wsdl:message name="updateCustomerEventListResponse">
      <wsdl:part name="result" element="ds:updateCustomerEventListResponse"/>
   </wsdl:message>
   <wsdl:message name="findCustomerEventSummaryList">
      <wsdl:part name="parameters" element="ds:findCustomerEventSummaryList"/>
   </wsdl:message>
   <wsdl:message name="findCustomerEventSummaryListResponse">
      <wsdl:part name="result" element="ds:findCustomerEventSummaryListResponse"/>
   </wsdl:message>
   <wsdl:message name="findCustomerEventDetailList">
      <wsdl:part name="parameters" element="ds:findCustomerEventDetailList"/>
   </wsdl:message>
   <wsdl:message name="findCustomerEventDetailListResponse">
      <wsdl:part name="result" element="ds:findCustomerEventDetailListResponse"/>
   </wsdl:message>
   <wsdl:message name="ping">
      <wsdl:part name="parameters" element="ping:ping"/>
   </wsdl:message>
   <wsdl:message name="pingResponse">
      <wsdl:part name="result" element="ping:pingResponse"/>
   </wsdl:message>
   <wsdl:message name="ServiceException">
      <wsdl:part name="fault" element="ex:ServiceException"/>
   </wsdl:message>
   <wsdl:message name="PolicyException">
      <wsdl:part name="fault" element="ex:PolicyException"/>
   </wsdl:message>
   <wsdl:portType name="ConsumerDiaryService_v1_0_PortType">
      <wsdl:operation name="createCustomerEvent">
         <wsdl:input message="iface:createCustomerEvent"/>
         <wsdl:output message="iface:createCustomerEventResponse"/>
         <wsdl:fault name="ServiceException" message="iface:ServiceException"/>
         <wsdl:fault name="PolicyException" message="iface:PolicyException"/>
      </wsdl:operation>
      <wsdl:operation name="updateCustomerEventList">
         <wsdl:input message="iface:updateCustomerEventList"/>
         <wsdl:output message="iface:updateCustomerEventListResponse"/>
         <wsdl:fault name="ServiceException" message="iface:ServiceException"/>
         <wsdl:fault name="PolicyException" message="iface:PolicyException"/>
      </wsdl:operation>
      <wsdl:operation name="findCustomerEventSummaryList">
         <wsdl:input message="iface:findCustomerEventSummaryList"/>
         <wsdl:output message="iface:findCustomerEventSummaryListResponse"/>
         <wsdl:fault name="ServiceException" message="iface:ServiceException"/>
         <wsdl:fault name="PolicyException" message="iface:PolicyException"/>
      </wsdl:operation>
      <wsdl:operation name="findCustomerEventDetailList">
         <wsdl:input message="iface:findCustomerEventDetailList"/>
         <wsdl:output message="iface:findCustomerEventDetailListResponse"/>
         <wsdl:fault name="ServiceException" message="iface:ServiceException"/>
         <wsdl:fault name="PolicyException" message="iface:PolicyException"/>
      </wsdl:operation>
      <wsdl:operation name="ping">
         <wsdl:input message="iface:ping"/>
         <wsdl:output message="iface:pingResponse"/>
         <wsdl:fault name="ServiceException" message="iface:ServiceException"/>
         <wsdl:fault name="PolicyException" message="iface:PolicyException"/>
      </wsdl:operation>
   </wsdl:portType>
   <wsdl:binding name="ConsumerDiaryService_v1_0_SOAP"
                 type="iface:ConsumerDiaryService_v1_0_PortType">
      <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
      <wsdl:operation name="createCustomerEvent">
         <wsdl:documentation>
			Creates a new customer event in the Customer Diary.
		</wsdl:documentation>
         <soap:operation soapAction="createCustomerEvent"/>
         <wsdl:input>
            <soap:body use="literal" parts="parameters"/>
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal" parts="result"/>
         </wsdl:output>
         <wsdl:fault name="ServiceException">
            <soap:fault name="ServiceException" use="literal"/>
         </wsdl:fault>
         <wsdl:fault name="PolicyException">
            <soap:fault name="PolicyException" use="literal"/>
         </wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="updateCustomerEventList">
         <wsdl:documentation>
			Updates existing the highlight and record retention attributes on existing customer events.
		</wsdl:documentation>
         <soap:operation soapAction="updateCustomerEventList"/>
         <wsdl:input>
            <soap:body use="literal" parts="parameters"/>
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal" parts="result"/>
         </wsdl:output>
         <wsdl:fault name="ServiceException">
            <soap:fault name="ServiceException" use="literal"/>
         </wsdl:fault>
         <wsdl:fault name="PolicyException">
            <soap:fault name="PolicyException" use="literal"/>
         </wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="findCustomerEventSummaryList">
         <wsdl:documentation>
			Retrieves customer events used for the Diary Summary section of Desktop One
		</wsdl:documentation>
         <soap:operation soapAction="findCustomerEventSummaryList"/>
         <wsdl:input>
            <soap:body use="literal" parts="parameters"/>
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal" parts="result"/>
         </wsdl:output>
         <wsdl:fault name="ServiceException">
            <soap:fault name="ServiceException" use="literal"/>
         </wsdl:fault>
         <wsdl:fault name="PolicyException">
            <soap:fault name="PolicyException" use="literal"/>
         </wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="findCustomerEventDetailList">
         <wsdl:documentation>
			Retrieves customer events from the Customer Diary based on specified search criteria.
		</wsdl:documentation>
         <soap:operation soapAction="findCustomerEventDetailList"/>
         <wsdl:input>
            <soap:body use="literal" parts="parameters"/>
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal" parts="result"/>
         </wsdl:output>
         <wsdl:fault name="ServiceException">
            <soap:fault name="ServiceException" use="literal"/>
         </wsdl:fault>
         <wsdl:fault name="PolicyException">
            <soap:fault name="PolicyException" use="literal"/>
         </wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="ping">
         <wsdl:documentation/>
         <soap:operation soapAction="ping"/>
         <wsdl:input>
            <soap:body parts="parameters" use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:body parts="result" use="literal"/>
         </wsdl:output>
         <wsdl:fault name="ServiceException">
            <soap:fault name="ServiceException" use="literal"/>
         </wsdl:fault>
         <wsdl:fault name="PolicyException">
            <soap:fault name="PolicyException" use="literal"/>
         </wsdl:fault>
      </wsdl:operation>
   </wsdl:binding>
   <wsdl:service name="ConsumerDiaryService_v1_0">
      <wsdl:port name="ConsumerDiaryServicePort" binding="iface:ConsumerDiaryService_v1_0_SOAP">
         <soap:address location="http://cm-custinfomgmt-west-dv01.tsl.telus.com/CMO/InformationMgmt/Diary/ConsumerDiaryService_v1_0"/>
      </wsdl:port>
   </wsdl:service>
</wsdl:definitions>