ewlnss-wsdl/ewlnss-esis-wsdl/src/main/resources/wsdls/EnterpriseSalesInformationService_v5_0.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy"
                  xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                  xmlns:wss="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd"
                  xmlns:xs="http://www.w3.org/2001/XMLSchema"
                  xmlns:ping="http://xmlschema.tmi.telus.com/xsd/Enterprise/BaseTypes/types/ping_v1"
                  xmlns:ex="http://xmlschema.tmi.telus.com/xsd/Enterprise/BaseTypes/Exceptions_v3"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:shttp="http://soa.com/wsdl/http"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:iface="http://telus.com/wsdl/MSO/ChannelSalesMgmt/EnterpriseSalesInformationService_5"
                  xmlns:csm="http://xmlschema.tmi.telus.com/srv/MSO/ChannelSalesMgmt/EnterpriseSalesInformationServiceRequestResponse_v5"
                  targetNamespace="http://telus.com/wsdl/MSO/ChannelSalesMgmt/EnterpriseSalesInformationService_5"><!--	
	Generated File:
		This file was generated by the following xslt:
			http://xmlschema.tmi.telus.com/xsd/common/utils/xmlToWsdl/xmlToWsdl_v4_1.xslt
		Based on a ServiceDefinition.xml file that conforms to the following schema:
			http://xmlschema.tmi.telus.com/xsd/common/utils/xmlToWsdl/ServiceDefinition_v3_3.xsd
				--><wsdl:types>
      <xsd:schema targetNamespace="http://telus.com/wsdl/MSO/ChannelSalesMgmt/EnterpriseSalesInformationService_5">
         <xsd:import namespace="http://xmlschema.tmi.telus.com/srv/MSO/ChannelSalesMgmt/EnterpriseSalesInformationServiceRequestResponse_v5"
                     schemaLocation="http://xmlschema.tmi.telus.com/srv/MSO/ChannelSalesMgmt/EnterpriseSalesInformationServiceRequestResponse_v5_16.xsd"/>
         <xsd:import namespace="http://xmlschema.tmi.telus.com/xsd/Enterprise/BaseTypes/Exceptions_v3"
                     schemaLocation="http://xmlschema.tmi.telus.com/xsd/Enterprise/BaseTypes/Exceptions_v3_0.xsd"/>
         <xsd:import namespace="http://xmlschema.tmi.telus.com/xsd/Enterprise/BaseTypes/types/ping_v1"
                     schemaLocation="http://xmlschema.tmi.telus.com/xsd/Enterprise/BaseTypes/types/ping_v1.xsd"/>
      </xsd:schema>
   </wsdl:types>
   <wsdl:message name="getNpaNxx">
      <wsdl:part name="parameters" element="csm:getNpaNxx"/>
   </wsdl:message>
   <wsdl:message name="getNpaNxxResponse">
      <wsdl:part name="result" element="csm:getNpaNxxResponse"/>
   </wsdl:message>
   <wsdl:message name="getNpaNxxList">
      <wsdl:part name="parameters" element="csm:getNpaNxxList"/>
   </wsdl:message>
   <wsdl:message name="getNpaNxxListResponse">
      <wsdl:part name="result" element="csm:getNpaNxxListResponse"/>
   </wsdl:message>
   <wsdl:message name="getAvailableTelephoneNumber">
      <wsdl:part name="parameters" element="csm:getAvailableTelephoneNumber"/>
   </wsdl:message>
   <wsdl:message name="getAvailableTelephoneNumberResponse">
      <wsdl:part name="result" element="csm:getAvailableTelephoneNumberResponse"/>
   </wsdl:message>
   <wsdl:message name="getAvailableTerms">
      <wsdl:part name="parameters" element="csm:getAvailableTerms"/>
   </wsdl:message>
   <wsdl:message name="getAvailableTermsResponse">
      <wsdl:part name="result" element="csm:getAvailableTermsResponse"/>
   </wsdl:message>
   <wsdl:message name="getAvailablePricePlan">
      <wsdl:part name="parameters" element="csm:getAvailablePricePlan"/>
   </wsdl:message>
   <wsdl:message name="getAvailablePricePlanResponse">
      <wsdl:part name="result" element="csm:getAvailablePricePlanResponse"/>
   </wsdl:message>
   <wsdl:message name="getPricePlanDetail">
      <wsdl:part name="parameters" element="csm:getPricePlanDetail"/>
   </wsdl:message>
   <wsdl:message name="getPricePlanDetailResponse">
      <wsdl:part name="result" element="csm:getPricePlanDetailResponse"/>
   </wsdl:message>
   <wsdl:message name="getPricePlanSummary">
      <wsdl:part name="parameters" element="csm:getPricePlanSummary"/>
   </wsdl:message>
   <wsdl:message name="getPricePlanSummaryResponse">
      <wsdl:part name="result" element="csm:getPricePlanSummaryResponse"/>
   </wsdl:message>
   <wsdl:message name="getEquipmentInfo">
      <wsdl:part name="parameters" element="csm:getEquipmentInfo"/>
   </wsdl:message>
   <wsdl:message name="getEquipmentInfoResponse">
      <wsdl:part name="result" element="csm:getEquipmentInfoResponse"/>
   </wsdl:message>
   <wsdl:message name="getAvailableOfferSummary">
      <wsdl:part name="parameters" element="csm:getAvailableOfferSummary"/>
   </wsdl:message>
   <wsdl:message name="getAvailableOfferSummaryResponse">
      <wsdl:part name="result" element="csm:getAvailableOfferSummaryResponse"/>
   </wsdl:message>
   <wsdl:message name="getOfferDetail">
      <wsdl:part name="parameters" element="csm:getOfferDetail"/>
   </wsdl:message>
   <wsdl:message name="getOfferDetailResponse">
      <wsdl:part name="result" element="csm:getOfferDetailResponse"/>
   </wsdl:message>
   <wsdl:message name="findBetterOffer">
      <wsdl:part name="parameters" element="csm:findBetterOffer"/>
   </wsdl:message>
   <wsdl:message name="findBetterOfferResponse">
      <wsdl:part name="result" element="csm:findBetterOfferResponse"/>
   </wsdl:message>
   <wsdl:message name="getAvailableSweetenerSummary">
      <wsdl:part name="parameters" element="csm:getAvailableSweetenerSummary"/>
   </wsdl:message>
   <wsdl:message name="getAvailableSweetenerSummaryResponse">
      <wsdl:part name="result" element="csm:getAvailableSweetenerSummaryResponse"/>
   </wsdl:message>
   <wsdl:message name="getSweetenerDetail">
      <wsdl:part name="parameters" element="csm:getSweetenerDetail"/>
   </wsdl:message>
   <wsdl:message name="getSweetenerDetailResponse">
      <wsdl:part name="result" element="csm:getSweetenerDetailResponse"/>
   </wsdl:message>
   <wsdl:message name="getAvailableManufactureAndProduct">
      <wsdl:part name="parameters" element="csm:getAvailableManufactureAndProduct"/>
   </wsdl:message>
   <wsdl:message name="getAvailableManufactureAndProductResponse">
      <wsdl:part name="result" element="csm:getAvailableManufactureAndProductResponse"/>
   </wsdl:message>
   <wsdl:message name="getProductInventory">
      <wsdl:part name="parameters" element="csm:getProductInventory"/>
   </wsdl:message>
   <wsdl:message name="getProductInventoryResponse">
      <wsdl:part name="result" element="csm:getProductInventoryResponse"/>
   </wsdl:message>
   <wsdl:message name="getEquipmentSummary">
      <wsdl:part name="parameters" element="csm:getEquipmentSummary"/>
   </wsdl:message>
   <wsdl:message name="getEquipmentSummaryResponse">
      <wsdl:part name="result" element="csm:getEquipmentSummaryResponse"/>
   </wsdl:message>
   <wsdl:message name="getServiceCompatibilityList">
      <wsdl:part name="parameters" element="csm:getServiceCompatibilityList"/>
   </wsdl:message>
   <wsdl:message name="getServiceCompatibilityListResponse">
      <wsdl:part name="result" element="csm:getServiceCompatibilityListResponse"/>
   </wsdl:message>
   <wsdl:message name="getAvailableBundleList">
      <wsdl:part name="parameters" element="csm:getAvailableBundleList"/>
   </wsdl:message>
   <wsdl:message name="getAvailableBundleListResponse">
      <wsdl:part name="result" element="csm:getAvailableBundleListResponse"/>
   </wsdl:message>
   <wsdl:message name="getSalesRecommendation">
      <wsdl:part name="parameters" element="csm:getSalesRecommendation"/>
   </wsdl:message>
   <wsdl:message name="getSalesRecommendationResponse">
      <wsdl:part name="result" element="csm:getSalesRecommendationResponse"/>
   </wsdl:message>
   <wsdl:message name="getAvailablePerkList">
      <wsdl:part name="parameters" element="csm:getAvailablePerkList"/>
   </wsdl:message>
   <wsdl:message name="getAvailablePerkListResponse">
      <wsdl:part name="result" element="csm:getAvailablePerkListResponse"/>
   </wsdl:message>
   <wsdl:message name="getAvailableInstallDate">
      <wsdl:part name="parameters" element="csm:getAvailableInstallDate"/>
   </wsdl:message>
   <wsdl:message name="getAvailableInstallDateResponse">
      <wsdl:part name="result" element="csm:getAvailableInstallDateResponse"/>
   </wsdl:message>
   <wsdl:message name="getInstallationDetail">
      <wsdl:part name="parameters" element="csm:getInstallationDetail"/>
   </wsdl:message>
   <wsdl:message name="getInstallationDetailResponse">
      <wsdl:part name="result" element="csm:getInstallationDetailResponse"/>
   </wsdl:message>
   <wsdl:message name="getAvailableOfferSummaryList">
      <wsdl:part name="parameters" element="csm:getAvailableOfferSummaryList"/>
   </wsdl:message>
   <wsdl:message name="getAvailableOfferSummaryListResponse">
      <wsdl:part name="result" element="csm:getAvailableOfferSummaryListResponse"/>
   </wsdl:message>
   <wsdl:message name="getSalesOfferDetail">
      <wsdl:part name="parameters" element="csm:getSalesOfferDetail"/>
   </wsdl:message>
   <wsdl:message name="getSalesOfferDetailResponse">
      <wsdl:part name="result" element="csm:getSalesOfferDetailResponse"/>
   </wsdl:message>
   <wsdl:message name="getAvailableWirelineProductList">
      <wsdl:part name="parameters" element="csm:getAvailableWirelineProductList"/>
   </wsdl:message>
   <wsdl:message name="getAvailableWirelineProductListResponse">
      <wsdl:part name="result" element="csm:getAvailableWirelineProductListResponse"/>
   </wsdl:message>
   <wsdl:message name="getWirelineProductComponentList">
      <wsdl:part name="parameters" element="csm:getWirelineProductComponentList"/>
   </wsdl:message>
   <wsdl:message name="getWirelineProductComponentListResponse">
      <wsdl:part name="result" element="csm:getWirelineProductComponentListResponse"/>
   </wsdl:message>
   <wsdl:message name="ping">
      <wsdl:part name="parameters" element="ping:ping"/>
   </wsdl:message>
   <wsdl:message name="pingResponse">
      <wsdl:part name="result" element="ping:pingResponse"/>
   </wsdl:message>
   <wsdl:message name="ServiceException">
      <wsdl:part name="fault" element="ex:ServiceException"/>
   </wsdl:message>
   <wsdl:portType name="EnterpriseSalesInformationService_v5_0_PortType">
      <wsdl:operation name="getNpaNxx">
         <wsdl:input message="iface:getNpaNxx"/>
         <wsdl:output message="iface:getNpaNxxResponse"/>
         <wsdl:fault name="ServiceException" message="iface:ServiceException"/>
      </wsdl:operation>
      <wsdl:operation name="getNpaNxxList">
         <wsdl:input message="iface:getNpaNxxList"/>
         <wsdl:output message="iface:getNpaNxxListResponse"/>
         <wsdl:fault name="ServiceException" message="iface:ServiceException"/>
      </wsdl:operation>
      <wsdl:operation name="getAvailableTelephoneNumber">
         <wsdl:input message="iface:getAvailableTelephoneNumber"/>
         <wsdl:output message="iface:getAvailableTelephoneNumberResponse"/>
         <wsdl:fault name="ServiceException" message="iface:ServiceException"/>
      </wsdl:operation>
      <wsdl:operation name="getAvailableTerms">
         <wsdl:input message="iface:getAvailableTerms"/>
         <wsdl:output message="iface:getAvailableTermsResponse"/>
         <wsdl:fault name="ServiceException" message="iface:ServiceException"/>
      </wsdl:operation>
      <wsdl:operation name="getAvailablePricePlan">
         <wsdl:input message="iface:getAvailablePricePlan"/>
         <wsdl:output message="iface:getAvailablePricePlanResponse"/>
         <wsdl:fault name="ServiceException" message="iface:ServiceException"/>
      </wsdl:operation>
      <wsdl:operation name="getPricePlanDetail">
         <wsdl:input message="iface:getPricePlanDetail"/>
         <wsdl:output message="iface:getPricePlanDetailResponse"/>
         <wsdl:fault name="ServiceException" message="iface:ServiceException"/>
      </wsdl:operation>
      <wsdl:operation name="getPricePlanSummary">
         <wsdl:input message="iface:getPricePlanSummary"/>
         <wsdl:output message="iface:getPricePlanSummaryResponse"/>
         <wsdl:fault name="ServiceException" message="iface:ServiceException"/>
      </wsdl:operation>
      <wsdl:operation name="getEquipmentInfo">
         <wsdl:input message="iface:getEquipmentInfo"/>
         <wsdl:output message="iface:getEquipmentInfoResponse"/>
         <wsdl:fault name="ServiceException" message="iface:ServiceException"/>
      </wsdl:operation>
      <wsdl:operation name="getAvailableOfferSummary">
         <wsdl:input message="iface:getAvailableOfferSummary"/>
         <wsdl:output message="iface:getAvailableOfferSummaryResponse"/>
         <wsdl:fault name="ServiceException" message="iface:ServiceException"/>
      </wsdl:operation>
      <wsdl:operation name="getOfferDetail">
         <wsdl:input message="iface:getOfferDetail"/>
         <wsdl:output message="iface:getOfferDetailResponse"/>
         <wsdl:fault name="ServiceException" message="iface:ServiceException"/>
      </wsdl:operation>
      <wsdl:operation name="findBetterOffer">
         <wsdl:input message="iface:findBetterOffer"/>
         <wsdl:output message="iface:findBetterOfferResponse"/>
         <wsdl:fault name="ServiceException" message="iface:ServiceException"/>
      </wsdl:operation>
      <wsdl:operation name="getAvailableSweetenerSummary">
         <wsdl:input message="iface:getAvailableSweetenerSummary"/>
         <wsdl:output message="iface:getAvailableSweetenerSummaryResponse"/>
         <wsdl:fault name="ServiceException" message="iface:ServiceException"/>
      </wsdl:operation>
      <wsdl:operation name="getSweetenerDetail">
         <wsdl:input message="iface:getSweetenerDetail"/>
         <wsdl:output message="iface:getSweetenerDetailResponse"/>
         <wsdl:fault name="ServiceException" message="iface:ServiceException"/>
      </wsdl:operation>
      <wsdl:operation name="getAvailableManufactureAndProduct">
         <wsdl:input message="iface:getAvailableManufactureAndProduct"/>
         <wsdl:output message="iface:getAvailableManufactureAndProductResponse"/>
         <wsdl:fault name="ServiceException" message="iface:ServiceException"/>
      </wsdl:operation>
      <wsdl:operation name="getProductInventory">
         <wsdl:input message="iface:getProductInventory"/>
         <wsdl:output message="iface:getProductInventoryResponse"/>
         <wsdl:fault name="ServiceException" message="iface:ServiceException"/>
      </wsdl:operation>
      <wsdl:operation name="getEquipmentSummary">
         <wsdl:input message="iface:getEquipmentSummary"/>
         <wsdl:output message="iface:getEquipmentSummaryResponse"/>
         <wsdl:fault name="ServiceException" message="iface:ServiceException"/>
      </wsdl:operation>
      <wsdl:operation name="getServiceCompatibilityList">
         <wsdl:input message="iface:getServiceCompatibilityList"/>
         <wsdl:output message="iface:getServiceCompatibilityListResponse"/>
         <wsdl:fault name="ServiceException" message="iface:ServiceException"/>
      </wsdl:operation>
      <wsdl:operation name="getAvailableBundleList">
         <wsdl:input message="iface:getAvailableBundleList"/>
         <wsdl:output message="iface:getAvailableBundleListResponse"/>
         <wsdl:fault name="ServiceException" message="iface:ServiceException"/>
      </wsdl:operation>
      <wsdl:operation name="getSalesRecommendation">
         <wsdl:input message="iface:getSalesRecommendation"/>
         <wsdl:output message="iface:getSalesRecommendationResponse"/>
         <wsdl:fault name="ServiceException" message="iface:ServiceException"/>
      </wsdl:operation>
      <wsdl:operation name="getAvailablePerkList">
         <wsdl:input message="iface:getAvailablePerkList"/>
         <wsdl:output message="iface:getAvailablePerkListResponse"/>
         <wsdl:fault name="ServiceException" message="iface:ServiceException"/>
      </wsdl:operation>
      <wsdl:operation name="getAvailableInstallDate">
         <wsdl:input message="iface:getAvailableInstallDate"/>
         <wsdl:output message="iface:getAvailableInstallDateResponse"/>
         <wsdl:fault name="ServiceException" message="iface:ServiceException"/>
      </wsdl:operation>
      <wsdl:operation name="getInstallationDetail">
         <wsdl:input message="iface:getInstallationDetail"/>
         <wsdl:output message="iface:getInstallationDetailResponse"/>
         <wsdl:fault name="ServiceException" message="iface:ServiceException"/>
      </wsdl:operation>
      <wsdl:operation name="getAvailableOfferSummaryList">
         <wsdl:input message="iface:getAvailableOfferSummaryList"/>
         <wsdl:output message="iface:getAvailableOfferSummaryListResponse"/>
         <wsdl:fault name="ServiceException" message="iface:ServiceException"/>
      </wsdl:operation>
      <wsdl:operation name="getSalesOfferDetail">
         <wsdl:input message="iface:getSalesOfferDetail"/>
         <wsdl:output message="iface:getSalesOfferDetailResponse"/>
         <wsdl:fault name="ServiceException" message="iface:ServiceException"/>
      </wsdl:operation>
      <wsdl:operation name="getAvailableWirelineProductList">
         <wsdl:input message="iface:getAvailableWirelineProductList"/>
         <wsdl:output message="iface:getAvailableWirelineProductListResponse"/>
         <wsdl:fault name="ServiceException" message="iface:ServiceException"/>
      </wsdl:operation>
      <wsdl:operation name="getWirelineProductComponentList">
         <wsdl:input message="iface:getWirelineProductComponentList"/>
         <wsdl:output message="iface:getWirelineProductComponentListResponse"/>
         <wsdl:fault name="ServiceException" message="iface:ServiceException"/>
      </wsdl:operation>
      <wsdl:operation name="ping">
         <wsdl:input message="iface:ping"/>
         <wsdl:output message="iface:pingResponse"/>
         <wsdl:fault name="ServiceException" message="iface:ServiceException"/>
      </wsdl:operation>
   </wsdl:portType>
   <wsdl:binding name="EnterpriseSalesInformationService_v5_0_SOAP"
                 type="iface:EnterpriseSalesInformationService_v5_0_PortType">
      <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
      <wsdl:operation name="getNpaNxx">
         <wsdl:documentation>This is used for getting the NpaNxx list based on certains parameters like Equipment and Province</wsdl:documentation>
         <soap:operation soapAction="getNpaNxx"/>
         <wsdl:input>
            <soap:body use="literal" parts="parameters"/>
            <wsp:Policy>
               <wsp:PolicyReference URI="http://xmlschema.tmi.telus.com/srv/policies/Saml1.1-SenderVouches.xml"/>
            </wsp:Policy>
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal" parts="result"/>
         </wsdl:output>
         <wsdl:fault name="ServiceException">
            <soap:fault name="ServiceException" use="literal"/>
         </wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="getNpaNxxList">
         <wsdl:documentation>This is used for getting the NpaNxx list for WLS, VOIP numbers based on certains parameters like Equipment and Province</wsdl:documentation>
         <soap:operation soapAction="getNpaNxxList"/>
         <wsdl:input>
            <soap:body use="literal" parts="parameters"/>
            <wsp:Policy>
               <wsp:PolicyReference URI="http://xmlschema.tmi.telus.com/srv/policies/Saml1.1-SenderVouches.xml"/>
            </wsp:Policy>
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal" parts="result"/>
         </wsdl:output>
         <wsdl:fault name="ServiceException">
            <soap:fault name="ServiceException" use="literal"/>
         </wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="getAvailableTelephoneNumber">
         <wsdl:documentation>This is used for retrieving all the available telephone number based on the selected NpaNxx</wsdl:documentation>
         <soap:operation soapAction="getAvailableTelephoneNumber"/>
         <wsdl:input>
            <soap:body use="literal" parts="parameters"/>
            <wsp:Policy>
               <wsp:PolicyReference URI="http://xmlschema.tmi.telus.com/srv/policies/Saml1.1-SenderVouches.xml"/>
            </wsp:Policy>
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal" parts="result"/>
         </wsdl:output>
         <wsdl:fault name="ServiceException">
            <soap:fault name="ServiceException" use="literal"/>
         </wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="getAvailableTerms">
         <wsdl:documentation>This is used for getting the available Terms based on selected Offer (optional) and other considtions like allowing to upgrade to a higher term only</wsdl:documentation>
         <soap:operation soapAction="getAvailableTerms"/>
         <wsdl:input>
            <soap:body use="literal" parts="parameters"/>
            <wsp:Policy>
               <wsp:PolicyReference URI="http://xmlschema.tmi.telus.com/srv/policies/Saml1.1-SenderVouches.xml"/>
            </wsp:Policy>
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal" parts="result"/>
         </wsdl:output>
         <wsdl:fault name="ServiceException">
            <soap:fault name="ServiceException" use="literal"/>
         </wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="getAvailablePricePlan">
         <wsdl:documentation>This is used for getting the available price plans based mainly on the selected Offer and Equipment</wsdl:documentation>
         <soap:operation soapAction="getAvailablePricePlan"/>
         <wsdl:input>
            <soap:body use="literal" parts="parameters"/>
            <wsp:Policy>
               <wsp:PolicyReference URI="http://xmlschema.tmi.telus.com/srv/policies/Saml1.1-SenderVouches.xml"/>
            </wsp:Policy>
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal" parts="result"/>
         </wsdl:output>
         <wsdl:fault name="ServiceException">
            <soap:fault name="ServiceException" use="literal"/>
         </wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="getPricePlanDetail">
         <wsdl:documentation>This is used for getting the price plan detail along with the available Features and Services based on the selected Price plan</wsdl:documentation>
         <soap:operation soapAction="getPricePlanDetail"/>
         <wsdl:input>
            <soap:body use="literal" parts="parameters"/>
            <wsp:Policy>
               <wsp:PolicyReference URI="http://xmlschema.tmi.telus.com/srv/policies/Saml1.1-SenderVouches.xml"/>
            </wsp:Policy>
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal" parts="result"/>
         </wsdl:output>
         <wsdl:fault name="ServiceException">
            <soap:fault name="ServiceException" use="literal"/>
         </wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="getPricePlanSummary">
         <wsdl:documentation>This is used for getting the price plan summary for Price plan and add-on services</wsdl:documentation>
         <soap:operation soapAction="getPricePlanSummary"/>
         <wsdl:input>
            <soap:body use="literal" parts="parameters"/>
            <wsp:Policy>
               <wsp:PolicyReference URI="http://xmlschema.tmi.telus.com/srv/policies/Saml1.1-SenderVouches.xml"/>
            </wsp:Policy>
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal" parts="result"/>
         </wsdl:output>
         <wsdl:fault name="ServiceException">
            <soap:fault name="ServiceException" use="literal"/>
         </wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="getEquipmentInfo">
         <wsdl:documentation>This is used for validating and retrieving the availability of the selected equipment and validating the discounts</wsdl:documentation>
         <soap:operation soapAction="getEquipmentInfo"/>
         <wsdl:input>
            <soap:body use="literal" parts="parameters"/>
            <wsp:Policy>
               <wsp:PolicyReference URI="http://xmlschema.tmi.telus.com/srv/policies/Saml1.1-SenderVouches.xml"/>
            </wsp:Policy>
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal" parts="result"/>
         </wsdl:output>
         <wsdl:fault name="ServiceException">
            <soap:fault name="ServiceException" use="literal"/>
         </wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="getAvailableOfferSummary">
         <wsdl:documentation>This is used for retrieving available offer summary for new or existing customer. Offer is configured in TOM system which contains eligible hardware, discount and plan and addons</wsdl:documentation>
         <soap:operation soapAction="getAvailableOfferSummary"/>
         <wsdl:input>
            <soap:body use="literal" parts="parameters"/>
            <wsp:Policy>
               <wsp:PolicyReference URI="http://xmlschema.tmi.telus.com/srv/policies/Saml1.1-SenderVouches.xml"/>
            </wsp:Policy>
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal" parts="result"/>
         </wsdl:output>
         <wsdl:fault name="ServiceException">
            <soap:fault name="ServiceException" use="literal"/>
         </wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="getOfferDetail">
         <wsdl:documentation>This is used for retrieving offer detail for newly selected offer for new or existing customer. Offer is configured in TOM system which contains eligible hardware, discount and plan and addons</wsdl:documentation>
         <soap:operation soapAction="getOfferDetail"/>
         <wsdl:input>
            <soap:body use="literal" parts="parameters"/>
            <wsp:Policy>
               <wsp:PolicyReference URI="http://xmlschema.tmi.telus.com/srv/policies/Saml1.1-SenderVouches.xml"/>
            </wsp:Policy>
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal" parts="result"/>
         </wsdl:output>
         <wsdl:fault name="ServiceException">
            <soap:fault name="ServiceException" use="literal"/>
         </wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="findBetterOffer">
         <wsdl:documentation>This is used for retrieving better offer for new or existing customer. This is a deprecated operation and will be removed in next major version</wsdl:documentation>
         <soap:operation soapAction="findBetterOffer"/>
         <wsdl:input>
            <soap:body use="literal" parts="parameters"/>
            <wsp:Policy>
               <wsp:PolicyReference URI="http://xmlschema.tmi.telus.com/srv/policies/Saml1.1-SenderVouches.xml"/>
            </wsp:Policy>
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal" parts="result"/>
         </wsdl:output>
         <wsdl:fault name="ServiceException">
            <soap:fault name="ServiceException" use="literal"/>
         </wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="getAvailableSweetenerSummary">
         <wsdl:documentation>This is used for retrieving available sweetener summary for new or existing customer. Sweetener is configured in P3MS which contains special rate plan, discount or bill credit</wsdl:documentation>
         <soap:operation soapAction="getAvailableSweetenerSummary"/>
         <wsdl:input>
            <soap:body use="literal" parts="parameters"/>
            <wsp:Policy>
               <wsp:PolicyReference URI="http://xmlschema.tmi.telus.com/srv/policies/Saml1.1-SenderVouches.xml"/>
            </wsp:Policy>
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal" parts="result"/>
         </wsdl:output>
         <wsdl:fault name="ServiceException">
            <soap:fault name="ServiceException" use="literal"/>
         </wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="getSweetenerDetail">
         <wsdl:documentation>This is used for retrieving available sweetener detail for new or existing customer. Sweetener is configured in P3MS which contains special rate plan, discount or bill credit</wsdl:documentation>
         <soap:operation soapAction="getSweetenerDetail"/>
         <wsdl:input>
            <soap:body use="literal" parts="parameters"/>
            <wsp:Policy>
               <wsp:PolicyReference URI="http://xmlschema.tmi.telus.com/srv/policies/Saml1.1-SenderVouches.xml"/>
            </wsp:Policy>
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal" parts="result"/>
         </wsdl:output>
         <wsdl:fault name="ServiceException">
            <soap:fault name="ServiceException" use="literal"/>
         </wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="getAvailableManufactureAndProduct">
         <wsdl:documentation>This is used for retrieving available manufacture and product information. Make and model information is configured in P3MS</wsdl:documentation>
         <soap:operation soapAction="getAvailableManufactureAndProduct"/>
         <wsdl:input>
            <soap:body use="literal" parts="parameters"/>
            <wsp:Policy>
               <wsp:PolicyReference URI="http://xmlschema.tmi.telus.com/srv/policies/Saml1.1-SenderVouches.xml"/>
            </wsp:Policy>
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal" parts="result"/>
         </wsdl:output>
         <wsdl:fault name="ServiceException">
            <soap:fault name="ServiceException" use="literal"/>
         </wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="getProductInventory">
         <wsdl:documentation>This is used for retrieving product inventory information for a given SKU. Product inventory informatio is counted in SAP which contains stock level for a given province</wsdl:documentation>
         <soap:operation soapAction="getProductInventory"/>
         <wsdl:input>
            <soap:body use="literal" parts="parameters"/>
            <wsp:Policy>
               <wsp:PolicyReference URI="http://xmlschema.tmi.telus.com/srv/policies/Saml1.1-SenderVouches.xml"/>
            </wsp:Policy>
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal" parts="result"/>
         </wsdl:output>
         <wsdl:fault name="ServiceException">
            <soap:fault name="ServiceException" use="literal"/>
         </wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="getEquipmentSummary">
         <wsdl:documentation>This is used for retrieving equipment summary information for a given SKU or device serial number.</wsdl:documentation>
         <soap:operation soapAction="getEquipmentSummary"/>
         <wsdl:input>
            <soap:body use="literal" parts="parameters"/>
            <wsp:Policy>
               <wsp:PolicyReference URI="http://xmlschema.tmi.telus.com/srv/policies/Saml1.1-SenderVouches.xml"/>
            </wsp:Policy>
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal" parts="result"/>
         </wsdl:output>
         <wsdl:fault name="ServiceException">
            <soap:fault name="ServiceException" use="literal"/>
         </wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="getServiceCompatibilityList">
         <wsdl:documentation>This is used for retrieving service compatibility list for rate plan SOC. Rate plan SOC compatibility and conflict are determined by KB SOC family group</wsdl:documentation>
         <soap:operation soapAction="getServiceCompatibilityList"/>
         <wsdl:input>
            <soap:body use="literal" parts="parameters"/>
            <wsp:Policy>
               <wsp:PolicyReference URI="http://xmlschema.tmi.telus.com/srv/policies/Saml1.1-SenderVouches.xml"/>
            </wsp:Policy>
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal" parts="result"/>
         </wsdl:output>
         <wsdl:fault name="ServiceException">
            <soap:fault name="ServiceException" use="literal"/>
         </wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="getAvailableBundleList">
         <wsdl:documentation>This is used for retrieving available bundles list for a location. This operation is only used for Business Connection bundle which is configured in P3MS</wsdl:documentation>
         <soap:operation soapAction="getAvailableBundleList"/>
         <wsdl:input>
            <soap:body use="literal" parts="parameters"/>
            <wsp:Policy>
               <wsp:PolicyReference URI="http://xmlschema.tmi.telus.com/srv/policies/Saml1.1-SenderVouches.xml"/>
            </wsp:Policy>
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal" parts="result"/>
         </wsdl:output>
         <wsdl:fault name="ServiceException">
            <soap:fault name="ServiceException" use="literal"/>
         </wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="getSalesRecommendation">
         <wsdl:documentation>This is used for retrieving recommended offer, price plan, feature, device in a sales flow. Sales recommendation and configuration reside in ACE system</wsdl:documentation>
         <soap:operation soapAction="getSalesRecommendation"/>
         <wsdl:input>
            <soap:body use="literal" parts="parameters"/>
            <wsp:Policy>
               <wsp:PolicyReference URI="http://xmlschema.tmi.telus.com/srv/policies/Saml1.1-SenderVouches.xml"/>
            </wsp:Policy>
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal" parts="result"/>
         </wsdl:output>
         <wsdl:fault name="ServiceException">
            <soap:fault name="ServiceException" use="literal"/>
         </wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="getAvailablePerkList">
         <wsdl:documentation>This is used for retrieving available perk for both wireless and wireline sales. Perk can contain wireless bill credit, bill discount and special SOC for plan and service and wireline discount.</wsdl:documentation>
         <soap:operation soapAction="getAvailablePerkList"/>
         <wsdl:input>
            <soap:body use="literal" parts="parameters"/>
            <wsp:Policy>
               <wsp:PolicyReference URI="http://xmlschema.tmi.telus.com/srv/policies/Saml1.1-SenderVouches.xml"/>
            </wsp:Policy>
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal" parts="result"/>
         </wsdl:output>
         <wsdl:fault name="ServiceException">
            <soap:fault name="ServiceException" use="literal"/>
         </wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="getAvailableInstallDate">
         <wsdl:documentation>This is used for retrieving available installation dates for wireline product or service. Availability includes next available date for each wireline product.</wsdl:documentation>
         <soap:operation soapAction="getAvailableInstallDate"/>
         <wsdl:input>
            <soap:body use="literal" parts="parameters"/>
            <wsp:Policy>
               <wsp:PolicyReference URI="http://xmlschema.tmi.telus.com/srv/policies/Saml1.1-SenderVouches.xml"/>
            </wsp:Policy>
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal" parts="result"/>
         </wsdl:output>
         <wsdl:fault name="ServiceException">
            <soap:fault name="ServiceException" use="literal"/>
         </wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="getInstallationDetail">
         <wsdl:documentation>This is used for retrieving installation details for wireline product or service. Availability includes next available date for each wireline product.</wsdl:documentation>
         <soap:operation soapAction="getInstallationDetail"/>
         <wsdl:input>
            <soap:body use="literal" parts="parameters"/>
            <wsp:Policy>
               <wsp:PolicyReference URI="http://xmlschema.tmi.telus.com/srv/policies/Saml1.1-SenderVouches.xml"/>
            </wsp:Policy>
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal" parts="result"/>
         </wsdl:output>
         <wsdl:fault name="ServiceException">
            <soap:fault name="ServiceException" use="literal"/>
         </wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="getAvailableOfferSummaryList">
         <wsdl:documentation>This operation is used for retrieving different types of offers based on the sales criteria.</wsdl:documentation>
         <soap:operation soapAction="getAvailableOfferSummaryList"/>
         <wsdl:input>
            <soap:body use="literal" parts="parameters"/>
            <wsp:Policy>
               <wsp:PolicyReference URI="http://xmlschema.tmi.telus.com/srv/policies/Saml1.1-SenderVouches.xml"/>
            </wsp:Policy>
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal" parts="result"/>
         </wsdl:output>
         <wsdl:fault name="ServiceException">
            <soap:fault name="ServiceException" use="literal"/>
         </wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="getSalesOfferDetail">
         <wsdl:documentation>This operation is used for retrieving offer details based on the sales criteria.</wsdl:documentation>
         <soap:operation soapAction="getSalesOfferDetail"/>
         <wsdl:input>
            <soap:body use="literal" parts="parameters"/>
            <wsp:Policy>
               <wsp:PolicyReference URI="http://xmlschema.tmi.telus.com/srv/policies/Saml1.1-SenderVouches.xml"/>
            </wsp:Policy>
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal" parts="result"/>
         </wsdl:output>
         <wsdl:fault name="ServiceException">
            <soap:fault name="ServiceException" use="literal"/>
         </wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="getAvailableWirelineProductList">
         <wsdl:documentation>This operation is used for retrieving product plan list based on the sales criteria.</wsdl:documentation>
         <soap:operation soapAction="getAvailableWirelineProductList"/>
         <wsdl:input>
            <soap:body use="literal" parts="parameters"/>
            <wsp:Policy>
               <wsp:PolicyReference URI="http://xmlschema.tmi.telus.com/srv/policies/Saml1.1-SenderVouches.xml"/>
            </wsp:Policy>
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal" parts="result"/>
         </wsdl:output>
         <wsdl:fault name="ServiceException">
            <soap:fault name="ServiceException" use="literal"/>
         </wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="getWirelineProductComponentList">
         <wsdl:documentation>This operation is used for retrieving wirelien product hierarchy.</wsdl:documentation>
         <soap:operation soapAction="getWirelineProductComponentList"/>
         <wsdl:input>
            <soap:body use="literal" parts="parameters"/>
            <wsp:Policy>
               <wsp:PolicyReference URI="http://xmlschema.tmi.telus.com/srv/policies/Saml1.1-SenderVouches.xml"/>
            </wsp:Policy>
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal" parts="result"/>
         </wsdl:output>
         <wsdl:fault name="ServiceException">
            <soap:fault name="ServiceException" use="literal"/>
         </wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="ping">
         <wsdl:documentation/>
         <soap:operation soapAction="ping"/>
         <wsdl:input>
            <soap:body parts="parameters" use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:body parts="result" use="literal"/>
         </wsdl:output>
         <wsdl:fault name="ServiceException">
            <soap:fault name="ServiceException" use="literal"/>
         </wsdl:fault>
      </wsdl:operation>
   </wsdl:binding>
   <wsdl:service name="EnterpriseSalesInformationService_v5_0">
      <wsdl:port name="EnterpriseSalesInformationServicePort"
                 binding="iface:EnterpriseSalesInformationService_v5_0_SOAP">
         <soap:address location="http://channelsalesmgmt-bussvc-dv103.tsl.telus.com/MSO/ChannelSalesMgmt/EnterpriseSalesInformationService_v5_0/EnterpriseSalesInformationService_v5_0"/>
      </wsdl:port>
   </wsdl:service>
</wsdl:definitions>
