ewlnss-adapter-wsdl/ServiceAddressManagementSvc-ws-client/src/main/resources/wsdls/ServiceAddressManagementService_v1_1.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy"
                  xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                  xmlns:wss="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd"
                  xmlns:xs="http://www.w3.org/2001/XMLSchema"
                  xmlns:ping="http://xmlschema.tmi.telus.com/xsd/Enterprise/BaseTypes/types/ping_v1"
                  xmlns:ex="http://xmlschema.tmi.telus.com/xsd/common/exceptions/Exceptions_v1_0"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:iface="http://telus.com/wsdl/SMO/OrderMgmt/ServiceAddressManagementService_1"
                  xmlns:as="http://xmlschema.tmi.telus.com/srv/SMO/OrderMgmt/ServiceAddressManagementServiceRequestResponse_v1"
                  name="ServiceAddressManagementService_v1_1.wsdl"
                  targetNamespace="http://telus.com/wsdl/SMO/OrderMgmt/ServiceAddressManagementService_1"><!--	Generated File:
			This file was generated by the following xslt:
				http://xmlschema.tmi.telus.com/xsd/common/utils/xmlToWsdl/xmlToWsdl_v2_8.xslt
			Based on a ServiceDefinition.xml file that conforms to the following schema:
				http://xmlschema.tmi.telus.com/xsd/common/utils/xmlToWsdl/ServiceDefinition_v3_0.xsd
			--><wsdl:documentation>Address search operations against the Facilities Management Address Repository.</wsdl:documentation>
   <wsdl:types>
      <xsd:schema targetNamespace="http://telus.com/wsdl/SMO/OrderMgmt/ServiceAddressManagementService_1">
         <xsd:import namespace="http://xmlschema.tmi.telus.com/srv/SMO/OrderMgmt/ServiceAddressManagementServiceRequestResponse_v1"
                     schemaLocation="http://xmlschema.tmi.telus.com/srv/SMO/OrderMgmt/ServiceAddressManagementServiceRequestResponse_v1_1.xsd"/>
         <xsd:import namespace="http://xmlschema.tmi.telus.com/xsd/common/exceptions/Exceptions_v1_0"
                     schemaLocation="http://xmlschema.tmi.telus.com/xsd/common/exceptions/Exceptions_v1_0.xsd"/>
         <xsd:import namespace="http://xmlschema.tmi.telus.com/xsd/Enterprise/BaseTypes/types/ping_v1"
                     schemaLocation="http://xmlschema.tmi.telus.com/xsd/Enterprise/BaseTypes/types/ping_v1.xsd"/>
      </xsd:schema>
   </wsdl:types>
   <wsdl:message name="searchServiceAddress">
      <wsdl:part name="parameters" element="as:searchServiceAddress"/>
   </wsdl:message>
   <wsdl:message name="searchServiceAddressResponse">
      <wsdl:part name="result" element="as:searchServiceAddressResponse"/>
   </wsdl:message>
   <wsdl:message name="getServiceAddressDetails">
      <wsdl:part name="parameters" element="as:getServiceAddressDetails"/>
   </wsdl:message>
   <wsdl:message name="getServiceAddressDetailsResponse">
      <wsdl:part name="result" element="as:getServiceAddressDetailsResponse"/>
   </wsdl:message>
   <wsdl:message name="ping">
      <wsdl:part name="parameters" element="ping:ping"/>
   </wsdl:message>
   <wsdl:message name="pingResponse">
      <wsdl:part name="result" element="ping:pingResponse"/>
   </wsdl:message>
   <wsdl:message name="ServiceException">
      <wsdl:part name="fault" element="ex:ServiceException"/>
   </wsdl:message>
   <wsdl:message name="PolicyException">
      <wsdl:part name="fault" element="ex:PolicyException"/>
   </wsdl:message>
   <wsdl:portType name="ServiceAddressManagementService_v1_1_PortType">
      <wsdl:operation name="searchServiceAddress">
         <wsdl:input message="iface:searchServiceAddress"/>
         <wsdl:output message="iface:searchServiceAddressResponse"/>
         <wsdl:fault name="ServiceException" message="iface:ServiceException"/>
         <wsdl:fault name="PolicyException" message="iface:PolicyException"/>
      </wsdl:operation>
      <wsdl:operation name="getServiceAddressDetails">
         <wsdl:input message="iface:getServiceAddressDetails"/>
         <wsdl:output message="iface:getServiceAddressDetailsResponse"/>
         <wsdl:fault name="ServiceException" message="iface:ServiceException"/>
         <wsdl:fault name="PolicyException" message="iface:PolicyException"/>
      </wsdl:operation>
      <wsdl:operation name="ping">
         <wsdl:input message="iface:ping"/>
         <wsdl:output message="iface:pingResponse"/>
         <wsdl:fault name="ServiceException" message="iface:ServiceException"/>
         <wsdl:fault name="PolicyException" message="iface:PolicyException"/>
      </wsdl:operation>
   </wsdl:portType>
   <wsdl:binding name="ServiceAddressManagementService_v1_1_SOAP"
                 type="iface:ServiceAddressManagementService_v1_1_PortType">
      <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
      <wsdl:operation name="searchServiceAddress">
         <wsdl:documentation/>
         <soap:operation soapAction="searchServiceAddress"/>
         <wsdl:input>
            <soap:body use="literal" parts="parameters"/>
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal" parts="result"/>
         </wsdl:output>
         <wsdl:fault name="ServiceException">
            <soap:fault name="ServiceException" use="literal"/>
         </wsdl:fault>
         <wsdl:fault name="PolicyException">
            <soap:fault name="PolicyException" use="literal"/>
         </wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="getServiceAddressDetails">
         <wsdl:documentation/>
         <soap:operation soapAction="getServiceAddressDetails"/>
         <wsdl:input>
            <soap:body use="literal" parts="parameters"/>
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal" parts="result"/>
         </wsdl:output>
         <wsdl:fault name="ServiceException">
            <soap:fault name="ServiceException" use="literal"/>
         </wsdl:fault>
         <wsdl:fault name="PolicyException">
            <soap:fault name="PolicyException" use="literal"/>
         </wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="ping">
         <wsdl:documentation/>
         <soap:operation soapAction="ping"/>
         <wsdl:input>
            <soap:body parts="parameters" use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:body parts="result" use="literal"/>
         </wsdl:output>
         <wsdl:fault name="ServiceException">
            <soap:fault name="ServiceException" use="literal"/>
         </wsdl:fault>
         <wsdl:fault name="PolicyException">
            <soap:fault name="PolicyException" use="literal"/>
         </wsdl:fault>
      </wsdl:operation>
   </wsdl:binding>
   <wsdl:service name="ServiceAddressManagementService_v1_1">
      <wsdl:port name="ServiceAddressManagementServicePort"
                 binding="iface:ServiceAddressManagementService_v1_1_SOAP">
         <soap:address location="http://cmf-ffhorderprovision-west-dv01.tsl.telus.com/SMO/OrderMgmt/ServiceAddressManagementService_v1_1"/>
      </wsdl:port>
   </wsdl:service>
</wsdl:definitions>