ewlnss-adapter-wsdl/ReferencePDSDataService-ws-client/src/main/resources/wsdls/ReferencePDSDataService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Oracle JAX-WS 2.1.5. --><wsdl:definitions xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wss="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:ping="http://xmlschema.tmi.telus.com/xsd/Enterprise/BaseTypes/types/ping_v1" xmlns:ex="http://xmlschema.tmi.telus.com/xsd/common/exceptions/Exceptions_v1_0" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:iface="http://telus.com/wsdl/ERM/RefPds/ReferencePDSDataService_1" xmlns:rp="http://xmlschema.tmi.telus.com/srv/ERM/RefPds/ReferencePDSDataServiceRequestResponse_v1_0" name="ReferencePDSDataService_v1_0.wsdl" targetNamespace="http://telus.com/wsdl/ERM/RefPds/ReferencePDSDataService_1"><!--	Generated File:
			This file was generated by the following xslt:
				http://xmlschema.tmi.telus.com/xsd/common/utils/xmlToWsdl/xmlToWsdl_v2_6.xslt
			Based on a ServiceDefinition.xml file that conforms to the following schema:
				http://xmlschema.tmi.telus.com/xsd/common/utils/xmlToWsdl/ServiceDefinition_v3_0.xsd
			--><wsdl:documentation>Ref PDS Service provides the capability for clients to retrieve a list of Reference Entity Instances that their application subscribes to.  The instances are of either a Code Decode, Message, View and XRef types.</wsdl:documentation>
   <wsdl:types>
      <xsd:schema targetNamespace="http://telus.com/wsdl/ERM/RefPds/ReferencePDSDataService_1">
         <xsd:import namespace="http://xmlschema.tmi.telus.com/srv/ERM/RefPds/ReferencePDSDataServiceRequestResponse_v1_0" schemaLocation="http://utilmgtsvcwest.tsl.telus.com:80/telus-ref-rpds-webservices/ReferencePDSDataService?xsd=3"/>
         <xsd:import namespace="http://xmlschema.tmi.telus.com/xsd/common/exceptions/Exceptions_v1_0" schemaLocation="http://utilmgtsvcwest.tsl.telus.com:80/telus-ref-rpds-webservices/ReferencePDSDataService?xsd=2"/>
         <xsd:import namespace="http://xmlschema.tmi.telus.com/xsd/Enterprise/BaseTypes/types/ping_v1" schemaLocation="http://utilmgtsvcwest.tsl.telus.com:80/telus-ref-rpds-webservices/ReferencePDSDataService?xsd=1"/>
      </xsd:schema>
   </wsdl:types>
   <wsdl:message name="getSubscriptions">
      <wsdl:part name="parameters" element="rp:getSubscriptions"/>
   </wsdl:message>
   <wsdl:message name="getSubscriptionsResponse">
      <wsdl:part name="result" element="rp:getSubscriptionsResponse"/>
   </wsdl:message>
   <wsdl:message name="getReferenceData">
      <wsdl:part name="parameters" element="rp:getReferenceData"/>
   </wsdl:message>
   <wsdl:message name="getReferenceDataResponse">
      <wsdl:part name="result" element="rp:getReferenceDataResponse"/>
   </wsdl:message>
   <wsdl:message name="getInstances">
      <wsdl:part name="parameters" element="rp:getInstances"/>
   </wsdl:message>
   <wsdl:message name="getInstancesResponse">
      <wsdl:part name="result" element="rp:getInstancesResponse"/>
   </wsdl:message>
   <wsdl:message name="getInstance">
      <wsdl:part name="parameters" element="rp:getInstance"/>
   </wsdl:message>
   <wsdl:message name="getInstanceResponse">
      <wsdl:part name="result" element="rp:getInstanceResponse"/>
   </wsdl:message>
   <wsdl:message name="ping">
      <wsdl:part name="parameters" element="ping:ping"/>
   </wsdl:message>
   <wsdl:message name="pingResponse">
      <wsdl:part name="result" element="ping:pingResponse"/>
   </wsdl:message>
   <wsdl:message name="ServiceException">
      <wsdl:part name="fault" element="ex:ServiceException"/>
   </wsdl:message>
   <wsdl:message name="PolicyException">
      <wsdl:part name="fault" element="ex:PolicyException"/>
   </wsdl:message>
   <wsdl:portType name="ReferencePDSDataServicePortType">
      <wsdl:operation name="getSubscriptions">
         <wsdl:input message="iface:getSubscriptions"/>
         <wsdl:output message="iface:getSubscriptionsResponse"/>
         <wsdl:fault name="ServiceException" message="iface:ServiceException"/>
         <wsdl:fault name="PolicyException" message="iface:PolicyException"/>
      </wsdl:operation>
      <wsdl:operation name="getReferenceData">
         <wsdl:input message="iface:getReferenceData"/>
         <wsdl:output message="iface:getReferenceDataResponse"/>
         <wsdl:fault name="ServiceException" message="iface:ServiceException"/>
         <wsdl:fault name="PolicyException" message="iface:PolicyException"/>
      </wsdl:operation>
      <wsdl:operation name="getInstances">
         <wsdl:input message="iface:getInstances"/>
         <wsdl:output message="iface:getInstancesResponse"/>
         <wsdl:fault name="ServiceException" message="iface:ServiceException"/>
         <wsdl:fault name="PolicyException" message="iface:PolicyException"/>
      </wsdl:operation>
      <wsdl:operation name="getInstance">
         <wsdl:input message="iface:getInstance"/>
         <wsdl:output message="iface:getInstanceResponse"/>
         <wsdl:fault name="ServiceException" message="iface:ServiceException"/>
         <wsdl:fault name="PolicyException" message="iface:PolicyException"/>
      </wsdl:operation>
      <wsdl:operation name="ping">
         <wsdl:input message="iface:ping"/>
         <wsdl:output message="iface:pingResponse"/>
         <wsdl:fault name="ServiceException" message="iface:ServiceException"/>
         <wsdl:fault name="PolicyException" message="iface:PolicyException"/>
      </wsdl:operation>
   </wsdl:portType>
   <wsdl:binding name="ReferencePDSDataServiceSOAP" type="iface:ReferencePDSDataServicePortType">
      <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
      <wsdl:operation name="getSubscriptions">
         <wsdl:documentation/>
         <soap:operation soapAction="getSubscriptions"/>
         <wsdl:input>
            <soap:body use="literal" parts="parameters"/>
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal" parts="result"/>
         </wsdl:output>
         <wsdl:fault name="ServiceException">
            <soap:fault name="ServiceException" use="literal"/>
         </wsdl:fault>
         <wsdl:fault name="PolicyException">
            <soap:fault name="PolicyException" use="literal"/>
         </wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="getReferenceData">
         <wsdl:documentation/>
         <soap:operation soapAction="getReferenceData"/>
         <wsdl:input>
            <soap:body use="literal" parts="parameters"/>
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal" parts="result"/>
         </wsdl:output>
         <wsdl:fault name="ServiceException">
            <soap:fault name="ServiceException" use="literal"/>
         </wsdl:fault>
         <wsdl:fault name="PolicyException">
            <soap:fault name="PolicyException" use="literal"/>
         </wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="getInstances">
         <wsdl:documentation/>
         <soap:operation soapAction="getInstances"/>
         <wsdl:input>
            <soap:body use="literal" parts="parameters"/>
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal" parts="result"/>
         </wsdl:output>
         <wsdl:fault name="ServiceException">
            <soap:fault name="ServiceException" use="literal"/>
         </wsdl:fault>
         <wsdl:fault name="PolicyException">
            <soap:fault name="PolicyException" use="literal"/>
         </wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="getInstance">
         <wsdl:documentation/>
         <soap:operation soapAction="getInstance"/>
         <wsdl:input>
            <soap:body use="literal" parts="parameters"/>
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal" parts="result"/>
         </wsdl:output>
         <wsdl:fault name="ServiceException">
            <soap:fault name="ServiceException" use="literal"/>
         </wsdl:fault>
         <wsdl:fault name="PolicyException">
            <soap:fault name="PolicyException" use="literal"/>
         </wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="ping">
         <wsdl:documentation/>
         <soap:operation soapAction="ping"/>
         <wsdl:input>
            <soap:body parts="parameters" use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:body parts="result" use="literal"/>
         </wsdl:output>
         <wsdl:fault name="ServiceException">
            <soap:fault name="ServiceException" use="literal"/>
         </wsdl:fault>
         <wsdl:fault name="PolicyException">
            <soap:fault name="PolicyException" use="literal"/>
         </wsdl:fault>
      </wsdl:operation>
   </wsdl:binding>
   <wsdl:service name="ReferencePDSDataService">
      <wsdl:port name="ReferencePDSDataServicePort" binding="iface:ReferencePDSDataServiceSOAP">
         <soap:address location="http://utilmgtsvcwest.tsl.telus.com:80/telus-ref-rpds-webservices/ReferencePDSDataService"/>
      </wsdl:port>
   </wsdl:service>
</wsdl:definitions>