ewlnss-wsdl/ewlnss-esms-wsdl/src/main/resources/wsdls/EnterpriseSalesManagementService_v5_0.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy"
                  xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                  xmlns:wss="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd"
                  xmlns:xs="http://www.w3.org/2001/XMLSchema"
                  xmlns:ping="http://xmlschema.tmi.telus.com/xsd/Enterprise/BaseTypes/types/ping_v1"
                  xmlns:ex="http://xmlschema.tmi.telus.com/xsd/Enterprise/BaseTypes/Exceptions_v3"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:shttp="http://soa.com/wsdl/http"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:iface="http://telus.com/wsdl/MSO/ChannelSalesMgmt/EnterpriseSalesManagementService_5"
                  xmlns:csm="http://xmlschema.tmi.telus.com/srv/MSO/ChannelSalesMgmt/EnterpriseSalesManagementServiceRequestResponse_v5"
                  targetNamespace="http://telus.com/wsdl/MSO/ChannelSalesMgmt/EnterpriseSalesManagementService_5"><!--	
	Generated File:
		This file was generated by the following xslt:
			http://xmlschema.tmi.telus.com/xsd/common/utils/xmlToWsdl/xmlToWsdl_v4_1.xslt
		Based on a ServiceDefinition.xml file that conforms to the following schema:
			http://xmlschema.tmi.telus.com/xsd/common/utils/xmlToWsdl/ServiceDefinition_v3_3.xsd
				--><wsdl:types>
      <xsd:schema targetNamespace="http://telus.com/wsdl/MSO/ChannelSalesMgmt/EnterpriseSalesManagementService_5">
         <xsd:import namespace="http://xmlschema.tmi.telus.com/srv/MSO/ChannelSalesMgmt/EnterpriseSalesManagementServiceRequestResponse_v5"
                     schemaLocation="http://xmlschema.tmi.telus.com/srv/MSO/ChannelSalesMgmt/EnterpriseSalesManagementServiceRequestResponse_v5_17.xsd"/>
         <xsd:import namespace="http://xmlschema.tmi.telus.com/xsd/Enterprise/BaseTypes/Exceptions_v3"
                     schemaLocation="http://xmlschema.tmi.telus.com/xsd/Enterprise/BaseTypes/Exceptions_v3_0.xsd"/>
         <xsd:import namespace="http://xmlschema.tmi.telus.com/xsd/Enterprise/BaseTypes/types/ping_v1"
                     schemaLocation="http://xmlschema.tmi.telus.com/xsd/Enterprise/BaseTypes/types/ping_v1.xsd"/>
      </xsd:schema>
   </wsdl:types>
   <wsdl:message name="authenticateClient">
      <wsdl:part name="parameters" element="csm:authenticateClient"/>
   </wsdl:message>
   <wsdl:message name="authenticateClientResponse">
      <wsdl:part name="result" element="csm:authenticateClientResponse"/>
   </wsdl:message>
   <wsdl:message name="authenticateAccount">
      <wsdl:part name="parameters" element="csm:authenticateAccount"/>
   </wsdl:message>
   <wsdl:message name="authenticateAccountResponse">
      <wsdl:part name="result" element="csm:authenticateAccountResponse"/>
   </wsdl:message>
   <wsdl:message name="getAccountSummary">
      <wsdl:part name="parameters" element="csm:getAccountSummary"/>
   </wsdl:message>
   <wsdl:message name="getAccountSummaryResponse">
      <wsdl:part name="result" element="csm:getAccountSummaryResponse"/>
   </wsdl:message>
   <wsdl:message name="getDataSharingSummary">
      <wsdl:part name="parameters" element="csm:getDataSharingSummary"/>
   </wsdl:message>
   <wsdl:message name="getDataSharingSummaryResponse">
      <wsdl:part name="result" element="csm:getDataSharingSummaryResponse"/>
   </wsdl:message>
   <wsdl:message name="getSubscriberDetail">
      <wsdl:part name="parameters" element="csm:getSubscriberDetail"/>
   </wsdl:message>
   <wsdl:message name="getSubscriberDetailResponse">
      <wsdl:part name="result" element="csm:getSubscriberDetailResponse"/>
   </wsdl:message>
   <wsdl:message name="getConsolidatedAccountProfile">
      <wsdl:part name="parameters" element="csm:getConsolidatedAccountProfile"/>
   </wsdl:message>
   <wsdl:message name="getConsolidatedAccountProfileResponse">
      <wsdl:part name="result" element="csm:getConsolidatedAccountProfileResponse"/>
   </wsdl:message>
   <wsdl:message name="calculatePrice">
      <wsdl:part name="parameters" element="csm:calculatePrice"/>
   </wsdl:message>
   <wsdl:message name="calculatePriceResponse">
      <wsdl:part name="result" element="csm:calculatePriceResponse"/>
   </wsdl:message>
   <wsdl:message name="submitSalesOrderPayment">
      <wsdl:part name="parameters" element="csm:submitSalesOrderPayment"/>
   </wsdl:message>
   <wsdl:message name="submitSalesOrderPaymentResponse">
      <wsdl:part name="result" element="csm:submitSalesOrderPaymentResponse"/>
   </wsdl:message>
   <wsdl:message name="getUsageDetail">
      <wsdl:part name="parameters" element="csm:getUsageDetail"/>
   </wsdl:message>
   <wsdl:message name="getUsageDetailResponse">
      <wsdl:part name="result" element="csm:getUsageDetailResponse"/>
   </wsdl:message>
   <wsdl:message name="getSalesOrderHistory">
      <wsdl:part name="parameters" element="csm:getSalesOrderHistory"/>
   </wsdl:message>
   <wsdl:message name="getSalesOrderHistoryResponse">
      <wsdl:part name="result" element="csm:getSalesOrderHistoryResponse"/>
   </wsdl:message>
   <wsdl:message name="getSalesOrderContract">
      <wsdl:part name="parameters" element="csm:getSalesOrderContract"/>
   </wsdl:message>
   <wsdl:message name="getSalesOrderContractResponse">
      <wsdl:part name="result" element="csm:getSalesOrderContractResponse"/>
   </wsdl:message>
   <wsdl:message name="getEstimatedProratedBill">
      <wsdl:part name="parameters" element="csm:getEstimatedProratedBill"/>
   </wsdl:message>
   <wsdl:message name="getEstimatedProratedBillResponse">
      <wsdl:part name="result" element="csm:getEstimatedProratedBillResponse"/>
   </wsdl:message>
   <wsdl:message name="payOutstandingAccountBalanceAndRestoreSuspension">
      <wsdl:part name="parameters"
                 element="csm:payOutstandingAccountBalanceAndRestoreSuspension"/>
   </wsdl:message>
   <wsdl:message name="payOutstandingAccountBalanceAndRestoreSuspensionResponse">
      <wsdl:part name="result"
                 element="csm:payOutstandingAccountBalanceAndRestoreSuspensionResponse"/>
   </wsdl:message>
   <wsdl:message name="createAccount">
      <wsdl:part name="parameters" element="csm:createAccount"/>
   </wsdl:message>
   <wsdl:message name="createAccountResponse">
      <wsdl:part name="result" element="csm:createAccountResponse"/>
   </wsdl:message>
   <wsdl:message name="reservePhoneNumber">
      <wsdl:part name="parameters" element="csm:reservePhoneNumber"/>
   </wsdl:message>
   <wsdl:message name="reservePhoneNumberResponse">
      <wsdl:part name="result" element="csm:reservePhoneNumberResponse"/>
   </wsdl:message>
   <wsdl:message name="unreservePhoneNumber">
      <wsdl:part name="parameters" element="csm:unreservePhoneNumber"/>
   </wsdl:message>
   <wsdl:message name="unreservePhoneNumberResponse">
      <wsdl:part name="result" element="csm:unreservePhoneNumberResponse"/>
   </wsdl:message>
   <wsdl:message name="searchClientNotes">
      <wsdl:part name="parameters" element="csm:searchClientNotes"/>
   </wsdl:message>
   <wsdl:message name="searchClientNotesResponse">
      <wsdl:part name="result" element="csm:searchClientNotesResponse"/>
   </wsdl:message>
   <wsdl:message name="createClientNote">
      <wsdl:part name="parameters" element="csm:createClientNote"/>
   </wsdl:message>
   <wsdl:message name="createClientNoteResponse">
      <wsdl:part name="result" element="csm:createClientNoteResponse"/>
   </wsdl:message>
   <wsdl:message name="initializeSales">
      <wsdl:part name="parameters" element="csm:initializeSales"/>
   </wsdl:message>
   <wsdl:message name="initializeSalesResponse">
      <wsdl:part name="result" element="csm:initializeSalesResponse"/>
   </wsdl:message>
   <wsdl:message name="getCorporateHierarchy">
      <wsdl:part name="parameters" element="csm:getCorporateHierarchy"/>
   </wsdl:message>
   <wsdl:message name="getCorporateHierarchyResponse">
      <wsdl:part name="result" element="csm:getCorporateHierarchyResponse"/>
   </wsdl:message>
   <wsdl:message name="getCorporateAccountSummaryList">
      <wsdl:part name="parameters" element="csm:getCorporateAccountSummaryList"/>
   </wsdl:message>
   <wsdl:message name="getCorporateAccountSummaryListResponse">
      <wsdl:part name="result" element="csm:getCorporateAccountSummaryListResponse"/>
   </wsdl:message>
   <wsdl:message name="searchClient">
      <wsdl:part name="parameters" element="csm:searchClient"/>
   </wsdl:message>
   <wsdl:message name="searchClientResponse">
      <wsdl:part name="result" element="csm:searchClientResponse"/>
   </wsdl:message>
   <wsdl:message name="updateSalesReference">
      <wsdl:part name="parameters" element="csm:updateSalesReference"/>
   </wsdl:message>
   <wsdl:message name="updateSalesReferenceResponse">
      <wsdl:part name="result" element="csm:updateSalesReferenceResponse"/>
   </wsdl:message>
   <wsdl:message name="searchServiceAddress">
      <wsdl:part name="parameters" element="csm:searchServiceAddress"/>
   </wsdl:message>
   <wsdl:message name="searchServiceAddressResponse">
      <wsdl:part name="result" element="csm:searchServiceAddressResponse"/>
   </wsdl:message>
   <wsdl:message name="createWirelineAccount">
      <wsdl:part name="parameters" element="csm:createWirelineAccount"/>
   </wsdl:message>
   <wsdl:message name="createWirelineAccountResponse">
      <wsdl:part name="result" element="csm:createWirelineAccountResponse"/>
   </wsdl:message>
   <wsdl:message name="updateAccount">
      <wsdl:part name="parameters" element="csm:updateAccount"/>
   </wsdl:message>
   <wsdl:message name="updateAccountResponse">
      <wsdl:part name="result" element="csm:updateAccountResponse"/>
   </wsdl:message>
   <wsdl:message name="getMultiSubscriberBenefit">
      <wsdl:part name="parameters" element="csm:getMultiSubscriberBenefit"/>
   </wsdl:message>
   <wsdl:message name="getMultiSubscriberBenefitResponse">
      <wsdl:part name="result" element="csm:getMultiSubscriberBenefitResponse"/>
   </wsdl:message>
   <wsdl:message name="ping">
      <wsdl:part name="parameters" element="ping:ping"/>
   </wsdl:message>
   <wsdl:message name="pingResponse">
      <wsdl:part name="result" element="ping:pingResponse"/>
   </wsdl:message>
   <wsdl:message name="ServiceException">
      <wsdl:part name="fault" element="ex:ServiceException"/>
   </wsdl:message>
   <wsdl:portType name="EnterpriseSalesManagementService_v5_0_PortType">
      <wsdl:operation name="authenticateClient">
         <wsdl:input message="iface:authenticateClient"/>
         <wsdl:output message="iface:authenticateClientResponse"/>
         <wsdl:fault name="ServiceException" message="iface:ServiceException"/>
      </wsdl:operation>
      <wsdl:operation name="authenticateAccount">
         <wsdl:input message="iface:authenticateAccount"/>
         <wsdl:output message="iface:authenticateAccountResponse"/>
         <wsdl:fault name="ServiceException" message="iface:ServiceException"/>
      </wsdl:operation>
      <wsdl:operation name="getAccountSummary">
         <wsdl:input message="iface:getAccountSummary"/>
         <wsdl:output message="iface:getAccountSummaryResponse"/>
         <wsdl:fault name="ServiceException" message="iface:ServiceException"/>
      </wsdl:operation>
      <wsdl:operation name="getDataSharingSummary">
         <wsdl:input message="iface:getDataSharingSummary"/>
         <wsdl:output message="iface:getDataSharingSummaryResponse"/>
         <wsdl:fault name="ServiceException" message="iface:ServiceException"/>
      </wsdl:operation>
      <wsdl:operation name="getSubscriberDetail">
         <wsdl:input message="iface:getSubscriberDetail"/>
         <wsdl:output message="iface:getSubscriberDetailResponse"/>
         <wsdl:fault name="ServiceException" message="iface:ServiceException"/>
      </wsdl:operation>
      <wsdl:operation name="getConsolidatedAccountProfile">
         <wsdl:input message="iface:getConsolidatedAccountProfile"/>
         <wsdl:output message="iface:getConsolidatedAccountProfileResponse"/>
         <wsdl:fault name="ServiceException" message="iface:ServiceException"/>
      </wsdl:operation>
      <wsdl:operation name="calculatePrice">
         <wsdl:input message="iface:calculatePrice"/>
         <wsdl:output message="iface:calculatePriceResponse"/>
         <wsdl:fault name="ServiceException" message="iface:ServiceException"/>
      </wsdl:operation>
      <wsdl:operation name="submitSalesOrderPayment">
         <wsdl:input message="iface:submitSalesOrderPayment"/>
         <wsdl:output message="iface:submitSalesOrderPaymentResponse"/>
         <wsdl:fault name="ServiceException" message="iface:ServiceException"/>
      </wsdl:operation>
      <wsdl:operation name="getUsageDetail">
         <wsdl:input message="iface:getUsageDetail"/>
         <wsdl:output message="iface:getUsageDetailResponse"/>
         <wsdl:fault name="ServiceException" message="iface:ServiceException"/>
      </wsdl:operation>
      <wsdl:operation name="getSalesOrderHistory">
         <wsdl:input message="iface:getSalesOrderHistory"/>
         <wsdl:output message="iface:getSalesOrderHistoryResponse"/>
         <wsdl:fault name="ServiceException" message="iface:ServiceException"/>
      </wsdl:operation>
      <wsdl:operation name="getSalesOrderContract">
         <wsdl:input message="iface:getSalesOrderContract"/>
         <wsdl:output message="iface:getSalesOrderContractResponse"/>
         <wsdl:fault name="ServiceException" message="iface:ServiceException"/>
      </wsdl:operation>
      <wsdl:operation name="getEstimatedProratedBill">
         <wsdl:input message="iface:getEstimatedProratedBill"/>
         <wsdl:output message="iface:getEstimatedProratedBillResponse"/>
         <wsdl:fault name="ServiceException" message="iface:ServiceException"/>
      </wsdl:operation>
      <wsdl:operation name="payOutstandingAccountBalanceAndRestoreSuspension">
         <wsdl:input message="iface:payOutstandingAccountBalanceAndRestoreSuspension"/>
         <wsdl:output message="iface:payOutstandingAccountBalanceAndRestoreSuspensionResponse"/>
         <wsdl:fault name="ServiceException" message="iface:ServiceException"/>
      </wsdl:operation>
      <wsdl:operation name="createAccount">
         <wsdl:input message="iface:createAccount"/>
         <wsdl:output message="iface:createAccountResponse"/>
         <wsdl:fault name="ServiceException" message="iface:ServiceException"/>
      </wsdl:operation>
      <wsdl:operation name="reservePhoneNumber">
         <wsdl:input message="iface:reservePhoneNumber"/>
         <wsdl:output message="iface:reservePhoneNumberResponse"/>
         <wsdl:fault name="ServiceException" message="iface:ServiceException"/>
      </wsdl:operation>
      <wsdl:operation name="unreservePhoneNumber">
         <wsdl:input message="iface:unreservePhoneNumber"/>
         <wsdl:output message="iface:unreservePhoneNumberResponse"/>
         <wsdl:fault name="ServiceException" message="iface:ServiceException"/>
      </wsdl:operation>
      <wsdl:operation name="searchClientNotes">
         <wsdl:input message="iface:searchClientNotes"/>
         <wsdl:output message="iface:searchClientNotesResponse"/>
         <wsdl:fault name="ServiceException" message="iface:ServiceException"/>
      </wsdl:operation>
      <wsdl:operation name="createClientNote">
         <wsdl:input message="iface:createClientNote"/>
         <wsdl:output message="iface:createClientNoteResponse"/>
         <wsdl:fault name="ServiceException" message="iface:ServiceException"/>
      </wsdl:operation>
      <wsdl:operation name="initializeSales">
         <wsdl:input message="iface:initializeSales"/>
         <wsdl:output message="iface:initializeSalesResponse"/>
         <wsdl:fault name="ServiceException" message="iface:ServiceException"/>
      </wsdl:operation>
      <wsdl:operation name="getCorporateHierarchy">
         <wsdl:input message="iface:getCorporateHierarchy"/>
         <wsdl:output message="iface:getCorporateHierarchyResponse"/>
         <wsdl:fault name="ServiceException" message="iface:ServiceException"/>
      </wsdl:operation>
      <wsdl:operation name="getCorporateAccountSummaryList">
         <wsdl:input message="iface:getCorporateAccountSummaryList"/>
         <wsdl:output message="iface:getCorporateAccountSummaryListResponse"/>
         <wsdl:fault name="ServiceException" message="iface:ServiceException"/>
      </wsdl:operation>
      <wsdl:operation name="searchClient">
         <wsdl:input message="iface:searchClient"/>
         <wsdl:output message="iface:searchClientResponse"/>
         <wsdl:fault name="ServiceException" message="iface:ServiceException"/>
      </wsdl:operation>
      <wsdl:operation name="updateSalesReference">
         <wsdl:input message="iface:updateSalesReference"/>
         <wsdl:output message="iface:updateSalesReferenceResponse"/>
         <wsdl:fault name="ServiceException" message="iface:ServiceException"/>
      </wsdl:operation>
      <wsdl:operation name="searchServiceAddress">
         <wsdl:input message="iface:searchServiceAddress"/>
         <wsdl:output message="iface:searchServiceAddressResponse"/>
         <wsdl:fault name="ServiceException" message="iface:ServiceException"/>
      </wsdl:operation>
      <wsdl:operation name="createWirelineAccount">
         <wsdl:input message="iface:createWirelineAccount"/>
         <wsdl:output message="iface:createWirelineAccountResponse"/>
         <wsdl:fault name="ServiceException" message="iface:ServiceException"/>
      </wsdl:operation>
      <wsdl:operation name="updateAccount">
         <wsdl:input message="iface:updateAccount"/>
         <wsdl:output message="iface:updateAccountResponse"/>
         <wsdl:fault name="ServiceException" message="iface:ServiceException"/>
      </wsdl:operation>
      <wsdl:operation name="getMultiSubscriberBenefit">
         <wsdl:input message="iface:getMultiSubscriberBenefit"/>
         <wsdl:output message="iface:getMultiSubscriberBenefitResponse"/>
         <wsdl:fault name="ServiceException" message="iface:ServiceException"/>
      </wsdl:operation>
      <wsdl:operation name="ping">
         <wsdl:input message="iface:ping"/>
         <wsdl:output message="iface:pingResponse"/>
         <wsdl:fault name="ServiceException" message="iface:ServiceException"/>
      </wsdl:operation>
   </wsdl:portType>
   <wsdl:binding name="EnterpriseSalesManagementService_v5_0_SOAP"
                 type="iface:EnterpriseSalesManagementService_v5_0_PortType">
      <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
      <wsdl:operation name="authenticateClient">
         <wsdl:documentation>This is used to validate the Account Identification. Indicators can be passed if Account and Subscriber information are needed in the response</wsdl:documentation>
         <soap:operation soapAction="authenticateClient"/>
         <wsdl:input>
            <soap:body use="literal" parts="parameters"/>
            <wsp:Policy>
               <wsp:PolicyReference URI="http://xmlschema.tmi.telus.com/srv/policies/Saml1.1-SenderVouches.xml"/>
            </wsp:Policy>
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal" parts="result"/>
         </wsdl:output>
         <wsdl:fault name="ServiceException">
            <soap:fault name="ServiceException" use="literal"/>
         </wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="authenticateAccount">
         <wsdl:documentation>This is used to validate the Account based on authentication credentials. This includes customer's PIN, firstname, lastname, billing province, last 4 digits of ESN</wsdl:documentation>
         <soap:operation soapAction="authenticateAccount"/>
         <wsdl:input>
            <soap:body use="literal" parts="parameters"/>
            <wsp:Policy>
               <wsp:PolicyReference URI="http://xmlschema.tmi.telus.com/srv/policies/Saml1.1-SenderVouches.xml"/>
            </wsp:Policy>
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal" parts="result"/>
         </wsdl:output>
         <wsdl:fault name="ServiceException">
            <soap:fault name="ServiceException" use="literal"/>
         </wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="getAccountSummary">
         <wsdl:documentation>This is used to get a summary of the account information. Support wireless accounts only.</wsdl:documentation>
         <soap:operation soapAction="getAccountSummary"/>
         <wsdl:input>
            <soap:body use="literal" parts="parameters"/>
            <wsp:Policy>
               <wsp:PolicyReference URI="http://xmlschema.tmi.telus.com/srv/policies/Saml1.1-SenderVouches.xml"/>
            </wsp:Policy>
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal" parts="result"/>
         </wsdl:output>
         <wsdl:fault name="ServiceException">
            <soap:fault name="ServiceException" use="literal"/>
         </wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="getDataSharingSummary">
         <wsdl:documentation>This is used to get a summary of the data sharing information. This includes list of data sharing contributors and accessors, soc type and amount. Support wireless accounts only.</wsdl:documentation>
         <soap:operation soapAction="getDataSharingSummary"/>
         <wsdl:input>
            <soap:body use="literal" parts="parameters"/>
            <wsp:Policy>
               <wsp:PolicyReference URI="http://xmlschema.tmi.telus.com/srv/policies/Saml1.1-SenderVouches.xml"/>
            </wsp:Policy>
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal" parts="result"/>
         </wsdl:output>
         <wsdl:fault name="ServiceException">
            <soap:fault name="ServiceException" use="literal"/>
         </wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="getSubscriberDetail">
         <wsdl:documentation>This is used to get wireless subscriber detail information. This includes subscriber name, marketing segment, contract, plan, services, reward balance and commitment and device IMEI and SIM. Indicators can be passed for the desired supplementary information to be returned</wsdl:documentation>
         <soap:operation soapAction="getSubscriberDetail"/>
         <wsdl:input>
            <soap:body use="literal" parts="parameters"/>
            <wsp:Policy>
               <wsp:PolicyReference URI="http://xmlschema.tmi.telus.com/srv/policies/Saml1.1-SenderVouches.xml"/>
            </wsp:Policy>
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal" parts="result"/>
         </wsdl:output>
         <wsdl:fault name="ServiceException">
            <soap:fault name="ServiceException" use="literal"/>
         </wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="getConsolidatedAccountProfile">
         <wsdl:documentation>This is used to get consolidated account profile for both wireless and wireline products. For wireless subscriber, it returns all wireless subscriber detail information. For wireline client, it returns all wireline product detail information. For big wireless BAN, subscriber list is not returned.</wsdl:documentation>
         <soap:operation soapAction="getConsolidatedAccountProfile"/>
         <wsdl:input>
            <soap:body use="literal" parts="parameters"/>
            <wsp:Policy>
               <wsp:PolicyReference URI="http://xmlschema.tmi.telus.com/srv/policies/Saml1.1-SenderVouches.xml"/>
            </wsp:Policy>
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal" parts="result"/>
         </wsdl:output>
         <wsdl:fault name="ServiceException">
            <soap:fault name="ServiceException" use="literal"/>
         </wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="calculatePrice">
         <wsdl:documentation>This used to calculate hardware cost, penalty charge/adjustment amount for all sales transaction. The calculation result includes both pre-tax amount and tax included amount.</wsdl:documentation>
         <soap:operation soapAction="calculatePrice"/>
         <wsdl:input>
            <soap:body use="literal" parts="parameters"/>
            <wsp:Policy>
               <wsp:PolicyReference URI="http://xmlschema.tmi.telus.com/srv/policies/Saml1.1-SenderVouches.xml"/>
            </wsp:Policy>
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal" parts="result"/>
         </wsdl:output>
         <wsdl:fault name="ServiceException">
            <soap:fault name="ServiceException" use="literal"/>
         </wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="submitSalesOrderPayment">
         <wsdl:documentation>This is used to submit sales order payment for hardware balance and deposit. It also creates and record deposit amount in billing system.</wsdl:documentation>
         <soap:operation soapAction="submitSalesOrderPayment"/>
         <wsdl:input>
            <soap:body use="literal" parts="parameters"/>
            <wsp:Policy>
               <wsp:PolicyReference URI="http://xmlschema.tmi.telus.com/srv/policies/Saml1.1-SenderVouches.xml"/>
            </wsp:Policy>
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal" parts="result"/>
         </wsdl:output>
         <wsdl:fault name="ServiceException">
            <soap:fault name="ServiceException" use="literal"/>
         </wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="getUsageDetail">
         <wsdl:documentation>This is used to get wireless user voice and data usage detail. The usage information include monthly consumption and overage.</wsdl:documentation>
         <soap:operation soapAction="getUsageDetail"/>
         <wsdl:input>
            <soap:body use="literal" parts="parameters"/>
            <wsp:Policy>
               <wsp:PolicyReference URI="http://xmlschema.tmi.telus.com/srv/policies/Saml1.1-SenderVouches.xml"/>
            </wsp:Policy>
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal" parts="result"/>
         </wsdl:output>
         <wsdl:fault name="ServiceException">
            <soap:fault name="ServiceException" use="literal"/>
         </wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="getSalesOrderHistory">
         <wsdl:documentation>This is used to get wireless subscriber sales order history. The history contains full order detail.</wsdl:documentation>
         <soap:operation soapAction="getSalesOrderHistory"/>
         <wsdl:input>
            <soap:body use="literal" parts="parameters"/>
            <wsp:Policy>
               <wsp:PolicyReference URI="http://xmlschema.tmi.telus.com/srv/policies/Saml1.1-SenderVouches.xml"/>
            </wsp:Policy>
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal" parts="result"/>
         </wsdl:output>
         <wsdl:fault name="ServiceException">
            <soap:fault name="ServiceException" use="literal"/>
         </wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="getSalesOrderContract">
         <wsdl:documentation>This is used to get wireless subscriber sales order and contract detail information . The detail is only obtained by order reference ID.</wsdl:documentation>
         <soap:operation soapAction="getSalesOrderContract"/>
         <wsdl:input>
            <soap:body use="literal" parts="parameters"/>
            <wsp:Policy>
               <wsp:PolicyReference URI="http://xmlschema.tmi.telus.com/srv/policies/Saml1.1-SenderVouches.xml"/>
            </wsp:Policy>
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal" parts="result"/>
         </wsdl:output>
         <wsdl:fault name="ServiceException">
            <soap:fault name="ServiceException" use="literal"/>
         </wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="getEstimatedProratedBill">
         <wsdl:documentation>This is used to get wireless subscriber estimated prorated bill.</wsdl:documentation>
         <soap:operation soapAction="getEstimatedProratedBill"/>
         <wsdl:input>
            <soap:body use="literal" parts="parameters"/>
            <wsp:Policy>
               <wsp:PolicyReference URI="http://xmlschema.tmi.telus.com/srv/policies/Saml1.1-SenderVouches.xml"/>
            </wsp:Policy>
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal" parts="result"/>
         </wsdl:output>
         <wsdl:fault name="ServiceException">
            <soap:fault name="ServiceException" use="literal"/>
         </wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="payOutstandingAccountBalanceAndRestoreSuspension">
         <wsdl:documentation>This is used to pay outstanding account balance and restore delinquent account.</wsdl:documentation>
         <soap:operation soapAction="payOutstandingAccountBalanceAndRestoreSuspension"/>
         <wsdl:input>
            <soap:body use="literal" parts="parameters"/>
            <wsp:Policy>
               <wsp:PolicyReference URI="http://xmlschema.tmi.telus.com/srv/policies/Saml1.1-SenderVouches.xml"/>
            </wsp:Policy>
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal" parts="result"/>
         </wsdl:output>
         <wsdl:fault name="ServiceException">
            <soap:fault name="ServiceException" use="literal"/>
         </wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="createAccount">
         <wsdl:documentation>This is used to create wireless new account. As part of new account creation, credit check is also performed.</wsdl:documentation>
         <soap:operation soapAction="createAccount"/>
         <wsdl:input>
            <soap:body use="literal" parts="parameters"/>
            <wsp:Policy>
               <wsp:PolicyReference URI="http://xmlschema.tmi.telus.com/srv/policies/Saml1.1-SenderVouches.xml"/>
            </wsp:Policy>
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal" parts="result"/>
         </wsdl:output>
         <wsdl:fault name="ServiceException">
            <soap:fault name="ServiceException" use="literal"/>
         </wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="reservePhoneNumber">
         <wsdl:documentation>This is used to reserve mobility subscriber phone number.</wsdl:documentation>
         <soap:operation soapAction="reservePhoneNumber"/>
         <wsdl:input>
            <soap:body use="literal" parts="parameters"/>
            <wsp:Policy>
               <wsp:PolicyReference URI="http://xmlschema.tmi.telus.com/srv/policies/Saml1.1-SenderVouches.xml"/>
            </wsp:Policy>
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal" parts="result"/>
         </wsdl:output>
         <wsdl:fault name="ServiceException">
            <soap:fault name="ServiceException" use="literal"/>
         </wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="unreservePhoneNumber">
         <wsdl:documentation>This is used to unreserve mobility subscriber phone number.</wsdl:documentation>
         <soap:operation soapAction="unreservePhoneNumber"/>
         <wsdl:input>
            <soap:body use="literal" parts="parameters"/>
            <wsp:Policy>
               <wsp:PolicyReference URI="http://xmlschema.tmi.telus.com/srv/policies/Saml1.1-SenderVouches.xml"/>
            </wsp:Policy>
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal" parts="result"/>
         </wsdl:output>
         <wsdl:fault name="ServiceException">
            <soap:fault name="ServiceException" use="literal"/>
         </wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="searchClientNotes">
         <wsdl:documentation>This is used to search client notes. The notes can be either account level or subscriber level.</wsdl:documentation>
         <soap:operation soapAction="searchClientNotes"/>
         <wsdl:input>
            <soap:body use="literal" parts="parameters"/>
            <wsp:Policy>
               <wsp:PolicyReference URI="http://xmlschema.tmi.telus.com/srv/policies/Saml1.1-SenderVouches.xml"/>
            </wsp:Policy>
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal" parts="result"/>
         </wsdl:output>
         <wsdl:fault name="ServiceException">
            <soap:fault name="ServiceException" use="literal"/>
         </wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="createClientNote">
         <wsdl:documentation>This is used to create client note. The notes can be either account level or subscriber level.</wsdl:documentation>
         <soap:operation soapAction="createClientNote"/>
         <wsdl:input>
            <soap:body use="literal" parts="parameters"/>
            <wsp:Policy>
               <wsp:PolicyReference URI="http://xmlschema.tmi.telus.com/srv/policies/Saml1.1-SenderVouches.xml"/>
            </wsp:Policy>
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal" parts="result"/>
         </wsdl:output>
         <wsdl:fault name="ServiceException">
            <soap:fault name="ServiceException" use="literal"/>
         </wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="initializeSales">
         <wsdl:documentation>This is used to initializes a sale transaction and returns a unique sales ID. This unique sales ID is used to reference sales payment, order, client agreement and warehouse order.</wsdl:documentation>
         <soap:operation soapAction="initializeSales"/>
         <wsdl:input>
            <soap:body use="literal" parts="parameters"/>
            <wsp:Policy>
               <wsp:PolicyReference URI="http://xmlschema.tmi.telus.com/srv/policies/Saml1.1-SenderVouches.xml"/>
            </wsp:Policy>
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal" parts="result"/>
         </wsdl:output>
         <wsdl:fault name="ServiceException">
            <soap:fault name="ServiceException" use="literal"/>
         </wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="getCorporateHierarchy">
         <wsdl:documentation>This is used to return corporate hierarchy information. This includes corporate level and subsidiary level information.</wsdl:documentation>
         <soap:operation soapAction="getCorporateHierarchy"/>
         <wsdl:input>
            <soap:body use="literal" parts="parameters"/>
            <wsp:Policy>
               <wsp:PolicyReference URI="http://xmlschema.tmi.telus.com/srv/policies/Saml1.1-SenderVouches.xml"/>
            </wsp:Policy>
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal" parts="result"/>
         </wsdl:output>
         <wsdl:fault name="ServiceException">
            <soap:fault name="ServiceException" use="literal"/>
         </wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="getCorporateAccountSummaryList">
         <wsdl:documentation>This is used to get corporate account information. Summary information currently only contains BAN number and name. For account detail, getAccountSummary operation might be used.</wsdl:documentation>
         <soap:operation soapAction="getCorporateAccountSummaryList"/>
         <wsdl:input>
            <soap:body use="literal" parts="parameters"/>
            <wsp:Policy>
               <wsp:PolicyReference URI="http://xmlschema.tmi.telus.com/srv/policies/Saml1.1-SenderVouches.xml"/>
            </wsp:Policy>
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal" parts="result"/>
         </wsdl:output>
         <wsdl:fault name="ServiceException">
            <soap:fault name="ServiceException" use="literal"/>
         </wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="searchClient">
         <wsdl:documentation>This is used to client by service address or service phone number. Client can have either FFH product or Mobility product.</wsdl:documentation>
         <soap:operation soapAction="searchClient"/>
         <wsdl:input>
            <soap:body use="literal" parts="parameters"/>
            <wsp:Policy>
               <wsp:PolicyReference URI="http://xmlschema.tmi.telus.com/srv/policies/Saml1.1-SenderVouches.xml"/>
            </wsp:Policy>
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal" parts="result"/>
         </wsdl:output>
         <wsdl:fault name="ServiceException">
            <soap:fault name="ServiceException" use="literal"/>
         </wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="updateSalesReference">
         <wsdl:documentation>This is used to support sales transaction for updating sales reference data.</wsdl:documentation>
         <soap:operation soapAction="updateSalesReference"/>
         <wsdl:input>
            <soap:body use="literal" parts="parameters"/>
            <wsp:Policy>
               <wsp:PolicyReference URI="http://xmlschema.tmi.telus.com/srv/policies/Saml1.1-SenderVouches.xml"/>
            </wsp:Policy>
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal" parts="result"/>
         </wsdl:output>
         <wsdl:fault name="ServiceException">
            <soap:fault name="ServiceException" use="literal"/>
         </wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="searchServiceAddress">
         <wsdl:documentation>This is used to support service address search in FMS repository. It is only support wireline product service address lookup for matching or suggested address.</wsdl:documentation>
         <soap:operation soapAction="searchServiceAddress"/>
         <wsdl:input>
            <soap:body use="literal" parts="parameters"/>
            <wsp:Policy>
               <wsp:PolicyReference URI="http://xmlschema.tmi.telus.com/srv/policies/Saml1.1-SenderVouches.xml"/>
            </wsp:Policy>
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal" parts="result"/>
         </wsdl:output>
         <wsdl:fault name="ServiceException">
            <soap:fault name="ServiceException" use="literal"/>
         </wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="createWirelineAccount">
         <wsdl:documentation>This is used to support wireline account creation. This can be new or existing consumer or business customer who needs to create a new wireline account.</wsdl:documentation>
         <soap:operation soapAction="createWirelineAccount"/>
         <wsdl:input>
            <soap:body use="literal" parts="parameters"/>
            <wsp:Policy>
               <wsp:PolicyReference URI="http://xmlschema.tmi.telus.com/srv/policies/Saml1.1-SenderVouches.xml"/>
            </wsp:Policy>
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal" parts="result"/>
         </wsdl:output>
         <wsdl:fault name="ServiceException">
            <soap:fault name="ServiceException" use="literal"/>
         </wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="updateAccount">
         <wsdl:documentation>This operation is used to update account related information that needs an update in the context of the current sales.</wsdl:documentation>
         <soap:operation soapAction="updateAccount"/>
         <wsdl:input>
            <soap:body use="literal" parts="parameters"/>
            <wsp:Policy>
               <wsp:PolicyReference URI="http://xmlschema.tmi.telus.com/srv/policies/Saml1.1-SenderVouches.xml"/>
            </wsp:Policy>
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal" parts="result"/>
         </wsdl:output>
         <wsdl:fault name="ServiceException">
            <soap:fault name="ServiceException" use="literal"/>
         </wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="getMultiSubscriberBenefit">
         <wsdl:documentation>This is used to get discounts eligiblity for subscribers in a multi-line scenario.</wsdl:documentation>
         <soap:operation soapAction="getMultiSubscriberBenefit"/>
         <wsdl:input>
            <soap:body use="literal" parts="parameters"/>
            <wsp:Policy>
               <wsp:PolicyReference URI="http://xmlschema.tmi.telus.com/srv/policies/Saml1.1-SenderVouches.xml"/>
            </wsp:Policy>
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal" parts="result"/>
         </wsdl:output>
         <wsdl:fault name="ServiceException">
            <soap:fault name="ServiceException" use="literal"/>
         </wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="ping">
         <wsdl:documentation/>
         <soap:operation soapAction="ping"/>
         <wsdl:input>
            <soap:body parts="parameters" use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:body parts="result" use="literal"/>
         </wsdl:output>
         <wsdl:fault name="ServiceException">
            <soap:fault name="ServiceException" use="literal"/>
         </wsdl:fault>
      </wsdl:operation>
   </wsdl:binding>
   <wsdl:service name="EnterpriseSalesManagementService_v5_0">
      <wsdl:port name="EnterpriseSalesManagementServicePort"
                 binding="iface:EnterpriseSalesManagementService_v5_0_SOAP">
         <soap:address location="http://channelsalesmgmt-bussvc-dv103.tsl.telus.com/MSO/ChannelSalesMgmt/EnterpriseSalesManagementService_v5_0/EnterpriseSalesManagementService_v5_0"/>
      </wsdl:port>
   </wsdl:service>
</wsdl:definitions>
