ewlnss-adapter-wsdl/CorporateStoresPOSService-ws-client/src/main/resources/wsdls/CorporateStoresPOSService_v1_6.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy"
                  xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                  xmlns:wss="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd"
                  xmlns:xs="http://www.w3.org/2001/XMLSchema"
                  xmlns:ping="http://xmlschema.tmi.telus.com/xsd/Enterprise/BaseTypes/types/ping_v1"
                  xmlns:ex="http://xmlschema.tmi.telus.com/xsd/common/exceptions/Exceptions_v1_0"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:iface="http://telus.com/wsdl/MSO/ChannelSalesMgmt/CorporateStoresPOSService_1"
                  xmlns:cs="http://xmlschema.tmi.telus.com/srv/MSO/ChannelSalesMgmt/CorporateStoresPOSServiceRequestResponse_v1"
                  name="CorporateStoresPOSService_v1_6.wsdl"
                  targetNamespace="http://telus.com/wsdl/MSO/ChannelSalesMgmt/CorporateStoresPOSService_1"><!--	Generated File:
			This file was generated by the following xslt:
				http://xmlschema.tmi.telus.com/xsd/common/utils/xmlToWsdl/xmlToWsdl_v2_8.xslt
			Based on a ServiceDefinition.xml file that conforms to the following schema:
				http://xmlschema.tmi.telus.com/xsd/common/utils/xmlToWsdl/ServiceDefinition_v3_0.xsd
			--><wsdl:documentation>Support Corporate Stores POS request, such as submit transaction items to POS for tendering, check store inventory and promotion.</wsdl:documentation>
   <wsdl:types>
      <xsd:schema targetNamespace="http://telus.com/wsdl/MSO/ChannelSalesMgmt/CorporateStoresPOSService_1">
         <xsd:import namespace="http://xmlschema.tmi.telus.com/srv/MSO/ChannelSalesMgmt/CorporateStoresPOSServiceRequestResponse_v1"
                     schemaLocation="http://xmlschema.tmi.telus.com/srv/MSO/ChannelSalesMgmt/CorporateStoresPOSServiceRequestResponse_v1_6.xsd"/>
         <xsd:import namespace="http://xmlschema.tmi.telus.com/xsd/common/exceptions/Exceptions_v1_0"
                     schemaLocation="http://xmlschema.tmi.telus.com/xsd/common/exceptions/Exceptions_v1_0.xsd"/>
         <xsd:import namespace="http://xmlschema.tmi.telus.com/xsd/Enterprise/BaseTypes/types/ping_v1"
                     schemaLocation="http://xmlschema.tmi.telus.com/xsd/Enterprise/BaseTypes/types/ping_v1.xsd"/>
      </xsd:schema>
   </wsdl:types>
   <wsdl:message name="submitTransactionToPOS">
      <wsdl:part name="parameters" element="cs:SubmitTransactionToPOS"/>
   </wsdl:message>
   <wsdl:message name="submitTransactionToPOSResponse">
      <wsdl:part name="result" element="cs:SubmitTransactionToPOSResponse"/>
   </wsdl:message>
   <wsdl:message name="retrieveInventoryPromotionFromPOS">
      <wsdl:part name="parameters" element="cs:RetrieveInventoryPromotionFromPOS"/>
   </wsdl:message>
   <wsdl:message name="retrieveInventoryPromotionFromPOSResponse">
      <wsdl:part name="result" element="cs:RetrieveInventoryPromotionFromPOSResponse"/>
   </wsdl:message>
   <wsdl:message name="ping">
      <wsdl:part name="parameters" element="ping:ping"/>
   </wsdl:message>
   <wsdl:message name="pingResponse">
      <wsdl:part name="result" element="ping:pingResponse"/>
   </wsdl:message>
   <wsdl:message name="ServiceException">
      <wsdl:part name="fault" element="ex:ServiceException"/>
   </wsdl:message>
   <wsdl:message name="PolicyException">
      <wsdl:part name="fault" element="ex:PolicyException"/>
   </wsdl:message>
   <wsdl:portType name="CorporateStoresPOSService_v1_6_PortType">
      <wsdl:operation name="submitTransactionToPOS">
         <wsdl:input message="iface:submitTransactionToPOS"/>
         <wsdl:output message="iface:submitTransactionToPOSResponse"/>
         <wsdl:fault name="ServiceException" message="iface:ServiceException"/>
         <wsdl:fault name="PolicyException" message="iface:PolicyException"/>
      </wsdl:operation>
      <wsdl:operation name="retrieveInventoryPromotionFromPOS">
         <wsdl:input message="iface:retrieveInventoryPromotionFromPOS"/>
         <wsdl:output message="iface:retrieveInventoryPromotionFromPOSResponse"/>
         <wsdl:fault name="ServiceException" message="iface:ServiceException"/>
         <wsdl:fault name="PolicyException" message="iface:PolicyException"/>
      </wsdl:operation>
      <wsdl:operation name="ping">
         <wsdl:input message="iface:ping"/>
         <wsdl:output message="iface:pingResponse"/>
         <wsdl:fault name="ServiceException" message="iface:ServiceException"/>
         <wsdl:fault name="PolicyException" message="iface:PolicyException"/>
      </wsdl:operation>
   </wsdl:portType>
   <wsdl:binding name="CorporateStoresPOSService_v1_6_SOAP"
                 type="iface:CorporateStoresPOSService_v1_6_PortType">
      <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
      <wsdl:operation name="submitTransactionToPOS">
         <wsdl:documentation>This operation is used to inject sales and return transaction line items to the Corporate Stores Point-Of-Sales (POS) systems. Each transaction line item can contain equipment information or service information, its sales price, discounts applied, and transaction line item attributes that contain essential information about the transaction. The transaction line item information presented on the POS allows the customer to agree to tender the sales or cancel the sales. The sales transaction can be activations, renewals or upgrades, exchanges, or repairs transactions.</wsdl:documentation>
         <soap:operation soapAction="submitTransactionToPOS"/>
         <wsdl:input>
            <soap:body use="literal" parts="parameters"/>
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal" parts="result"/>
         </wsdl:output>
         <wsdl:fault name="ServiceException">
            <soap:fault name="ServiceException" use="literal"/>
         </wsdl:fault>
         <wsdl:fault name="PolicyException">
            <soap:fault name="PolicyException" use="literal"/>
         </wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="retrieveInventoryPromotionFromPOS">
         <wsdl:documentation>This operation is used to inject a query message to the Corporate Stores Point-Of-Sales (POS) systems to inquire about inventory availability, pricing, and applicable store promotion of an equipment or a service item. The equipment is identified by the equipment SKU and if it is a serialized item, its equipment serial number or IMEI will also be included as well.</wsdl:documentation>
         <soap:operation soapAction="retrieveInventoryPromotionFromPOS"/>
         <wsdl:input>
            <soap:body use="literal" parts="parameters"/>
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal" parts="result"/>
         </wsdl:output>
         <wsdl:fault name="ServiceException">
            <soap:fault name="ServiceException" use="literal"/>
         </wsdl:fault>
         <wsdl:fault name="PolicyException">
            <soap:fault name="PolicyException" use="literal"/>
         </wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="ping">
         <wsdl:documentation>This is standard service ping operation.</wsdl:documentation>
         <soap:operation soapAction="ping"/>
         <wsdl:input>
            <soap:body parts="parameters" use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:body parts="result" use="literal"/>
         </wsdl:output>
         <wsdl:fault name="ServiceException">
            <soap:fault name="ServiceException" use="literal"/>
         </wsdl:fault>
         <wsdl:fault name="PolicyException">
            <soap:fault name="PolicyException" use="literal"/>
         </wsdl:fault>
      </wsdl:operation>
   </wsdl:binding>
   <wsdl:service name="CorporateStoresPOSService_v1_6">
      <wsdl:port name="CorporateStoresPOSServicePort"
                 binding="iface:CorporateStoresPOSService_v1_6_SOAP">
         <soap:address location="http://msm-corpsalesmgmt-dv103.tmi.telus.com/MSO/ChannelSalesMgmt/RetailOutlets/CorporateStoresPOSService_v1_6/CorporateStoresPOSService_v1_6"/>
      </wsdl:port>
   </wsdl:service>
</wsdl:definitions>