ewlnss-adapter-wsdl/OfferInformationService-ws-client/src/main/resources/wsdls/OfferInformationSvc_v3_3.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy"
                  xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                  xmlns:wss="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd"
                  xmlns:xs="http://www.w3.org/2001/XMLSchema"
                  xmlns:ping="http://xmlschema.tmi.telus.com/xsd/Enterprise/BaseTypes/types/ping_v1"
                  xmlns:ex="http://xmlschema.tmi.telus.com/xsd/Enterprise/BaseTypes/Exceptions_v3"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:shttp="http://soa.com/wsdl/http"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:iface="http://telus.com/wsdl/MSO/MassMarketSalesMgmt/OfferInformationSvc_3"
                  xmlns:ois="http://xmlschema.tmi.telus.com/srv/MSO/MassMarketSalesMgmt/OfferInformationSvcRequestResponse_v3"
                  targetNamespace="http://telus.com/wsdl/MSO/MassMarketSalesMgmt/OfferInformationSvc_3"><!--	
	Generated File:
		This file was generated by the following xslt:
			http://xmlschema.tmi.telus.com/xsd/common/utils/xmlToWsdl/xmlToWsdl_v4_0.xslt
		Based on a ServiceDefinition.xml file that conforms to the following schema:
			http://xmlschema.tmi.telus.com/xsd/common/utils/xmlToWsdl/ServiceDefinition_v3_2.xsd
				--><wsdl:types>
      <xsd:schema targetNamespace="http://telus.com/wsdl/MSO/MassMarketSalesMgmt/OfferInformationSvc_3">
         <xsd:import namespace="http://xmlschema.tmi.telus.com/srv/MSO/MassMarketSalesMgmt/OfferInformationSvcRequestResponse_v3"
                     schemaLocation="http://xmlschema.tmi.telus.com/srv/MSO/MassMarketSalesMgmt/OfferInformationSvcRequestResponse_v3_3.xsd"/>
         <xsd:import namespace="http://xmlschema.tmi.telus.com/xsd/Enterprise/BaseTypes/Exceptions_v3"
                     schemaLocation="http://xmlschema.tmi.telus.com/xsd/Enterprise/BaseTypes/Exceptions_v3_0.xsd"/>
         <xsd:import namespace="http://xmlschema.tmi.telus.com/xsd/Enterprise/BaseTypes/types/ping_v1"
                     schemaLocation="http://xmlschema.tmi.telus.com/xsd/Enterprise/BaseTypes/types/ping_v1.xsd"/>
      </xsd:schema>
   </wsdl:types>
   <wsdl:message name="getPerkListByOfferIdList">
      <wsdl:part name="parameters" element="ois:getPerkListByOfferIdList"/>
   </wsdl:message>
   <wsdl:message name="getPerkListByOfferIdListResponse">
      <wsdl:part name="result" element="ois:getPerkListByOfferIdListResponse"/>
   </wsdl:message>
   <wsdl:message name="getPerkSummaryListByOfferIdList">
      <wsdl:part name="parameters" element="ois:getPerkSummaryListByOfferIdList"/>
   </wsdl:message>
   <wsdl:message name="getPerkSummaryListByOfferIdListResponse">
      <wsdl:part name="result" element="ois:getPerkSummaryListByOfferIdListResponse"/>
   </wsdl:message>
   <wsdl:message name="getOfferListForCustomer">
      <wsdl:part name="parameters" element="ois:getOfferListForCustomer"/>
   </wsdl:message>
   <wsdl:message name="getOfferListForCustomerResponse">
      <wsdl:part name="result" element="ois:getOfferListForCustomerResponse"/>
   </wsdl:message>
   <wsdl:message name="getOfferSummaryListForCustomer">
      <wsdl:part name="parameters" element="ois:getOfferSummaryListForCustomer"/>
   </wsdl:message>
   <wsdl:message name="getOfferSummaryListForCustomerResponse">
      <wsdl:part name="result" element="ois:getOfferSummaryListForCustomerResponse"/>
   </wsdl:message>
   <wsdl:message name="getOfferListByPromotionCodeForCustomer">
      <wsdl:part name="parameters" element="ois:getOfferListByPromotionCodeForCustomer"/>
   </wsdl:message>
   <wsdl:message name="getOfferListByPromotionCodeForCustomerResponse">
      <wsdl:part name="result" element="ois:getOfferListByPromotionCodeForCustomerResponse"/>
   </wsdl:message>
   <wsdl:message name="getSweetenerListByOfferSummaryListForCustomer">
      <wsdl:part name="parameters" element="ois:getSweetenerListByOfferSummaryListForCustomer"/>
   </wsdl:message>
   <wsdl:message name="getSweetenerListByOfferSummaryListForCustomerResponse">
      <wsdl:part name="result"
                 element="ois:getSweetenerListByOfferSummaryListForCustomerResponse"/>
   </wsdl:message>
   <wsdl:message name="getAccessoryOfferSummaryList">
      <wsdl:part name="parameters" element="ois:getAccessoryOfferSummaryList"/>
   </wsdl:message>
   <wsdl:message name="getAccessoryOfferSummaryListResponse">
      <wsdl:part name="result" element="ois:getAccessoryOfferSummaryListResponse"/>
   </wsdl:message>
   <wsdl:message name="getAccessoryOfferList">
      <wsdl:part name="parameters" element="ois:getAccessoryOfferList"/>
   </wsdl:message>
   <wsdl:message name="getAccessoryOfferListResponse">
      <wsdl:part name="result" element="ois:getAccessoryOfferListResponse"/>
   </wsdl:message>
   <wsdl:message name="getOfferListByOfferIdentifierList">
      <wsdl:part name="parameters" element="ois:getOfferListByOfferIdentifierList"/>
   </wsdl:message>
   <wsdl:message name="getOfferListByOfferIdentifierListResponse">
      <wsdl:part name="result" element="ois:getOfferListByOfferIdentifierListResponse"/>
   </wsdl:message>
   <wsdl:message name="reloadOfferItem">
      <wsdl:part name="parameters" element="ois:reloadOfferItem"/>
   </wsdl:message>
   <wsdl:message name="reloadOfferItemResponse">
      <wsdl:part name="result" element="ois:reloadOfferItemResponse"/>
   </wsdl:message>
   <wsdl:message name="ping">
      <wsdl:part name="parameters" element="ping:ping"/>
   </wsdl:message>
   <wsdl:message name="pingResponse">
      <wsdl:part name="result" element="ping:pingResponse"/>
   </wsdl:message>
   <wsdl:message name="ServiceException">
      <wsdl:part name="fault" element="ex:ServiceException"/>
   </wsdl:message>
   <wsdl:portType name="OfferInformationSvc_v3_3_PortType">
      <wsdl:operation name="getPerkListByOfferIdList">
         <wsdl:input message="iface:getPerkListByOfferIdList"/>
         <wsdl:output message="iface:getPerkListByOfferIdListResponse"/>
         <wsdl:fault name="ServiceException" message="iface:ServiceException"/>
      </wsdl:operation>
      <wsdl:operation name="getPerkSummaryListByOfferIdList">
         <wsdl:input message="iface:getPerkSummaryListByOfferIdList"/>
         <wsdl:output message="iface:getPerkSummaryListByOfferIdListResponse"/>
         <wsdl:fault name="ServiceException" message="iface:ServiceException"/>
      </wsdl:operation>
      <wsdl:operation name="getOfferListForCustomer">
         <wsdl:input message="iface:getOfferListForCustomer"/>
         <wsdl:output message="iface:getOfferListForCustomerResponse"/>
         <wsdl:fault name="ServiceException" message="iface:ServiceException"/>
      </wsdl:operation>
      <wsdl:operation name="getOfferSummaryListForCustomer">
         <wsdl:input message="iface:getOfferSummaryListForCustomer"/>
         <wsdl:output message="iface:getOfferSummaryListForCustomerResponse"/>
         <wsdl:fault name="ServiceException" message="iface:ServiceException"/>
      </wsdl:operation>
      <wsdl:operation name="getOfferListByPromotionCodeForCustomer">
         <wsdl:input message="iface:getOfferListByPromotionCodeForCustomer"/>
         <wsdl:output message="iface:getOfferListByPromotionCodeForCustomerResponse"/>
         <wsdl:fault name="ServiceException" message="iface:ServiceException"/>
      </wsdl:operation>
      <wsdl:operation name="getSweetenerListByOfferSummaryListForCustomer">
         <wsdl:input message="iface:getSweetenerListByOfferSummaryListForCustomer"/>
         <wsdl:output message="iface:getSweetenerListByOfferSummaryListForCustomerResponse"/>
         <wsdl:fault name="ServiceException" message="iface:ServiceException"/>
      </wsdl:operation>
      <wsdl:operation name="getAccessoryOfferSummaryList">
         <wsdl:input message="iface:getAccessoryOfferSummaryList"/>
         <wsdl:output message="iface:getAccessoryOfferSummaryListResponse"/>
         <wsdl:fault name="ServiceException" message="iface:ServiceException"/>
      </wsdl:operation>
      <wsdl:operation name="getAccessoryOfferList">
         <wsdl:input message="iface:getAccessoryOfferList"/>
         <wsdl:output message="iface:getAccessoryOfferListResponse"/>
         <wsdl:fault name="ServiceException" message="iface:ServiceException"/>
      </wsdl:operation>
      <wsdl:operation name="getOfferListByOfferIdentifierList">
         <wsdl:input message="iface:getOfferListByOfferIdentifierList"/>
         <wsdl:output message="iface:getOfferListByOfferIdentifierListResponse"/>
         <wsdl:fault name="ServiceException" message="iface:ServiceException"/>
      </wsdl:operation>
      <wsdl:operation name="reloadOfferItem">
         <wsdl:input message="iface:reloadOfferItem"/>
         <wsdl:output message="iface:reloadOfferItemResponse"/>
         <wsdl:fault name="ServiceException" message="iface:ServiceException"/>
      </wsdl:operation>
      <wsdl:operation name="ping">
         <wsdl:input message="iface:ping"/>
         <wsdl:output message="iface:pingResponse"/>
         <wsdl:fault name="ServiceException" message="iface:ServiceException"/>
      </wsdl:operation>
   </wsdl:portType>
   <wsdl:binding name="OfferInformationSvc_v3_3_SOAP"
                 type="iface:OfferInformationSvc_v3_3_PortType">
      <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
      <wsdl:operation name="getPerkListByOfferIdList">
         <wsdl:documentation>
            This operation returns perk offers (i.e. perks) based on the provided eligibility criteria. Perks are offered to entice expansion onto the other line of business and the subsequent account consolidation.
            For example, if subscriber has mobility service with TELUS, on activating FFH services and consolidating his mobility and FFH accounts, subscriber may be eligible for additional 2 GB of data on his existing mobility.
		</wsdl:documentation>
         <soap:operation soapAction="getPerkListByOfferIdList"/>
         <wsdl:input>
            <soap:body use="literal" parts="parameters"/>
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal" parts="result"/>
         </wsdl:output>
         <wsdl:fault name="ServiceException">
            <soap:fault name="ServiceException" use="literal"/>
         </wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="getPerkSummaryListByOfferIdList">
         <wsdl:documentation>
            This operation returns summarized perk offers (i.e. perks) based on the provided eligibility criteria. Perks are offered to entice expansion onto the other line of business and the subsequent account consolidation. 
            For example, if subscriber has mobility service with TELUS, on activating FFH services and consolidating his mobility and FFH accounts, subscriber may be eligible for additional 2 GB of data on his existing mobility.
		</wsdl:documentation>
         <soap:operation soapAction="getPerkSummaryListByOfferIdList"/>
         <wsdl:input>
            <soap:body use="literal" parts="parameters"/>
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal" parts="result"/>
         </wsdl:output>
         <wsdl:fault name="ServiceException">
            <soap:fault name="ServiceException" use="literal"/>
         </wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="getOfferListForCustomer">
         <wsdl:documentation>
			This operation retrieves applicable offers based on the given customer eligibility criteria.
		</wsdl:documentation>
         <soap:operation soapAction="getOfferListForCustomer"/>
         <wsdl:input>
            <soap:body use="literal" parts="parameters"/>
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal" parts="result"/>
         </wsdl:output>
         <wsdl:fault name="ServiceException">
            <soap:fault name="ServiceException" use="literal"/>
         </wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="getOfferSummaryListForCustomer">
         <wsdl:documentation>
			This operation retrieves applicable summarized offers based on the given customer eligibility criteria.
		</wsdl:documentation>
         <soap:operation soapAction="getOfferSummaryListForCustomer"/>
         <wsdl:input>
            <soap:body use="literal" parts="parameters"/>
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal" parts="result"/>
         </wsdl:output>
         <wsdl:fault name="ServiceException">
            <soap:fault name="ServiceException" use="literal"/>
         </wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="getOfferListByPromotionCodeForCustomer">
         <wsdl:documentation>
            This operation retrieves applicable offers for the given customer, promotion code and outlet information.
		</wsdl:documentation>
         <soap:operation soapAction="getOfferListByPromotionCodeForCustomer"/>
         <wsdl:input>
            <soap:body use="literal" parts="parameters"/>
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal" parts="result"/>
         </wsdl:output>
         <wsdl:fault name="ServiceException">
            <soap:fault name="ServiceException" use="literal"/>
         </wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="getSweetenerListByOfferSummaryListForCustomer">
         <wsdl:documentation>
			This operation retrieves Sweetener offers (i.e. sweeteners) based on the provided customer eligibility criteria.
		</wsdl:documentation>
         <soap:operation soapAction="getSweetenerListByOfferSummaryListForCustomer"/>
         <wsdl:input>
            <soap:body use="literal" parts="parameters"/>
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal" parts="result"/>
         </wsdl:output>
         <wsdl:fault name="ServiceException">
            <soap:fault name="ServiceException" use="literal"/>
         </wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="getAccessoryOfferSummaryList">
         <wsdl:documentation>
            This operation retrieves either WLS or WLN summarized accessory offers based on provided offer search criteria that may include 
            brand, outlet information, specific accessory products being selected by customer or customer's transaction context.
		</wsdl:documentation>
         <soap:operation soapAction="getAccessoryOfferSummaryList"/>
         <wsdl:input>
            <soap:body use="literal" parts="parameters"/>
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal" parts="result"/>
         </wsdl:output>
         <wsdl:fault name="ServiceException">
            <soap:fault name="ServiceException" use="literal"/>
         </wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="getAccessoryOfferList">
         <wsdl:documentation>
            This operation retrieves either WLS or WLN accessory offers based on provided offer search criteria that may include 
            brand, outlet information, specific accessory products being selected by customer or customer's transaction context.
        </wsdl:documentation>
         <soap:operation soapAction="getAccessoryOfferList"/>
         <wsdl:input>
            <soap:body use="literal" parts="parameters"/>
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal" parts="result"/>
         </wsdl:output>
         <wsdl:fault name="ServiceException">
            <soap:fault name="ServiceException" use="literal"/>
         </wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="getOfferListByOfferIdentifierList">
         <wsdl:documentation>
            This operation retrieves list of offers based on provided offer identifiers which includes programId, programCode, offerId, perspectiveDate and offerType.
		</wsdl:documentation>
         <soap:operation soapAction="getOfferListByOfferIdentifierList"/>
         <wsdl:input>
            <soap:body use="literal" parts="parameters"/>
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal" parts="result"/>
         </wsdl:output>
         <wsdl:fault name="ServiceException">
            <soap:fault name="ServiceException" use="literal"/>
         </wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="reloadOfferItem">
         <wsdl:documentation>
            This operation supports ad-hoc requests for reloading of offer items in the TOM enterprise coherence cache.
        </wsdl:documentation>
         <soap:operation soapAction="reloadOfferItem"/>
         <wsdl:input>
            <soap:body use="literal" parts="parameters"/>
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal" parts="result"/>
         </wsdl:output>
         <wsdl:fault name="ServiceException">
            <soap:fault name="ServiceException" use="literal"/>
         </wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="ping">
         <wsdl:documentation/>
         <soap:operation soapAction="ping"/>
         <wsdl:input>
            <soap:body parts="parameters" use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:body parts="result" use="literal"/>
         </wsdl:output>
         <wsdl:fault name="ServiceException">
            <soap:fault name="ServiceException" use="literal"/>
         </wsdl:fault>
      </wsdl:operation>
   </wsdl:binding>
   <wsdl:service name="OfferInformationSvc_v3_3">
      <wsdl:port name="OfferInformationSvcPort" binding="iface:OfferInformationSvc_v3_3_SOAP">
         <soap:address location="http://cmf-offermgmt-entq-dv103.tsl.telus.com/MSO/MassMarketSalesMgmt/OfferInformationSvc_v3_3"/>
      </wsdl:port>
   </wsdl:service>
</wsdl:definitions>