ewlnss-adapter-wsdl/InventoryService-ws-client/src/main/resources/wsdls/InventoryService_v2_0.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy"
                  xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                  xmlns:wss="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd"
                  xmlns:xs="http://www.w3.org/2001/XMLSchema"
                  xmlns:ping="http://xmlschema.tmi.telus.com/xsd/Enterprise/BaseTypes/types/ping_v1"
                  xmlns:ex="http://xmlschema.tmi.telus.com/xsd/common/exceptions/Exceptions_v1_0"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:iface="http://telus.com/wsdl/SMO/InventoryMgmt/InventoryService_2"
                  xmlns:as="http://xmlschema.tmi.telus.com/srv/SMO/InventoryMgmt/InventoryServiceRequestResponse_v2"
                  name="InventoryService_v2_0.wsdl"
                  targetNamespace="http://telus.com/wsdl/SMO/InventoryMgmt/InventoryService_2"><!--	Generated File:
			This file was generated by the following xslt:
				http://xmlschema.tmi.telus.com/xsd/common/utils/xmlToWsdl/xmlToWsdl_v2_8.xslt
			Based on a ServiceDefinition.xml file that conforms to the following schema:
				http://xmlschema.tmi.telus.com/xsd/common/utils/xmlToWsdl/ServiceDefinition_v3_0.xsd
			--><wsdl:documentation>Inventory.operations against wireline resources</wsdl:documentation>
   <wsdl:types>
      <xsd:schema targetNamespace="http://telus.com/wsdl/SMO/InventoryMgmt/InventoryService_2">
         <xsd:import namespace="http://xmlschema.tmi.telus.com/srv/SMO/InventoryMgmt/InventoryServiceRequestResponse_v2"
                     schemaLocation="http://xmlschema.tmi.telus.com/srv/SMO/InventoryMgmt/InventoryServiceRequestResponse_v2_0.xsd"/>
         <xsd:import namespace="http://xmlschema.tmi.telus.com/xsd/common/exceptions/Exceptions_v1_0"
                     schemaLocation="http://xmlschema.tmi.telus.com/xsd/common/exceptions/Exceptions_v1_0.xsd"/>
         <xsd:import namespace="http://xmlschema.tmi.telus.com/xsd/Enterprise/BaseTypes/types/ping_v1"
                     schemaLocation="http://xmlschema.tmi.telus.com/xsd/Enterprise/BaseTypes/types/ping_v1.xsd"/>
      </xsd:schema>
   </wsdl:types>
   <wsdl:message name="getCOIDByNpaNxx">
      <wsdl:part name="parameters" element="as:getCOIDByNpaNxx"/>
   </wsdl:message>
   <wsdl:message name="getCOIDByNpaNxxResponse">
      <wsdl:part name="result" element="as:getCOIDByNpaNxxResponse"/>
   </wsdl:message>
   <wsdl:message name="getNativeNpaNxxByCOIDAndLocation">
      <wsdl:part name="parameters" element="as:getNativeNpaNxxByCOIDAndLocation"/>
   </wsdl:message>
   <wsdl:message name="getNativeNpaNxxByCOIDAndLocationResponse">
      <wsdl:part name="result" element="as:getNativeNpaNxxByCOIDAndLocationResponse"/>
   </wsdl:message>
   <wsdl:message name="requestTelephoneNumber">
      <wsdl:part name="parameters" element="as:requestTelephoneNumber"/>
   </wsdl:message>
   <wsdl:message name="requestTelephoneNumberResponse">
      <wsdl:part name="result" element="as:requestTelephoneNumberResponse"/>
   </wsdl:message>
   <wsdl:message name="releaseTelephoneNumberList">
      <wsdl:part name="parameters" element="as:releaseTelephoneNumberList"/>
   </wsdl:message>
   <wsdl:message name="releaseTelephoneNumberListResponse">
      <wsdl:part name="result" element="as:releaseTelephoneNumberListResponse"/>
   </wsdl:message>
   <wsdl:message name="reserveTelephoneNumber">
      <wsdl:part name="parameters" element="as:reserveTelephoneNumber"/>
   </wsdl:message>
   <wsdl:message name="reserveTelephoneNumberResponse">
      <wsdl:part name="result" element="as:reserveTelephoneNumberResponse"/>
   </wsdl:message>
   <wsdl:message name="unreserveTelephoneNumber">
      <wsdl:part name="parameters" element="as:unreserveTelephoneNumber"/>
   </wsdl:message>
   <wsdl:message name="unreserveTelephoneNumberResponse">
      <wsdl:part name="result" element="as:unreserveTelephoneNumberResponse"/>
   </wsdl:message>
   <wsdl:message name="getServiceAccessPathDetails">
      <wsdl:part name="parameters" element="as:getServiceAccessPathDetails"/>
   </wsdl:message>
   <wsdl:message name="getServiceAccessPathDetailsResponse">
      <wsdl:part name="result" element="as:getServiceAccessPathDetailsResponse"/>
   </wsdl:message>
   <wsdl:message name="getNetworkServiceProfile">
      <wsdl:part name="parameters" element="as:getNetworkServiceProfile"/>
   </wsdl:message>
   <wsdl:message name="getNetworkServiceProfileResponse">
      <wsdl:part name="result" element="as:getNetworkServiceProfileResponse"/>
   </wsdl:message>
   <wsdl:message name="getTraversalPathByServiceId">
      <wsdl:part name="parameters" element="as:getTraversalPathByServiceId"/>
   </wsdl:message>
   <wsdl:message name="getTraversalPathByServiceIdResponse">
      <wsdl:part name="result" element="as:getTraversalPathByServiceIdResponse"/>
   </wsdl:message>
   <wsdl:message name="moveTTVPort">
      <wsdl:part name="parameters" element="as:moveTTVPort"/>
   </wsdl:message>
   <wsdl:message name="moveTTVPortResponse">
      <wsdl:part name="result" element="as:moveTTVPortResponse"/>
   </wsdl:message>
   <wsdl:message name="getEquipmentService">
      <wsdl:part name="parameters" element="as:getEquipmentService"/>
   </wsdl:message>
   <wsdl:message name="getEquipmentServiceResponse">
      <wsdl:part name="result" element="as:getEquipmentServiceResponse"/>
   </wsdl:message>
   <wsdl:message name="ping">
      <wsdl:part name="parameters" element="ping:ping"/>
   </wsdl:message>
   <wsdl:message name="pingResponse">
      <wsdl:part name="result" element="ping:pingResponse"/>
   </wsdl:message>
   <wsdl:message name="ServiceException">
      <wsdl:part name="fault" element="ex:ServiceException"/>
   </wsdl:message>
   <wsdl:message name="PolicyException">
      <wsdl:part name="fault" element="ex:PolicyException"/>
   </wsdl:message>
   <wsdl:portType name="InventoryService_v2_0_PortType">
      <wsdl:operation name="getCOIDByNpaNxx">
         <wsdl:input message="iface:getCOIDByNpaNxx"/>
         <wsdl:output message="iface:getCOIDByNpaNxxResponse"/>
         <wsdl:fault name="ServiceException" message="iface:ServiceException"/>
         <wsdl:fault name="PolicyException" message="iface:PolicyException"/>
      </wsdl:operation>
      <wsdl:operation name="getNativeNpaNxxByCOIDAndLocation">
         <wsdl:input message="iface:getNativeNpaNxxByCOIDAndLocation"/>
         <wsdl:output message="iface:getNativeNpaNxxByCOIDAndLocationResponse"/>
         <wsdl:fault name="ServiceException" message="iface:ServiceException"/>
         <wsdl:fault name="PolicyException" message="iface:PolicyException"/>
      </wsdl:operation>
      <wsdl:operation name="requestTelephoneNumber">
         <wsdl:input message="iface:requestTelephoneNumber"/>
         <wsdl:output message="iface:requestTelephoneNumberResponse"/>
         <wsdl:fault name="ServiceException" message="iface:ServiceException"/>
         <wsdl:fault name="PolicyException" message="iface:PolicyException"/>
      </wsdl:operation>
      <wsdl:operation name="releaseTelephoneNumberList">
         <wsdl:input message="iface:releaseTelephoneNumberList"/>
         <wsdl:output message="iface:releaseTelephoneNumberListResponse"/>
         <wsdl:fault name="ServiceException" message="iface:ServiceException"/>
         <wsdl:fault name="PolicyException" message="iface:PolicyException"/>
      </wsdl:operation>
      <wsdl:operation name="reserveTelephoneNumber">
         <wsdl:input message="iface:reserveTelephoneNumber"/>
         <wsdl:output message="iface:reserveTelephoneNumberResponse"/>
         <wsdl:fault name="ServiceException" message="iface:ServiceException"/>
         <wsdl:fault name="PolicyException" message="iface:PolicyException"/>
      </wsdl:operation>
      <wsdl:operation name="unreserveTelephoneNumber">
         <wsdl:input message="iface:unreserveTelephoneNumber"/>
         <wsdl:output message="iface:unreserveTelephoneNumberResponse"/>
         <wsdl:fault name="ServiceException" message="iface:ServiceException"/>
         <wsdl:fault name="PolicyException" message="iface:PolicyException"/>
      </wsdl:operation>
      <wsdl:operation name="getServiceAccessPathDetails">
         <wsdl:input message="iface:getServiceAccessPathDetails"/>
         <wsdl:output message="iface:getServiceAccessPathDetailsResponse"/>
         <wsdl:fault name="ServiceException" message="iface:ServiceException"/>
         <wsdl:fault name="PolicyException" message="iface:PolicyException"/>
      </wsdl:operation>
      <wsdl:operation name="getNetworkServiceProfile">
         <wsdl:input message="iface:getNetworkServiceProfile"/>
         <wsdl:output message="iface:getNetworkServiceProfileResponse"/>
         <wsdl:fault name="ServiceException" message="iface:ServiceException"/>
         <wsdl:fault name="PolicyException" message="iface:PolicyException"/>
      </wsdl:operation>
      <wsdl:operation name="getTraversalPathByServiceId">
         <wsdl:input message="iface:getTraversalPathByServiceId"/>
         <wsdl:output message="iface:getTraversalPathByServiceIdResponse"/>
         <wsdl:fault name="ServiceException" message="iface:ServiceException"/>
         <wsdl:fault name="PolicyException" message="iface:PolicyException"/>
      </wsdl:operation>
      <wsdl:operation name="moveTTVPort">
         <wsdl:input message="iface:moveTTVPort"/>
         <wsdl:output message="iface:moveTTVPortResponse"/>
         <wsdl:fault name="ServiceException" message="iface:ServiceException"/>
         <wsdl:fault name="PolicyException" message="iface:PolicyException"/>
      </wsdl:operation>
      <wsdl:operation name="getEquipmentService">
         <wsdl:input message="iface:getEquipmentService"/>
         <wsdl:output message="iface:getEquipmentServiceResponse"/>
         <wsdl:fault name="ServiceException" message="iface:ServiceException"/>
         <wsdl:fault name="PolicyException" message="iface:PolicyException"/>
      </wsdl:operation>
      <wsdl:operation name="ping">
         <wsdl:input message="iface:ping"/>
         <wsdl:output message="iface:pingResponse"/>
         <wsdl:fault name="ServiceException" message="iface:ServiceException"/>
         <wsdl:fault name="PolicyException" message="iface:PolicyException"/>
      </wsdl:operation>
   </wsdl:portType>
   <wsdl:binding name="InventoryService_v2_0_SOAP" type="iface:InventoryService_v2_0_PortType">
      <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
      <wsdl:operation name="getCOIDByNpaNxx">
         <wsdl:documentation/>
         <soap:operation soapAction="getCOIDByNpaNxx"/>
         <wsdl:input>
            <soap:body use="literal" parts="parameters"/>
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal" parts="result"/>
         </wsdl:output>
         <wsdl:fault name="ServiceException">
            <soap:fault name="ServiceException" use="literal"/>
         </wsdl:fault>
         <wsdl:fault name="PolicyException">
            <soap:fault name="PolicyException" use="literal"/>
         </wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="getNativeNpaNxxByCOIDAndLocation">
         <wsdl:documentation/>
         <soap:operation soapAction="getNativeNpaNxxByCOIDAndLocation"/>
         <wsdl:input>
            <soap:body use="literal" parts="parameters"/>
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal" parts="result"/>
         </wsdl:output>
         <wsdl:fault name="ServiceException">
            <soap:fault name="ServiceException" use="literal"/>
         </wsdl:fault>
         <wsdl:fault name="PolicyException">
            <soap:fault name="PolicyException" use="literal"/>
         </wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="requestTelephoneNumber">
         <wsdl:documentation/>
         <soap:operation soapAction="requestTelephoneNumber"/>
         <wsdl:input>
            <soap:body use="literal" parts="parameters"/>
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal" parts="result"/>
         </wsdl:output>
         <wsdl:fault name="ServiceException">
            <soap:fault name="ServiceException" use="literal"/>
         </wsdl:fault>
         <wsdl:fault name="PolicyException">
            <soap:fault name="PolicyException" use="literal"/>
         </wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="releaseTelephoneNumberList">
         <wsdl:documentation/>
         <soap:operation soapAction="releaseTelephoneNumberList"/>
         <wsdl:input>
            <soap:body use="literal" parts="parameters"/>
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal" parts="result"/>
         </wsdl:output>
         <wsdl:fault name="ServiceException">
            <soap:fault name="ServiceException" use="literal"/>
         </wsdl:fault>
         <wsdl:fault name="PolicyException">
            <soap:fault name="PolicyException" use="literal"/>
         </wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="reserveTelephoneNumber">
         <wsdl:documentation/>
         <soap:operation soapAction="reserveTelephoneNumber"/>
         <wsdl:input>
            <soap:body use="literal" parts="parameters"/>
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal" parts="result"/>
         </wsdl:output>
         <wsdl:fault name="ServiceException">
            <soap:fault name="ServiceException" use="literal"/>
         </wsdl:fault>
         <wsdl:fault name="PolicyException">
            <soap:fault name="PolicyException" use="literal"/>
         </wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="unreserveTelephoneNumber">
         <wsdl:documentation/>
         <soap:operation soapAction="unreserveTelephoneNumber"/>
         <wsdl:input>
            <soap:body use="literal" parts="parameters"/>
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal" parts="result"/>
         </wsdl:output>
         <wsdl:fault name="ServiceException">
            <soap:fault name="ServiceException" use="literal"/>
         </wsdl:fault>
         <wsdl:fault name="PolicyException">
            <soap:fault name="PolicyException" use="literal"/>
         </wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="getServiceAccessPathDetails">
         <wsdl:documentation>Operation used to retrieve service paths for wireline service instances.</wsdl:documentation>
         <soap:operation soapAction="getServiceAccessPathDetails"/>
         <wsdl:input>
            <soap:body use="literal" parts="parameters"/>
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal" parts="result"/>
         </wsdl:output>
         <wsdl:fault name="ServiceException">
            <soap:fault name="ServiceException" use="literal"/>
         </wsdl:fault>
         <wsdl:fault name="PolicyException">
            <soap:fault name="PolicyException" use="literal"/>
         </wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="getNetworkServiceProfile">
         <wsdl:documentation>get customer network profiles for TV and HSIA</wsdl:documentation>
         <soap:operation soapAction="getNetworkServiceProfile"/>
         <wsdl:input>
            <soap:body use="literal" parts="parameters"/>
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal" parts="result"/>
         </wsdl:output>
         <wsdl:fault name="ServiceException">
            <soap:fault name="ServiceException" use="literal"/>
         </wsdl:fault>
         <wsdl:fault name="PolicyException">
            <soap:fault name="PolicyException" use="literal"/>
         </wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="getTraversalPathByServiceId">
         <wsdl:documentation>getTraversalPathByServiceId</wsdl:documentation>
         <soap:operation soapAction="getTraversalPathByServiceId"/>
         <wsdl:input>
            <soap:body use="literal" parts="parameters"/>
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal" parts="result"/>
         </wsdl:output>
         <wsdl:fault name="ServiceException">
            <soap:fault name="ServiceException" use="literal"/>
         </wsdl:fault>
         <wsdl:fault name="PolicyException">
            <soap:fault name="PolicyException" use="literal"/>
         </wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="moveTTVPort">
         <wsdl:documentation>moveTTVPort</wsdl:documentation>
         <soap:operation soapAction="moveTTVPort"/>
         <wsdl:input>
            <soap:body use="literal" parts="parameters"/>
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal" parts="result"/>
         </wsdl:output>
         <wsdl:fault name="ServiceException">
            <soap:fault name="ServiceException" use="literal"/>
         </wsdl:fault>
         <wsdl:fault name="PolicyException">
            <soap:fault name="PolicyException" use="literal"/>
         </wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="getEquipmentService">
         <wsdl:documentation>getEquipmentService</wsdl:documentation>
         <soap:operation soapAction="getEquipmentService"/>
         <wsdl:input>
            <soap:body use="literal" parts="parameters"/>
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal" parts="result"/>
         </wsdl:output>
         <wsdl:fault name="ServiceException">
            <soap:fault name="ServiceException" use="literal"/>
         </wsdl:fault>
         <wsdl:fault name="PolicyException">
            <soap:fault name="PolicyException" use="literal"/>
         </wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="ping">
         <wsdl:documentation/>
         <soap:operation soapAction="ping"/>
         <wsdl:input>
            <soap:body parts="parameters" use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:body parts="result" use="literal"/>
         </wsdl:output>
         <wsdl:fault name="ServiceException">
            <soap:fault name="ServiceException" use="literal"/>
         </wsdl:fault>
         <wsdl:fault name="PolicyException">
            <soap:fault name="PolicyException" use="literal"/>
         </wsdl:fault>
      </wsdl:operation>
   </wsdl:binding>
   <wsdl:service name="InventoryService_v2_0">
      <wsdl:port name="InventoryServicePort" binding="iface:InventoryService_v2_0_SOAP">
         <soap:address location="http://cmf-ffhorderprovision-west-dv01.tsl.telus.com/SMO/InventoryMgmt/Activation/InventoryService_v2_0"/>
      </wsdl:port>
   </wsdl:service>
</wsdl:definitions>