ewlnss-adapter-wsdl/ConsumerIdentityProfileMgmtSvc-ws-client/src/main/resources/wsdls/ConsumerIdentityProfileManagementService_v1_0.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy"
                  xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                  xmlns:wss="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd"
                  xmlns:xs="http://www.w3.org/2001/XMLSchema"
                  xmlns:ping="http://xmlschema.tmi.telus.com/xsd/Enterprise/BaseTypes/types/ping_v1"
                  xmlns:ex="http://xmlschema.tmi.telus.com/xsd/common/exceptions/Exceptions_v1_0"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:iface="http://telus.com/wsdl/CMO/InformationMgmt/ConsumerIdentityProfileManagementService_1"
                  xmlns:rr="http://xmlschema.tmi.telus.com/srv/CMO/InformationMgmt/ConsumerIdentityProfileMgmtSvcRequestResponse_v1"
                  name="ConsumerIdentityProfileManagementService_v1_0.wsdl"
                  targetNamespace="http://telus.com/wsdl/CMO/InformationMgmt/ConsumerIdentityProfileManagementService_1"><!--	Generated File:
			This file was generated by the following xslt:
				http://xmlschema.tmi.telus.com/xsd/common/utils/xmlToWsdl/xmlToWsdl_v2_6.xslt
			Based on a ServiceDefinition.xml file that conforms to the following schema:
				http://xmlschema.tmi.telus.com/xsd/common/utils/xmlToWsdl/ServiceDefinition_v3_0.xsd
			--><wsdl:documentation>
            This service manages consumer identity profile (e.g. telus PIN).
        </wsdl:documentation>
   <wsdl:types>
      <xsd:schema targetNamespace="http://telus.com/wsdl/CMO/InformationMgmt/ConsumerIdentityProfileManagementService_1">
         <xsd:import namespace="http://xmlschema.tmi.telus.com/srv/CMO/InformationMgmt/ConsumerIdentityProfileMgmtSvcRequestResponse_v1"
                     schemaLocation="http://xmlschema.tmi.telus.com/srv/CMO/InformationMgmt/ConsumerIdentityProfileMgmtSvcRequestResponse_v1_0.xsd"/>
         <xsd:import namespace="http://xmlschema.tmi.telus.com/xsd/common/exceptions/Exceptions_v1_0"
                     schemaLocation="http://xmlschema.tmi.telus.com/xsd/common/exceptions/Exceptions_v1_0.xsd"/>
         <xsd:import namespace="http://xmlschema.tmi.telus.com/xsd/Enterprise/BaseTypes/types/ping_v1"
                     schemaLocation="http://xmlschema.tmi.telus.com/xsd/Enterprise/BaseTypes/types/ping_v1.xsd"/>
      </xsd:schema>
   </wsdl:types>
   <wsdl:message name="getCurrentOwnerIdentityCredentialByType">
      <wsdl:part name="parameters" element="rr:getCurrentOwnerIdentityCredentialByType"/>
   </wsdl:message>
   <wsdl:message name="getCurrentOwnerIdentityCredentialByTypeResponse">
      <wsdl:part name="result" element="rr:getCurrentOwnerIdentityCredentialByTypeResponse"/>
   </wsdl:message>
   <wsdl:message name="updateOwnerIdentityCredential">
      <wsdl:part name="parameters" element="rr:updateOwnerIdentityCredential"/>
   </wsdl:message>
   <wsdl:message name="updateOwnerIdentityCredentialResponse">
      <wsdl:part name="result" element="rr:updateOwnerIdentityCredentialResponse"/>
   </wsdl:message>
   <wsdl:message name="ping">
      <wsdl:part name="parameters" element="ping:ping"/>
   </wsdl:message>
   <wsdl:message name="pingResponse">
      <wsdl:part name="result" element="ping:pingResponse"/>
   </wsdl:message>
   <wsdl:message name="ServiceException">
      <wsdl:part name="fault" element="ex:ServiceException"/>
   </wsdl:message>
   <wsdl:message name="PolicyException">
      <wsdl:part name="fault" element="ex:PolicyException"/>
   </wsdl:message>
   <wsdl:portType name="ConsumerIdentityProfileManagementServicePortType">
      <wsdl:operation name="getCurrentOwnerIdentityCredentialByType">
         <wsdl:input message="iface:getCurrentOwnerIdentityCredentialByType"/>
         <wsdl:output message="iface:getCurrentOwnerIdentityCredentialByTypeResponse"/>
         <wsdl:fault name="ServiceException" message="iface:ServiceException"/>
         <wsdl:fault name="PolicyException" message="iface:PolicyException"/>
      </wsdl:operation>
      <wsdl:operation name="updateOwnerIdentityCredential">
         <wsdl:input message="iface:updateOwnerIdentityCredential"/>
         <wsdl:output message="iface:updateOwnerIdentityCredentialResponse"/>
         <wsdl:fault name="ServiceException" message="iface:ServiceException"/>
         <wsdl:fault name="PolicyException" message="iface:PolicyException"/>
      </wsdl:operation>
      <wsdl:operation name="ping">
         <wsdl:input message="iface:ping"/>
         <wsdl:output message="iface:pingResponse"/>
         <wsdl:fault name="ServiceException" message="iface:ServiceException"/>
         <wsdl:fault name="PolicyException" message="iface:PolicyException"/>
      </wsdl:operation>
   </wsdl:portType>
   <wsdl:binding name="ConsumerIdentityProfileManagementServiceSOAP"
                 type="iface:ConsumerIdentityProfileManagementServicePortType">
      <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
      <wsdl:operation name="getCurrentOwnerIdentityCredentialByType">
         <wsdl:documentation>
            Get customer current owner identity profile credential of certain type, e.g.telus PIN,
            from Identity Profile PDS. Assumption here is that PINs are syncronized in both
            the PDS and Knowability.
        </wsdl:documentation>
         <soap:operation soapAction="getCurrentOwnerIdentityCredentialByType"/>
         <wsdl:input>
            <soap:body use="literal" parts="parameters"/>
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal" parts="result"/>
         </wsdl:output>
         <wsdl:fault name="ServiceException">
            <soap:fault name="ServiceException" use="literal"/>
         </wsdl:fault>
         <wsdl:fault name="PolicyException">
            <soap:fault name="PolicyException" use="literal"/>
         </wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="updateOwnerIdentityCredential">
         <wsdl:documentation>
           Update owner identity credential, e.g.telus PIN, in both 
           the Identity Profile data store and Knowability for wireless customers, and Identity Profile
           data store for the wire line customers.
        </wsdl:documentation>
         <soap:operation soapAction="updateOwnerIdentityCredential"/>
         <wsdl:input>
            <soap:body use="literal" parts="parameters"/>
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal" parts="result"/>
         </wsdl:output>
         <wsdl:fault name="ServiceException">
            <soap:fault name="ServiceException" use="literal"/>
         </wsdl:fault>
         <wsdl:fault name="PolicyException">
            <soap:fault name="PolicyException" use="literal"/>
         </wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="ping">
         <wsdl:documentation/>
         <soap:operation soapAction="ping"/>
         <wsdl:input>
            <soap:body parts="parameters" use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:body parts="result" use="literal"/>
         </wsdl:output>
         <wsdl:fault name="ServiceException">
            <soap:fault name="ServiceException" use="literal"/>
         </wsdl:fault>
         <wsdl:fault name="PolicyException">
            <soap:fault name="PolicyException" use="literal"/>
         </wsdl:fault>
      </wsdl:operation>
   </wsdl:binding>
   <wsdl:service name="ConsumerIdentityProfileManagementService_v1_0">
      <wsdl:port name="ConsumerIdentityProfileManagementServicePort"
                 binding="iface:ConsumerIdentityProfileManagementServiceSOAP">
         <soap:address location="http://cm-custinfomgmt-west-dv01.tsl.telus.com/CMO/InformationMgmt/IdentityProfileManagement/ConsumerIdentityProfileManagementService_v1_0"/>
      </wsdl:port>
   </wsdl:service>
</wsdl:definitions>