ewlnss-adapter-wsdl/EnterpriseConsumerProfileRegistrationSvc-ws-client/src/main/resources/wsdls/EnterpriseConsumerProfileRegistrationSvc_v1_1.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy"
                  xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                  xmlns:wss="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd"
                  xmlns:xs="http://www.w3.org/2001/XMLSchema"
                  xmlns:ping="http://xmlschema.tmi.telus.com/xsd/Enterprise/BaseTypes/types/ping_v2"
                  xmlns:ex="http://xmlschema.tmi.telus.com/xsd/Enterprise/BaseTypes/Exceptions_v3"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:shttp="http://soa.com/wsdl/http"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:iface="http://telus.com/wsdl/CMO/InformationMgmt/EnterpriseConsumerProfileRegistrationSvc_1"
                  xmlns:ecr="http://xmlschema.tmi.telus.com/srv/CMO/InformationMgmt/EnterpriseConsumerProfileRegistrationSvcRequestResponse_v1"
                  targetNamespace="http://telus.com/wsdl/CMO/InformationMgmt/EnterpriseConsumerProfileRegistrationSvc_1"><!--	
	Generated File:
		This file was generated by the following xslt:
			http://xmlschema.tmi.telus.com/xsd/common/utils/xmlToWsdl/xmlToWsdl_v3_2.xslt
		Based on a ServiceDefinition.xml file that conforms to the following schema:
			http://xmlschema.tmi.telus.com/xsd/common/utils/xmlToWsdl/ServiceDefinition_v3_1.xsd
			--><wsdl:types>
      <xsd:schema targetNamespace="http://telus.com/wsdl/CMO/InformationMgmt/EnterpriseConsumerProfileRegistrationSvc_1">
         <xsd:import namespace="http://xmlschema.tmi.telus.com/srv/CMO/InformationMgmt/EnterpriseConsumerProfileRegistrationSvcRequestResponse_v1"
                     schemaLocation="http://xmlschema.tmi.telus.com/srv/CMO/InformationMgmt/EnterpriseConsumerProfileRegistrationSvcRequestResponse_v1_1.xsd"/>
         <xsd:import namespace="http://xmlschema.tmi.telus.com/xsd/Enterprise/BaseTypes/Exceptions_v3"
                     schemaLocation="http://xmlschema.tmi.telus.com/xsd/Enterprise/BaseTypes/Exceptions_v3_0.xsd"/>
         <xsd:import namespace="http://xmlschema.tmi.telus.com/xsd/Enterprise/BaseTypes/types/ping_v2"
                     schemaLocation="http://xmlschema.tmi.telus.com/xsd/Enterprise/BaseTypes/types/ping_v2.xsd"/>
      </xsd:schema>
   </wsdl:types>
   <wsdl:message name="createProfileForNewAccount">
      <wsdl:part name="parameters" element="ecr:createProfileForNewAccount"/>
   </wsdl:message>
   <wsdl:message name="createProfileForNewAccountResponse">
      <wsdl:part name="result" element="ecr:createProfileForNewAccountResponse"/>
   </wsdl:message>
   <wsdl:message name="createProfileForNewSubscriber">
      <wsdl:part name="parameters" element="ecr:createProfileForNewSubscriber"/>
   </wsdl:message>
   <wsdl:message name="createProfileForNewSubscriberResponse">
      <wsdl:part name="result" element="ecr:createProfileForNewSubscriberResponse"/>
   </wsdl:message>
   <wsdl:message name="createProfileForNewCustomer">
      <wsdl:part name="parameters" element="ecr:createProfileForNewCustomer"/>
   </wsdl:message>
   <wsdl:message name="createProfileForNewCustomerResponse">
      <wsdl:part name="result" element="ecr:createProfileForNewCustomerResponse"/>
   </wsdl:message>
   <wsdl:message name="createProfileForNewRegistration">
      <wsdl:part name="parameters" element="ecr:createProfileForNewRegistration"/>
   </wsdl:message>
   <wsdl:message name="createProfileForNewRegistrationResponse">
      <wsdl:part name="result" element="ecr:createProfileForNewRegistrationResponse"/>
   </wsdl:message>
   <wsdl:message name="createProfileForSubscriberAccountMigration">
      <wsdl:part name="parameters" element="ecr:createProfileForSubscriberAccountMigration"/>
   </wsdl:message>
   <wsdl:message name="createProfileForSubscriberAccountMigrationResponse">
      <wsdl:part name="result" element="ecr:createProfileForSubscriberAccountMigrationResponse"/>
   </wsdl:message>
   <wsdl:message name="consolidateProfile">
      <wsdl:part name="parameters" element="ecr:consolidateProfile"/>
   </wsdl:message>
   <wsdl:message name="consolidateProfileResponse">
      <wsdl:part name="result" element="ecr:consolidateProfileResponse"/>
   </wsdl:message>
   <wsdl:message name="consolidateWirelessOnlyCustomerProfile">
      <wsdl:part name="parameters" element="ecr:consolidateWirelessOnlyCustomerProfile"/>
   </wsdl:message>
   <wsdl:message name="consolidateWirelessOnlyCustomerProfileResponse">
      <wsdl:part name="result" element="ecr:consolidateWirelessOnlyCustomerProfileResponse"/>
   </wsdl:message>
   <wsdl:message name="ping">
      <wsdl:part name="parameters" element="ping:ping"/>
   </wsdl:message>
   <wsdl:message name="pingResponse">
      <wsdl:part name="result" element="ping:pingResponse"/>
   </wsdl:message>
   <wsdl:message name="ServiceException">
      <wsdl:part name="fault" element="ex:ServiceException"/>
   </wsdl:message>
   <wsdl:portType name="EnterpriseConsumerProfileRegistrationSvc_v1_1_PortType">
      <wsdl:operation name="createProfileForNewAccount">
         <wsdl:input message="iface:createProfileForNewAccount"/>
         <wsdl:output message="iface:createProfileForNewAccountResponse"/>
         <wsdl:fault name="ServiceException" message="iface:ServiceException"/>
      </wsdl:operation>
      <wsdl:operation name="createProfileForNewSubscriber">
         <wsdl:input message="iface:createProfileForNewSubscriber"/>
         <wsdl:output message="iface:createProfileForNewSubscriberResponse"/>
         <wsdl:fault name="ServiceException" message="iface:ServiceException"/>
      </wsdl:operation>
      <wsdl:operation name="createProfileForNewCustomer">
         <wsdl:input message="iface:createProfileForNewCustomer"/>
         <wsdl:output message="iface:createProfileForNewCustomerResponse"/>
         <wsdl:fault name="ServiceException" message="iface:ServiceException"/>
      </wsdl:operation>
      <wsdl:operation name="createProfileForNewRegistration">
         <wsdl:input message="iface:createProfileForNewRegistration"/>
         <wsdl:output message="iface:createProfileForNewRegistrationResponse"/>
         <wsdl:fault name="ServiceException" message="iface:ServiceException"/>
      </wsdl:operation>
      <wsdl:operation name="createProfileForSubscriberAccountMigration">
         <wsdl:input message="iface:createProfileForSubscriberAccountMigration"/>
         <wsdl:output message="iface:createProfileForSubscriberAccountMigrationResponse"/>
         <wsdl:fault name="ServiceException" message="iface:ServiceException"/>
      </wsdl:operation>
      <wsdl:operation name="consolidateProfile">
         <wsdl:input message="iface:consolidateProfile"/>
         <wsdl:output message="iface:consolidateProfileResponse"/>
         <wsdl:fault name="ServiceException" message="iface:ServiceException"/>
      </wsdl:operation>
      <wsdl:operation name="consolidateWirelessOnlyCustomerProfile">
         <wsdl:input message="iface:consolidateWirelessOnlyCustomerProfile"/>
         <wsdl:output message="iface:consolidateWirelessOnlyCustomerProfileResponse"/>
         <wsdl:fault name="ServiceException" message="iface:ServiceException"/>
      </wsdl:operation>
      <wsdl:operation name="ping">
         <wsdl:input message="iface:ping"/>
         <wsdl:output message="iface:pingResponse"/>
         <wsdl:fault name="ServiceException" message="iface:ServiceException"/>
      </wsdl:operation>
   </wsdl:portType>
   <wsdl:binding name="EnterpriseConsumerProfileRegistrationSvc_v1_1_SOAP"
                 type="iface:EnterpriseConsumerProfileRegistrationSvc_v1_1_PortType">
      <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
      <wsdl:operation name="createProfileForNewAccount">
         <wsdl:documentation>creates new identity Portal profile for a new Wireless account activation and link to it as an owner role. Get's Called during Billing Account creation</wsdl:documentation>
         <soap:operation soapAction="createProfileForNewAccount"/>
         <wsdl:input>
            <soap:body use="literal" parts="parameters"/>
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal" parts="result"/>
         </wsdl:output>
         <wsdl:fault name="ServiceException">
            <soap:fault name="ServiceException" use="literal"/>
         </wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="createProfileForNewSubscriber">
         <wsdl:documentation>creates new identity Portal profile for a new Wireless Subscription activation and link to it as member.</wsdl:documentation>
         <soap:operation soapAction="createProfileForNewSubscriber"/>
         <wsdl:input>
            <soap:body use="literal" parts="parameters"/>
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal" parts="result"/>
         </wsdl:output>
         <wsdl:fault name="ServiceException">
            <soap:fault name="ServiceException" use="literal"/>
         </wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="createProfileForNewCustomer">
         <wsdl:documentation>creates new identity profile for a new customer id created during wireless Billing Account activation and link the newly created customer id with the identity
		 profile as owner.</wsdl:documentation>
         <soap:operation soapAction="createProfileForNewCustomer"/>
         <wsdl:input>
            <soap:body use="literal" parts="parameters"/>
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal" parts="result"/>
         </wsdl:output>
         <wsdl:fault name="ServiceException">
            <soap:fault name="ServiceException" use="literal"/>
         </wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="createProfileForNewRegistration">
         <wsdl:documentation>creates new identity profile and link during registration, will be implemented in future.</wsdl:documentation>
         <soap:operation soapAction="createProfileForNewRegistration"/>
         <wsdl:input>
            <soap:body use="literal" parts="parameters"/>
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal" parts="result"/>
         </wsdl:output>
         <wsdl:fault name="ServiceException">
            <soap:fault name="ServiceException" use="literal"/>
         </wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="createProfileForSubscriberAccountMigration">
         <wsdl:documentation>creates new identity profile and link during Transfer of OWNership (TOWN) and migration event, will be implemented in future.</wsdl:documentation>
         <soap:operation soapAction="createProfileForSubscriberAccountMigration"/>
         <wsdl:input>
            <soap:body use="literal" parts="parameters"/>
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal" parts="result"/>
         </wsdl:output>
         <wsdl:fault name="ServiceException">
            <soap:fault name="ServiceException" use="literal"/>
         </wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="consolidateProfile">
         <wsdl:documentation>consolidate profiles when two customer account for same customer gets merged.  Active permission linkage on terminating customer id  will get linked to 
		surviving customer. </wsdl:documentation>
         <soap:operation soapAction="consolidateProfile"/>
         <wsdl:input>
            <soap:body use="literal" parts="parameters"/>
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal" parts="result"/>
         </wsdl:output>
         <wsdl:fault name="ServiceException">
            <soap:fault name="ServiceException" use="literal"/>
         </wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="consolidateWirelessOnlyCustomerProfile">
         <wsdl:documentation>This operation will make sure that same identity Profile gets linked to wireless only customer id and its respective wireless Billing Account.</wsdl:documentation>
         <soap:operation soapAction="consolidateWirelessOnlyCustomerProfile"/>
         <wsdl:input>
            <soap:body use="literal" parts="parameters"/>
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal" parts="result"/>
         </wsdl:output>
         <wsdl:fault name="ServiceException">
            <soap:fault name="ServiceException" use="literal"/>
         </wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="ping">
         <wsdl:documentation/>
         <soap:operation soapAction="ping"/>
         <wsdl:input>
            <soap:body parts="parameters" use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:body parts="result" use="literal"/>
         </wsdl:output>
         <wsdl:fault name="ServiceException">
            <soap:fault name="ServiceException" use="literal"/>
         </wsdl:fault>
      </wsdl:operation>
   </wsdl:binding>
   <wsdl:service name="EnterpriseConsumerProfileRegistrationSvc_v1_1">
      <wsdl:port name="EnterpriseConsumerProfileRegistrationSvcPort"
                 binding="iface:EnterpriseConsumerProfileRegistrationSvc_v1_1_SOAP">
         <soap:address location="http://cm-identitysvr-entk-dv01.tsl.telus.com/v1-1/cmo/informationmgmt/registration/enterpriseconsumerprofileregistrationsvc-v1-1"/>
      </wsdl:port>
   </wsdl:service>
</wsdl:definitions>