ewlnss-wsdl/ewlnss-esvs-wsdl/src/main/resources/wsdls/EnterpriseSalesValidationService_v5_0.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy"
                  xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                  xmlns:wss="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd"
                  xmlns:xs="http://www.w3.org/2001/XMLSchema"
                  xmlns:ping="http://xmlschema.tmi.telus.com/xsd/Enterprise/BaseTypes/types/ping_v1"
                  xmlns:ex="http://xmlschema.tmi.telus.com/xsd/Enterprise/BaseTypes/Exceptions_v3"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:shttp="http://soa.com/wsdl/http"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:iface="http://telus.com/wsdl/MSO/ChannelSalesMgmt/EnterpriseSalesValidationService_5"
                  xmlns:csm="http://xmlschema.tmi.telus.com/srv/MSO/ChannelSalesMgmt/EnterpriseSalesValidationServiceRequestResponse_v5"
                  targetNamespace="http://telus.com/wsdl/MSO/ChannelSalesMgmt/EnterpriseSalesValidationService_5"><!--	
	Generated File:
		This file was generated by the following xslt:
			http://xmlschema.tmi.telus.com/xsd/common/utils/xmlToWsdl/xmlToWsdl_v4_1.xslt
		Based on a ServiceDefinition.xml file that conforms to the following schema:
			http://xmlschema.tmi.telus.com/xsd/common/utils/xmlToWsdl/ServiceDefinition_v3_3.xsd
				--><wsdl:types>
      <xsd:schema targetNamespace="http://telus.com/wsdl/MSO/ChannelSalesMgmt/EnterpriseSalesValidationService_5">
         <xsd:import namespace="http://xmlschema.tmi.telus.com/srv/MSO/ChannelSalesMgmt/EnterpriseSalesValidationServiceRequestResponse_v5"
                     schemaLocation="http://xmlschema.tmi.telus.com/srv/MSO/ChannelSalesMgmt/EnterpriseSalesValidationServiceRequestResponse_v5_16.xsd"/>
         <xsd:import namespace="http://xmlschema.tmi.telus.com/xsd/Enterprise/BaseTypes/Exceptions_v3"
                     schemaLocation="http://xmlschema.tmi.telus.com/xsd/Enterprise/BaseTypes/Exceptions_v3_0.xsd"/>
         <xsd:import namespace="http://xmlschema.tmi.telus.com/xsd/Enterprise/BaseTypes/types/ping_v1"
                     schemaLocation="http://xmlschema.tmi.telus.com/xsd/Enterprise/BaseTypes/types/ping_v1.xsd"/>
      </xsd:schema>
   </wsdl:types>
   <wsdl:message name="getSalesEligibility">
      <wsdl:part name="parameters" element="csm:getSalesEligibility"/>
   </wsdl:message>
   <wsdl:message name="getSalesEligibilityResponse">
      <wsdl:part name="result" element="csm:getSalesEligibilityResponse"/>
   </wsdl:message>
   <wsdl:message name="getSubscriberEligibility">
      <wsdl:part name="parameters" element="csm:getSubscriberEligibility"/>
   </wsdl:message>
   <wsdl:message name="getSubscriberEligibilityResponse">
      <wsdl:part name="result" element="csm:getSubscriberEligibilityResponse"/>
   </wsdl:message>
   <wsdl:message name="validateSalesOrder">
      <wsdl:part name="parameters" element="csm:validateSalesOrder"/>
   </wsdl:message>
   <wsdl:message name="validateSalesOrderResponse">
      <wsdl:part name="result" element="csm:validateSalesOrderResponse"/>
   </wsdl:message>
   <wsdl:message name="getNumberPortInEligibility">
      <wsdl:part name="parameters" element="csm:getNumberPortInEligibility"/>
   </wsdl:message>
   <wsdl:message name="getNumberPortInEligibilityResponse">
      <wsdl:part name="result" element="csm:getNumberPortInEligibilityResponse"/>
   </wsdl:message>
   <wsdl:message name="getFutureDatedSalesEligibility">
      <wsdl:part name="parameters" element="csm:getFutureDatedSalesEligibility"/>
   </wsdl:message>
   <wsdl:message name="getFutureDatedSalesEligibilityResponse">
      <wsdl:part name="result" element="csm:getFutureDatedSalesEligibilityResponse"/>
   </wsdl:message>
   <wsdl:message name="validatePendingTransactionForResume">
      <wsdl:part name="parameters" element="csm:validatePendingTransactionForResume"/>
   </wsdl:message>
   <wsdl:message name="validatePendingTransactionForResumeResponse">
      <wsdl:part name="result" element="csm:validatePendingTransactionForResumeResponse"/>
   </wsdl:message>
   <wsdl:message name="validateSalesOrderItem">
      <wsdl:part name="parameters" element="csm:validateSalesOrderItem"/>
   </wsdl:message>
   <wsdl:message name="validateSalesOrderItemResponse">
      <wsdl:part name="result" element="csm:validateSalesOrderItemResponse"/>
   </wsdl:message>
   <wsdl:message name="getCustomerEligibility">
      <wsdl:part name="parameters" element="csm:getCustomerEligibility"/>
   </wsdl:message>
   <wsdl:message name="getCustomerEligibilityResponse">
      <wsdl:part name="result" element="csm:getCustomerEligibilityResponse"/>
   </wsdl:message>
   <wsdl:message name="getServiceEligibility">
      <wsdl:part name="parameters" element="csm:getServiceEligibility"/>
   </wsdl:message>
   <wsdl:message name="getServiceEligibilityResponse">
      <wsdl:part name="result" element="csm:getServiceEligibilityResponse"/>
   </wsdl:message>
   <wsdl:message name="ping">
      <wsdl:part name="parameters" element="ping:ping"/>
   </wsdl:message>
   <wsdl:message name="pingResponse">
      <wsdl:part name="result" element="ping:pingResponse"/>
   </wsdl:message>
   <wsdl:message name="ServiceException">
      <wsdl:part name="fault" element="ex:ServiceException"/>
   </wsdl:message>
   <wsdl:portType name="EnterpriseSalesValidationService_v5_0_PortType">
      <wsdl:operation name="getSalesEligibility">
         <wsdl:input message="iface:getSalesEligibility"/>
         <wsdl:output message="iface:getSalesEligibilityResponse"/>
         <wsdl:fault name="ServiceException" message="iface:ServiceException"/>
      </wsdl:operation>
      <wsdl:operation name="getSubscriberEligibility">
         <wsdl:input message="iface:getSubscriberEligibility"/>
         <wsdl:output message="iface:getSubscriberEligibilityResponse"/>
         <wsdl:fault name="ServiceException" message="iface:ServiceException"/>
      </wsdl:operation>
      <wsdl:operation name="validateSalesOrder">
         <wsdl:input message="iface:validateSalesOrder"/>
         <wsdl:output message="iface:validateSalesOrderResponse"/>
         <wsdl:fault name="ServiceException" message="iface:ServiceException"/>
      </wsdl:operation>
      <wsdl:operation name="getNumberPortInEligibility">
         <wsdl:input message="iface:getNumberPortInEligibility"/>
         <wsdl:output message="iface:getNumberPortInEligibilityResponse"/>
         <wsdl:fault name="ServiceException" message="iface:ServiceException"/>
      </wsdl:operation>
      <wsdl:operation name="getFutureDatedSalesEligibility">
         <wsdl:input message="iface:getFutureDatedSalesEligibility"/>
         <wsdl:output message="iface:getFutureDatedSalesEligibilityResponse"/>
         <wsdl:fault name="ServiceException" message="iface:ServiceException"/>
      </wsdl:operation>
      <wsdl:operation name="validatePendingTransactionForResume">
         <wsdl:input message="iface:validatePendingTransactionForResume"/>
         <wsdl:output message="iface:validatePendingTransactionForResumeResponse"/>
         <wsdl:fault name="ServiceException" message="iface:ServiceException"/>
      </wsdl:operation>
      <wsdl:operation name="validateSalesOrderItem">
         <wsdl:input message="iface:validateSalesOrderItem"/>
         <wsdl:output message="iface:validateSalesOrderItemResponse"/>
         <wsdl:fault name="ServiceException" message="iface:ServiceException"/>
      </wsdl:operation>
      <wsdl:operation name="getCustomerEligibility">
         <wsdl:input message="iface:getCustomerEligibility"/>
         <wsdl:output message="iface:getCustomerEligibilityResponse"/>
         <wsdl:fault name="ServiceException" message="iface:ServiceException"/>
      </wsdl:operation>
      <wsdl:operation name="getServiceEligibility">
         <wsdl:input message="iface:getServiceEligibility"/>
         <wsdl:output message="iface:getServiceEligibilityResponse"/>
         <wsdl:fault name="ServiceException" message="iface:ServiceException"/>
      </wsdl:operation>
      <wsdl:operation name="ping">
         <wsdl:input message="iface:ping"/>
         <wsdl:output message="iface:pingResponse"/>
         <wsdl:fault name="ServiceException" message="iface:ServiceException"/>
      </wsdl:operation>
   </wsdl:portType>
   <wsdl:binding name="EnterpriseSalesValidationService_v5_0_SOAP"
                 type="iface:EnterpriseSalesValidationService_v5_0_PortType">
      <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
      <wsdl:operation name="getSalesEligibility">
         <wsdl:documentation>This operation is to provide sales eligibility result based on account status, subscriber status, bill history, credit record, last sales transaction. Sales level eligibility results determine whether a customer is to allow to start a new renewal/upgrade transaction or to allow to perform a return or exchange transaction.</wsdl:documentation>
         <soap:operation soapAction="getSalesEligibility"/>
         <wsdl:input>
            <soap:body use="literal" parts="parameters"/>
            <wsp:Policy>
               <wsp:PolicyReference URI="http://xmlschema.tmi.telus.com/srv/policies/Saml1.1-SenderVouches.xml"/>
            </wsp:Policy>
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal" parts="result"/>
         </wsdl:output>
         <wsdl:fault name="ServiceException">
            <soap:fault name="ServiceException" use="literal"/>
         </wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="getSubscriberEligibility">
         <wsdl:documentation>This operation is to provide subscriber level eligibility result based on account status, subscriber status, credit record. Subscriber level eligibility results determine whether a customer requires to pay security deposit, IDD deposit or to allow to pay outstanding balance repayment on till.</wsdl:documentation>
         <soap:operation soapAction="getSubscriberEligibility"/>
         <wsdl:input>
            <soap:body use="literal" parts="parameters"/>
            <wsp:Policy>
               <wsp:PolicyReference URI="http://xmlschema.tmi.telus.com/srv/policies/Saml1.1-SenderVouches.xml"/>
            </wsp:Policy>
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal" parts="result"/>
         </wsdl:output>
         <wsdl:fault name="ServiceException">
            <soap:fault name="ServiceException" use="literal"/>
         </wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="validateSalesOrder">
         <wsdl:documentation>This operation is to provide wireless sales order validation for contract, offer, device, plan and service. Validation results determines whether sales order is ready for fulfillment without error due to conflict or violation of sales rules.</wsdl:documentation>
         <soap:operation soapAction="validateSalesOrder"/>
         <wsdl:input>
            <soap:body use="literal" parts="parameters"/>
            <wsp:Policy>
               <wsp:PolicyReference URI="http://xmlschema.tmi.telus.com/srv/policies/Saml1.1-SenderVouches.xml"/>
            </wsp:Policy>
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal" parts="result"/>
         </wsdl:output>
         <wsdl:fault name="ServiceException">
            <soap:fault name="ServiceException" use="literal"/>
         </wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="getNumberPortInEligibility">
         <wsdl:documentation>This operation is to provide number port in eligibility based on WNP port in validation result.</wsdl:documentation>
         <soap:operation soapAction="getNumberPortInEligibility"/>
         <wsdl:input>
            <soap:body use="literal" parts="parameters"/>
            <wsp:Policy>
               <wsp:PolicyReference URI="http://xmlschema.tmi.telus.com/srv/policies/Saml1.1-SenderVouches.xml"/>
            </wsp:Policy>
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal" parts="result"/>
         </wsdl:output>
         <wsdl:fault name="ServiceException">
            <soap:fault name="ServiceException" use="literal"/>
         </wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="getFutureDatedSalesEligibility">
         <wsdl:documentation>This operation is to provide future dated sales eligibility (FDA). If eligible, wireless order can be submitted and to be activated in a future date.</wsdl:documentation>
         <soap:operation soapAction="getFutureDatedSalesEligibility"/>
         <wsdl:input>
            <soap:body use="literal" parts="parameters"/>
            <wsp:Policy>
               <wsp:PolicyReference URI="http://xmlschema.tmi.telus.com/srv/policies/Saml1.1-SenderVouches.xml"/>
            </wsp:Policy>
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal" parts="result"/>
         </wsdl:output>
         <wsdl:fault name="ServiceException">
            <soap:fault name="ServiceException" use="literal"/>
         </wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="validatePendingTransactionForResume">
         <wsdl:documentation>This operation is to validate pending wireless sales transaction before resume.</wsdl:documentation>
         <soap:operation soapAction="validatePendingTransactionForResume"/>
         <wsdl:input>
            <soap:body use="literal" parts="parameters"/>
            <wsp:Policy>
               <wsp:PolicyReference URI="http://xmlschema.tmi.telus.com/srv/policies/Saml1.1-SenderVouches.xml"/>
            </wsp:Policy>
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal" parts="result"/>
         </wsdl:output>
         <wsdl:fault name="ServiceException">
            <soap:fault name="ServiceException" use="literal"/>
         </wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="validateSalesOrderItem">
         <wsdl:documentation>This operation is to validate additional sales items which is associated with an activation or renewal transaction. Sales item can be accessory, perk and warranty.</wsdl:documentation>
         <soap:operation soapAction="validateSalesOrderItem"/>
         <wsdl:input>
            <soap:body use="literal" parts="parameters"/>
            <wsp:Policy>
               <wsp:PolicyReference URI="http://xmlschema.tmi.telus.com/srv/policies/Saml1.1-SenderVouches.xml"/>
            </wsp:Policy>
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal" parts="result"/>
         </wsdl:output>
         <wsdl:fault name="ServiceException">
            <soap:fault name="ServiceException" use="literal"/>
         </wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="getCustomerEligibility">
         <wsdl:documentation>This operation is to get customer eligibility for wireline product and service based on credit result. The eligibility includes credit profile and treatment and fraud info.</wsdl:documentation>
         <soap:operation soapAction="getCustomerEligibility"/>
         <wsdl:input>
            <soap:body use="literal" parts="parameters"/>
            <wsp:Policy>
               <wsp:PolicyReference URI="http://xmlschema.tmi.telus.com/srv/policies/Saml1.1-SenderVouches.xml"/>
            </wsp:Policy>
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal" parts="result"/>
         </wsdl:output>
         <wsdl:fault name="ServiceException">
            <soap:fault name="ServiceException" use="literal"/>
         </wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="getServiceEligibility">
         <wsdl:documentation>This operation is to get service eligibility details based on the services selected by the customer.</wsdl:documentation>
         <soap:operation soapAction="getServiceEligibility"/>
         <wsdl:input>
            <soap:body use="literal" parts="parameters"/>
            <wsp:Policy>
               <wsp:PolicyReference URI="http://xmlschema.tmi.telus.com/srv/policies/Saml1.1-SenderVouches.xml"/>
            </wsp:Policy>
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal" parts="result"/>
         </wsdl:output>
         <wsdl:fault name="ServiceException">
            <soap:fault name="ServiceException" use="literal"/>
         </wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="ping">
         <wsdl:documentation/>
         <soap:operation soapAction="ping"/>
         <wsdl:input>
            <soap:body parts="parameters" use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:body parts="result" use="literal"/>
         </wsdl:output>
         <wsdl:fault name="ServiceException">
            <soap:fault name="ServiceException" use="literal"/>
         </wsdl:fault>
      </wsdl:operation>
   </wsdl:binding>
   <wsdl:service name="EnterpriseSalesValidationService_v5_0">
      <wsdl:port name="EnterpriseSalesValidationServicePort"
                 binding="iface:EnterpriseSalesValidationService_v5_0_SOAP">
         <soap:address location="http://channelsalesmgmt-bussvc-dv103.tsl.telus.com/MSO/ChannelSalesMgmt/EnterpriseSalesValidationService_v5_0/EnterpriseSalesValidationService_v5_0"/>
      </wsdl:port>
   </wsdl:service>
</wsdl:definitions>
