ewlnss-adapter-wsdl/EnterpriseSalesFulfillmentService-ws-client/src/main/resources/wsdls/EnterpriseSalesFulfillmentService_v5_0.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy"
                  xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                  xmlns:wss="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd"
                  xmlns:xs="http://www.w3.org/2001/XMLSchema"
                  xmlns:ping="http://xmlschema.tmi.telus.com/xsd/Enterprise/BaseTypes/types/ping_v1"
                  xmlns:ex="http://xmlschema.tmi.telus.com/xsd/Enterprise/BaseTypes/Exceptions_v3"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:shttp="http://soa.com/wsdl/http"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:iface="http://telus.com/wsdl/MSO/ChannelSalesMgmt/EnterpriseSalesFulfillmentService_5"
                  xmlns:csm="http://xmlschema.tmi.telus.com/srv/MSO/ChannelSalesMgmt/EnterpriseSalesFulfillmentServiceRequestResponse_v5"
                  targetNamespace="http://telus.com/wsdl/MSO/ChannelSalesMgmt/EnterpriseSalesFulfillmentService_5"><!--	
	Generated File:
		This file was generated by the following xslt:
			http://xmlschema.tmi.telus.com/xsd/common/utils/xmlToWsdl/xmlToWsdl_v4_0.xslt
		Based on a ServiceDefinition.xml file that conforms to the following schema:
			http://xmlschema.tmi.telus.com/xsd/common/utils/xmlToWsdl/ServiceDefinition_v3_2.xsd
				--><wsdl:types>
      <xsd:schema targetNamespace="http://telus.com/wsdl/MSO/ChannelSalesMgmt/EnterpriseSalesFulfillmentService_5">
         <xsd:import namespace="http://xmlschema.tmi.telus.com/srv/MSO/ChannelSalesMgmt/EnterpriseSalesFulfillmentServiceRequestResponse_v5"
                     schemaLocation="http://xmlschema.tmi.telus.com/srv/MSO/ChannelSalesMgmt/EnterpriseSalesFulfillmentServiceRequestResponse_v5_16.xsd"/>
         <xsd:import namespace="http://xmlschema.tmi.telus.com/xsd/Enterprise/BaseTypes/Exceptions_v3"
                     schemaLocation="http://xmlschema.tmi.telus.com/xsd/Enterprise/BaseTypes/Exceptions_v3_0.xsd"/>
         <xsd:import namespace="http://xmlschema.tmi.telus.com/xsd/Enterprise/BaseTypes/types/ping_v1"
                     schemaLocation="http://xmlschema.tmi.telus.com/xsd/Enterprise/BaseTypes/types/ping_v1.xsd"/>
      </xsd:schema>
   </wsdl:types>
   <wsdl:message name="createSalesOrder">
      <wsdl:part name="parameters" element="csm:createSalesOrder"/>
   </wsdl:message>
   <wsdl:message name="createSalesOrderResponse">
      <wsdl:part name="result" element="csm:createSalesOrderResponse"/>
   </wsdl:message>
   <wsdl:message name="createSalesBatchOrder">
      <wsdl:part name="parameters" element="csm:createSalesBatchOrder"/>
   </wsdl:message>
   <wsdl:message name="createSalesBatchOrderResponse">
      <wsdl:part name="result" element="csm:createSalesBatchOrderResponse"/>
   </wsdl:message>
   <wsdl:message name="completeSalesOrder">
      <wsdl:part name="parameters" element="csm:completeSalesOrder"/>
   </wsdl:message>
   <wsdl:message name="completeSalesOrderResponse">
      <wsdl:part name="result" element="csm:completeSalesOrderResponse"/>
   </wsdl:message>
   <wsdl:message name="completeSalesBatchOrder">
      <wsdl:part name="parameters" element="csm:completeSalesBatchOrder"/>
   </wsdl:message>
   <wsdl:message name="completeSalesBatchOrderResponse">
      <wsdl:part name="result" element="csm:completeSalesBatchOrderResponse"/>
   </wsdl:message>
   <wsdl:message name="reserveSalesOrder">
      <wsdl:part name="parameters" element="csm:reserveSalesOrder"/>
   </wsdl:message>
   <wsdl:message name="reserveSalesOrderResponse">
      <wsdl:part name="result" element="csm:reserveSalesOrderResponse"/>
   </wsdl:message>
   <wsdl:message name="unreserveSalesOrder">
      <wsdl:part name="parameters" element="csm:unreserveSalesOrder"/>
   </wsdl:message>
   <wsdl:message name="unreserveSalesOrderResponse">
      <wsdl:part name="result" element="csm:unreserveSalesOrderResponse"/>
   </wsdl:message>
   <wsdl:message name="submitSalesToPos">
      <wsdl:part name="parameters" element="csm:submitSalesToPos"/>
   </wsdl:message>
   <wsdl:message name="submitSalesToPosResponse">
      <wsdl:part name="result" element="csm:submitSalesToPosResponse"/>
   </wsdl:message>
   <wsdl:message name="cancelSalesOrder">
      <wsdl:part name="parameters" element="csm:cancelSalesOrder"/>
   </wsdl:message>
   <wsdl:message name="cancelSalesOrderResponse">
      <wsdl:part name="result" element="csm:cancelSalesOrderResponse"/>
   </wsdl:message>
   <wsdl:message name="updatePendingSalesOrder">
      <wsdl:part name="parameters" element="csm:updatePendingSalesOrder"/>
   </wsdl:message>
   <wsdl:message name="updatePendingSalesOrderResponse">
      <wsdl:part name="result" element="csm:updatePendingSalesOrderResponse"/>
   </wsdl:message>
   <wsdl:message name="updateSalesOrder">
      <wsdl:part name="parameters" element="csm:updateSalesOrder"/>
   </wsdl:message>
   <wsdl:message name="updateSalesOrderResponse">
      <wsdl:part name="result" element="csm:updateSalesOrderResponse"/>
   </wsdl:message>
   <wsdl:message name="returnSalesOrder">
      <wsdl:part name="parameters" element="csm:returnSalesOrder"/>
   </wsdl:message>
   <wsdl:message name="returnSalesOrderResponse">
      <wsdl:part name="result" element="csm:returnSalesOrderResponse"/>
   </wsdl:message>
   <wsdl:message name="createSalesOrderItem">
      <wsdl:part name="parameters" element="csm:createSalesOrderItem"/>
   </wsdl:message>
   <wsdl:message name="createSalesOrderItemResponse">
      <wsdl:part name="result" element="csm:createSalesOrderItemResponse"/>
   </wsdl:message>
   <wsdl:message name="createWirelineSalesOrder">
      <wsdl:part name="parameters" element="csm:createWirelineSalesOrder"/>
   </wsdl:message>
   <wsdl:message name="createWirelineSalesOrderResponse">
      <wsdl:part name="result" element="csm:createWirelineSalesOrderResponse"/>
   </wsdl:message>
   <wsdl:message name="getSalesOrderByShoppingCart">
      <wsdl:part name="parameters" element="csm:getSalesOrderByShoppingCart"/>
   </wsdl:message>
   <wsdl:message name="getSalesOrderByShoppingCartResponse">
      <wsdl:part name="result" element="csm:getSalesOrderByShoppingCartResponse"/>
   </wsdl:message>
   <wsdl:message name="ping">
      <wsdl:part name="parameters" element="ping:ping"/>
   </wsdl:message>
   <wsdl:message name="pingResponse">
      <wsdl:part name="result" element="ping:pingResponse"/>
   </wsdl:message>
   <wsdl:message name="ServiceException">
      <wsdl:part name="fault" element="ex:ServiceException"/>
   </wsdl:message>
   <wsdl:portType name="EnterpriseSalesFulfillmentService_v5_0_PortType">
      <wsdl:operation name="createSalesOrder">
         <wsdl:input message="iface:createSalesOrder"/>
         <wsdl:output message="iface:createSalesOrderResponse"/>
         <wsdl:fault name="ServiceException" message="iface:ServiceException"/>
      </wsdl:operation>
      <wsdl:operation name="createSalesBatchOrder">
         <wsdl:input message="iface:createSalesBatchOrder"/>
         <wsdl:output message="iface:createSalesBatchOrderResponse"/>
         <wsdl:fault name="ServiceException" message="iface:ServiceException"/>
      </wsdl:operation>
      <wsdl:operation name="completeSalesOrder">
         <wsdl:input message="iface:completeSalesOrder"/>
         <wsdl:output message="iface:completeSalesOrderResponse"/>
         <wsdl:fault name="ServiceException" message="iface:ServiceException"/>
      </wsdl:operation>
      <wsdl:operation name="completeSalesBatchOrder">
         <wsdl:input message="iface:completeSalesBatchOrder"/>
         <wsdl:output message="iface:completeSalesBatchOrderResponse"/>
         <wsdl:fault name="ServiceException" message="iface:ServiceException"/>
      </wsdl:operation>
      <wsdl:operation name="reserveSalesOrder">
         <wsdl:input message="iface:reserveSalesOrder"/>
         <wsdl:output message="iface:reserveSalesOrderResponse"/>
         <wsdl:fault name="ServiceException" message="iface:ServiceException"/>
      </wsdl:operation>
      <wsdl:operation name="unreserveSalesOrder">
         <wsdl:input message="iface:unreserveSalesOrder"/>
         <wsdl:output message="iface:unreserveSalesOrderResponse"/>
         <wsdl:fault name="ServiceException" message="iface:ServiceException"/>
      </wsdl:operation>
      <wsdl:operation name="submitSalesToPos">
         <wsdl:input message="iface:submitSalesToPos"/>
         <wsdl:output message="iface:submitSalesToPosResponse"/>
         <wsdl:fault name="ServiceException" message="iface:ServiceException"/>
      </wsdl:operation>
      <wsdl:operation name="cancelSalesOrder">
         <wsdl:input message="iface:cancelSalesOrder"/>
         <wsdl:output message="iface:cancelSalesOrderResponse"/>
         <wsdl:fault name="ServiceException" message="iface:ServiceException"/>
      </wsdl:operation>
      <wsdl:operation name="updatePendingSalesOrder">
         <wsdl:input message="iface:updatePendingSalesOrder"/>
         <wsdl:output message="iface:updatePendingSalesOrderResponse"/>
         <wsdl:fault name="ServiceException" message="iface:ServiceException"/>
      </wsdl:operation>
      <wsdl:operation name="updateSalesOrder">
         <wsdl:input message="iface:updateSalesOrder"/>
         <wsdl:output message="iface:updateSalesOrderResponse"/>
         <wsdl:fault name="ServiceException" message="iface:ServiceException"/>
      </wsdl:operation>
      <wsdl:operation name="returnSalesOrder">
         <wsdl:input message="iface:returnSalesOrder"/>
         <wsdl:output message="iface:returnSalesOrderResponse"/>
         <wsdl:fault name="ServiceException" message="iface:ServiceException"/>
      </wsdl:operation>
      <wsdl:operation name="createSalesOrderItem">
         <wsdl:input message="iface:createSalesOrderItem"/>
         <wsdl:output message="iface:createSalesOrderItemResponse"/>
         <wsdl:fault name="ServiceException" message="iface:ServiceException"/>
      </wsdl:operation>
	  <wsdl:operation name="createWirelineSalesOrder">
         <wsdl:input message="iface:createWirelineSalesOrder"/>
         <wsdl:output message="iface:createWirelineSalesOrderResponse"/>
         <wsdl:fault name="ServiceException" message="iface:ServiceException"/>
      </wsdl:operation>
      <wsdl:operation name="getSalesOrderByShoppingCart">
         <wsdl:input message="iface:getSalesOrderByShoppingCart"/>
         <wsdl:output message="iface:getSalesOrderByShoppingCartResponse"/>
         <wsdl:fault name="ServiceException" message="iface:ServiceException"/>
      </wsdl:operation>
      <wsdl:operation name="ping">
         <wsdl:input message="iface:ping"/>
         <wsdl:output message="iface:pingResponse"/>
         <wsdl:fault name="ServiceException" message="iface:ServiceException"/>
      </wsdl:operation>
   </wsdl:portType>
   <wsdl:binding name="EnterpriseSalesFulfillmentService_v5_0_SOAP"
                 type="iface:EnterpriseSalesFulfillmentService_v5_0_PortType">
      <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
      <wsdl:operation name="createSalesOrder">
         <wsdl:documentation>This operation creates wireless sales order and fulfill order items for contract creation, service provisioning and activation. This operation supports both TELUS and Koodo brand for activation, renewal, upgrade, migration, return and exchange transactions.</wsdl:documentation>
         <soap:operation soapAction="createSalesOrder"/>
         <wsdl:input>
            <soap:body use="literal" parts="parameters"/>
 
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal" parts="result"/>
         </wsdl:output>
         <wsdl:fault name="ServiceException">
            <soap:fault name="ServiceException" use="literal"/>
         </wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="createSalesBatchOrder">
         <wsdl:documentation>This operation creates wireless sales order batch and start fulfill process for individual order items for contract creation, service provisioning and activation. This operation supports Corp. sales order, business bundle and multi-unit orders for both TELUS and Koodo brand for activation, renewal, upgrade, migration, return and exchange transactions.</wsdl:documentation>
         <soap:operation soapAction="createSalesBatchOrder"/>
         <wsdl:input>
            <soap:body use="literal" parts="parameters"/>

         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal" parts="result"/>
         </wsdl:output>
         <wsdl:fault name="ServiceException">
            <soap:fault name="ServiceException" use="literal"/>
         </wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="completeSalesOrder">
         <wsdl:documentation>This operation completes wireless sales order post service activation or renewal activities.</wsdl:documentation>
         <soap:operation soapAction="completeSalesOrder"/>
         <wsdl:input>
            <soap:body use="literal" parts="parameters"/>

         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal" parts="result"/>
         </wsdl:output>
         <wsdl:fault name="ServiceException">
            <soap:fault name="ServiceException" use="literal"/>
         </wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="completeSalesBatchOrder">
         <wsdl:documentation>This operation completes wireless sales batch order post submission. This includes processing completion of pending orders within the same batch.</wsdl:documentation>
         <soap:operation soapAction="completeSalesBatchOrder"/>
         <wsdl:input>
            <soap:body use="literal" parts="parameters"/>

         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal" parts="result"/>
         </wsdl:output>
         <wsdl:fault name="ServiceException">
            <soap:fault name="ServiceException" use="literal"/>
         </wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="reserveSalesOrder">
         <wsdl:documentation>This operation reserve a wireless sales order for customer to resume in a limited sales period. During reservation period, best hardware price and discount is guaranteed. </wsdl:documentation>
         <soap:operation soapAction="reserveSalesOrder"/>
         <wsdl:input>
            <soap:body use="literal" parts="parameters"/>

         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal" parts="result"/>
         </wsdl:output>
         <wsdl:fault name="ServiceException">
            <soap:fault name="ServiceException" use="literal"/>
         </wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="unreserveSalesOrder">
         <wsdl:documentation>This operation undo a reserved wireless sales order. Associated sales items in reservation status will also be reverted. This includes previously reserved offer.</wsdl:documentation>
         <soap:operation soapAction="unreserveSalesOrder"/>
         <wsdl:input>
            <soap:body use="literal" parts="parameters"/>
 
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal" parts="result"/>
         </wsdl:output>
         <wsdl:fault name="ServiceException">
            <soap:fault name="ServiceException" use="literal"/>
         </wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="submitSalesToPos">
         <wsdl:documentation>This operation is only for injecting wireless sales order line items to TELUS POS in TRL stores. </wsdl:documentation>
         <soap:operation soapAction="submitSalesToPos"/>
         <wsdl:input>
            <soap:body use="literal" parts="parameters"/>

         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal" parts="result"/>
         </wsdl:output>
         <wsdl:fault name="ServiceException">
            <soap:fault name="ServiceException" use="literal"/>
         </wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="cancelSalesOrder">
         <wsdl:documentation>This operation is to cancel an incomplete wireless sales order. The cancellation can be due to void POS transaction in TELUS TRL store.</wsdl:documentation>
         <soap:operation soapAction="cancelSalesOrder"/>
         <wsdl:input>
            <soap:body use="literal" parts="parameters"/>

         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal" parts="result"/>
         </wsdl:output>
         <wsdl:fault name="ServiceException">
            <soap:fault name="ServiceException" use="literal"/>
         </wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="updatePendingSalesOrder">
         <wsdl:documentation>This operation is to update an incomplete wireless sales order which is in pending state. The update can be external order reference number and status only. Original sales selection for contract, service, product type and payment arrangement cannot be changed.Update pending sales order and its status</wsdl:documentation>
         <soap:operation soapAction="updatePendingSalesOrder"/>
         <wsdl:input>
            <soap:body use="literal" parts="parameters"/>
    
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal" parts="result"/>
         </wsdl:output>
         <wsdl:fault name="ServiceException">
            <soap:fault name="ServiceException" use="literal"/>
         </wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="updateSalesOrder">
         <wsdl:documentation>This operation is to update an incomplete wireless sales order. The update can be external order reference number, device instance (new IMEI or new ICCID). Original sales selection for contract, service, product type and payment arrangement cannot be changed.</wsdl:documentation>
         <soap:operation soapAction="updateSalesOrder"/>
         <wsdl:input>
            <soap:body use="literal" parts="parameters"/>

         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal" parts="result"/>
         </wsdl:output>
         <wsdl:fault name="ServiceException">
            <soap:fault name="ServiceException" use="literal"/>
         </wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="returnSalesOrder">
         <wsdl:documentation>This operation is to return original sales order as a whole within return/exchange period after a sale is conducted.</wsdl:documentation>
         <soap:operation soapAction="returnSalesOrder"/>
         <wsdl:input>
            <soap:body use="literal" parts="parameters"/>

         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal" parts="result"/>
         </wsdl:output>
         <wsdl:fault name="ServiceException">
            <soap:fault name="ServiceException" use="literal"/>
         </wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="createSalesOrderItem">
         <wsdl:documentation>This operation is to validate additional sales items which is associated with an activation or renewal transaction. Sales item can be accessory, perk and warranty.</wsdl:documentation>
         <soap:operation soapAction="createSalesOrderItem"/>
         <wsdl:input>
            <soap:body use="literal" parts="parameters"/>

         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal" parts="result"/>
         </wsdl:output>
         <wsdl:fault name="ServiceException">
            <soap:fault name="ServiceException" use="literal"/>
         </wsdl:fault>
      </wsdl:operation>
	  <wsdl:operation name="createWirelineSalesOrder">
         <wsdl:documentation>This operation is to create wireline sales order</wsdl:documentation>
         <soap:operation soapAction="createWirelineSalesOrder"/>
         <wsdl:input>
            <soap:body use="literal" parts="parameters"/>
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal" parts="result"/>
         </wsdl:output>
         <wsdl:fault name="ServiceException">
            <soap:fault name="ServiceException" use="literal"/>
         </wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="getSalesOrderByShoppingCart">
         <wsdl:documentation>This is used to get list of sales orders associated to a given shopping cart.</wsdl:documentation>
         <soap:operation soapAction="getSalesOrderByShoppingCart"/>
         <wsdl:input>
            <soap:body use="literal" parts="parameters"/>
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal" parts="result"/>
         </wsdl:output>
         <wsdl:fault name="ServiceException">
            <soap:fault name="ServiceException" use="literal"/>
         </wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="ping">
         <wsdl:documentation/>
         <soap:operation soapAction="ping"/>
         <wsdl:input>
            <soap:body parts="parameters" use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:body parts="result" use="literal"/>
         </wsdl:output>
         <wsdl:fault name="ServiceException">
            <soap:fault name="ServiceException" use="literal"/>
         </wsdl:fault>
      </wsdl:operation>
   </wsdl:binding>
   <wsdl:service name="EnterpriseSalesFulfillmentService_v5_0">
      <wsdl:port name="EnterpriseSalesFulfillmentServicePort"
                 binding="iface:EnterpriseSalesFulfillmentService_v5_0_SOAP">
         <soap:address location="http://channelsalesmgmt-bussvc-dv103.tsl.telus.com/MSO/ChannelSalesMgmt/EnterpriseSalesFulfillmentService_v5_0/EnterpriseSalesFulfillmentService_v5_0"/>
      </wsdl:port>
   </wsdl:service>
</wsdl:definitions>